
<div class="field">
		<h3><%= PluginDescription.human_attribute_name(:title) %></h3>							
		<%= text_field 'description', 'title' %>
</div>

<div class="field">
	<div align=right>
		<a href="javascript:toggleEditor('<%= "form_content_box_#{description.id}" %>');"><%= t("label.toggle_editor") %></a>
	</div> 
	<%= text_area 'description', 'content', :class => "mceEditor", :id => "form_content_box_#{description.id}" %>
</div>

													