<% if item.is_editable_for_user?(@logged_in_user) %>
	<% descriptions = PluginDescription.find(:all, :conditions => ["item_id = ?", item.id], :order => "created_at DESC" )%>
<% else %>
	<% descriptions = PluginDescription.find(:all, :conditions => ["item_id = ? and is_approved = '1'", item.id], :order => "created_at DESC" )%>
<% end %>

	<div class="plugin_box">
		<a name="<%= plugin.model_name.human(:count => :other) %>"></a>		
		<% if @logged_in_user.group.plugin_permissions[plugin.plugin_class.name].can_create? || item.is_user_owner?(@logged_in_user) || @logged_in_user.is_admin? %>
			<div class="header title">
				<table style="width:100%" cellpadding=0 cellspacing=0>
					<tr>
						<td align=left>
							<h2 class="title"><%= descriptions.size %> <%= plugin.model_name.human(:count => descriptions.size) %> </h2>										
						</td>
						<td align=right>
							<%= icon("new") %>
							<%= link_to t("label.item_new", :item => plugin.model_name.human), {:action => "new", :controller => "plugin_descriptions", :id => item.id }, :class => "plugin_title_link" %>							
						</td>
					</tr>
				</table>				
			</div>	
		<% end %>
		<% if descriptions.size > 0  %>				
				<div class="descriptions">
					<% for description in descriptions %>
						<div id="description_box_<%= description.id %>" class="description" align=left>
							<table cellpadding=0 cellspacing=0 style="width:100%">
								<tr>
									<td align=left style="text-align:left;vertical-align:bottom"> 
										<div class="title"><%= h description.title %></div>																
									</td>
									<td align=right style="text-align:right;vertical-align:bottom">
										<%= render :partial => "plugins/plugin_item_controls", :locals => {:record => description, :date => true}%>																																																		
								 	</td>									
								</tr>
							</table>
							<div class="content">
								<%= raw description.content %>									
							</div>						
						</div>
			
							
					<% end %>
				</div>
		
		<% else %>
			<%= t("label.items_none_added", :items => plugin.model_name.human(:count => :other)) %>
		<% end %>
	</div>