<%= render :partial => "items/item_header", :locals => {:item => @item, :options => {:show_item_info => true, :show_item_title => true}} %>

<table align=center style="width:100%" cellpadding=0 cellspacing=0>
	 <tr>
	  <td align=left class="sidebar_column" valign=top style="padding:0px;text-align:center">

		<%= render :partial => "shared/html_allowed" %>				
		
	  </td>
	  <td style="width:5px;">
	  </td>
	  <td align=left valign=top >
		<div class="box_style_2" style="margin-bottom:5px">
			<h2 class="title"><%= t("label.item_new", :item => @plugin.human_name) %></h2>
			<div class="spacer"></div>		
			<%= form_tag  :action => 'create', :controller => "plugin_descriptions", :id => @item.id %>
				<%= render :partial => "form", :locals => {:description => @description, :plugin => @plugin} %>
				<br>
				<div align=center><%= submit_tag t("label.item_create", :item => @plugin.human_name), :class => "button_1" %></div>
			</form>
			
		</div>
	  </td> 
	 </tr>
</table>			

<div align=center><img src="/themes/<%= @setting[:theme] %>/images/icons/arrow_left.png" class="icon" title=""> <%= link_to t("single.back"), { :action => 'view', :controller => "items", :id => @item.id, :anchor => "#{@plugin.name}s"}  %></div>
