<div class="section">		
	<div class="header">		
		<div class="title">
			<h2 class="title">
							<%= t("single.import") %> <%= Item.model_name.human(:count => :other) %>
			</h2>						
		</div>		
	</div>

	<%= form_tag({:action => "do_import", :controller => "tools"}, :multipart => true) do %>
	   <table class="cell" cellpadding=0 cellspacing=0>
		   	<tr>
		   		<td class="main left">
		   			<div class="box_2">
		   				<%= render :partial => "upload_form" %>
		   			</div>
		   		</td>
				<td class="side right">
					<div class="box_1">
						<h2><%= t("single.format") %></h2>
						<hr />
						<input type="radio" name="format" value="csv" CHECKED> <%= t("label.csv") %> <br>
						<!--<input type="radio" name="format" value="excel"> Excel <br>-->									
					</div>							
		   			<div class="box_1">
						<h2><%= Category.model_name.human(:count => :other) %></h2>
						<hr />
						<% for category in Category.get_parent_categories  %>
							<%= descend_category(category, :include_children => @setting[:include_child_category_items], :make_radio_button => true, :truncate_length => 35)  %>
						<% end %>														   				
		   			</div>						
				</td>
		   	</tr>							
	   </table>
	   <br>
	   <div align=center>
	   		<input type="submit" value="<%= t("single.import") %> <%= Item.model_name.human(:count => :other) %>" class="button_1">	
	   </div>
	<% end %>
</div>