<div class="box_2 menu">
	<h3 class="title" align=left><%= UserMessage.model_name.human(:count => :other) %></h3>
	
	<div class="box_<%= params[:type] == "unread" ? "1" : "2" %>" >
		<%= link_to "#{UserMessage.human_attribute_name(:unread)} (#{@messages[:unread].total_entries})", {:action => params[:action], :controller => "messages", :type => "unread"} %></a>				
	</div>
	
	<div class="box_<%= params[:type] == "read" ? "1" : "2" %>" >
		<%= link_to "#{UserMessage.human_attribute_name(:read)} (#{@messages[:read].total_entries})", {:action => params[:action], :controller => "messages", :type => "read"} %></a>				
	</div>

	<div class="box_<%= params[:type] == "sent" ? "1" : "2" %> last" >
		<%= link_to "#{t("single.sent")} (#{@messages[:sent].total_entries})", {:action => params[:action], :controller => "messages", :type => "sent"} %></a>				
	</div>		
</div>
