<% content_for :side do %>
	<%= render :partial => "messages/menu" %>
<% end %>

<div id="status_box">
	<%# This is where the ajax output goes %>
</div>

<div class="header">					
	<div class="title">
		<h2 class="title">
			<% if params[:action] == "for_me" %>
				<%= t("label.item_my", :item => UserMessage.model_name.human(:count => :other)) %>
			<% else %>
				<%= t("label.items_for", :items => UserMessage.model_name.human(:count => :other), :name =>  @user.to_s) %>
			<% end %>
		</h2>					
	</div>
</div>	

<%= render :partial => "messages/list_messages", :locals => {:messages => @messages[params[:type].to_sym]} %>

<div align=center>
	<%= page_entries_info @messages[params[:type].to_sym], :entry_name => UserMessage.model_name.human(:count => :other) %>
	<%= will_paginate @messages[params[:type].to_sym] %>	
</div>	