<% content_for :side do %>
  	<%= render :partial => "users/menu" %>	
<% end %>
<div class="section">
	<div id="status_box" >
	 	<%# This is where the ajax output goes %>
	</div>  		
	<div class="header">		
		<div class="title">
			<h2 class="title">
				<%= t("single.all") %> <%= UserMessage.model_name.human(:count => :other) %>
			</h2>						
		</div>		
	</div>

	<div>
		<%= render :partial => "messages/list_messages", :locals => {:messages => @messages}%>
		<div align=center><%= page_entries_info @messages, :entry_name => "Messages" %></div>										
	</div>
	<br>	
	<div align=center>
		<%= will_paginate @messages %>	
	</div>	
</div>		 
