<% 
	options ||= Hash.new
	options[:size] ||= "normal" # display type
%>
<div class="discussion_posts">
	<% if options[:size] == "small" %>
		<table style="width:100%">
			<% for post in posts %>
				<tr>
					<td align=left style="width:20px;vertical-align:middle">
						<% if post.user_id %>																		
							<%= link_to  user_avatar(post.user, :class => "tiny"), {:action => "user", :controller => "browse", :id => post.user_id}, :title => "#{post.user.username}"  %>
						<% end %>					
					</td>
					<td align=left style="vertical-align:middle">
						<%= link_to "#{h truncate(post.post, :length => 50)}", { :action => 'view', :controller => "plugin_discussions", :id => item.id, :discussion_id => post.plugin_discussion_id, :anchor => post.id} %>		
					</td>
					<td align=right style="vertical-align:middle;text-align:right">
						<%= friendly_date post.created_at %>
					</td>
				</tr>
			<% end %>
			</table>
	<% else %>
		<div class="comments">
		<% for post in posts %>
			<div class="comment">						
				<a name="<%= post.id %>"></a>
				<table>
					<tr> 
						<td align=left class="user_column">
							<div class="user_box">
							 <% if !post.user_id.nil? && post.user_id != 0  %>
								 <% post_user = User.find(post.user_id) %>
								 <%= user_avatar(post_user, :class => "small") %>
								 <br>
								 <%= link_to post_user.username, {:action => "user", :id => post_user.id, :controller => "browse" }  %>
								 <br>
							   <% else %><%# an anonymous post %>
							   	 <% if !post.anonymous_email.nil? %>
										 <%= gravatar_image(post.anonymous_email, :class => "small") %>
								 <% else %>
						 	         <img src="/images/default_avatar.png" class="avatar_small">
								 <% end %>
								 <br>
								 <%= h post.anonymous_name %>
								 <br>							   
							   <% end %>
							</div>
						</td>
						<td align=left class="comment_column">
							<div class="comment_box <%= "comment_box_from_owner" if post.plugin_discussion.is_user_owner?(post.user) %>">
								<% content_for :record_menu_right do %>	
									<%= content_tag(:li, link_to(icon("delete"), { :action => 'delete_post', :controller => "plugin_discussions", :id => item.id, :post_id => post.id, :record_type => PluginDiscussion.name, :record_id => post.plugin_discussion_id}, :confirm =>  t("confirm.item_delete", :item => PluginDiscussionPost.model_name.human))) if post.can?(@logged_in_user, :delete)  %>
								<% end %>				
							
								<%= render :partial => "application/record_menu", :locals => {:record => post, :options => {:user => false, :date => true, :delete => false, :edit => false}} %>
															
								<div align=left>
									<%= simple_format post.post %>
								</div>
							</div>
						</td>
					</tr>
				</table>	
			</div>
		<% end %>	
		</div>	
	<% end %>
</div>

