<% if item.can?(@logged_in_user, :edit) %>
	<% discussions = PluginDiscussion.record(item).newest_first  %>
<% else %>
	<% discussions = PluginDiscussion.record(item).newest_first.approved %>
<% end %>	
<div class="plugin_box">
	<a name="<%= plugin.model_name.human(:count => :other) %>"></a>
	<% if PluginDiscussion.can?(@logged_in_user, :create, :record => @record) %>
		<div class="header title">
			<table style="width:100%" cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>
						<h2 class="title"><%= discussions.size %> <%= plugin.model_name.human(:count => :other) %></h2>										
					</td>
					<td align=right>
						<a href="javascript:toggle_box('new_discussion_box')" class="plugin_title_link">
							<%= icon("new") %>
							<%=  t("label.item_new", :item => plugin.model_name.human) %>
						</a>					
					</td>
				</tr>
			</table>				
		</div>	
		<div style="display:none" id="new_discussion_box">
			<div class="box_1">
			<h2><%=  t("label.item_new", :item => plugin.model_name.human) %></h2>
			   <%= form_tag  :action => 'create', :controller => "plugin_discussions", :id => item.id, :record_id => @record.id, :record_type => @record.class.name %>
						<img src="/themes/<%= @setting[:theme] %>/images/icons/discussion.png" class="icon">
						<input name="discussion[title]" type="text" id="discussion_title" onfocus = "focus_input('discussion_title')" onblur = "blur_input('discussion_title')"> 
			   			<%= PluginDiscussion.human_attribute_name(:title) %>									
						<input name="discussion[description]" type="text" id="discussion_description" onfocus = "focus_input('discussion_description')" onblur = "blur_input('discussion_description')"> 
			   			<%= PluginDiscussion.human_attribute_name(:description) %>
						<%= submit_tag  t("label.item_create", :item => plugin.model_name.human), :class => "button_1" %>
				</form>
			</div>
			<div align="center">
	   			<a href="javascript:toggle_box('new_discussion_box')"><%= icon("cancel") %></a>
			</div>
			<br />
		</div>

	<% end %>



	

	<% if discussions.size > 0 %>
		<div class="discussions">
			<% for discussion in discussions %>
				<%= render discussion %>
			<% end %>
		</div>
	<% else %>
		<%= t("label.items_none_added", :items => plugin.model_name.human(:count => :other)) %>
	<% end %>
</div>