
<div class="field">
		<h3><%= PluginVideo.human_attribute_name(:title) %></h3>							
		<%= text_field 'video', 'title' %>
</div>

<div align=right>
	<a href="javascript:toggleEditor('<%= "form_content_box_#{video.id}" %>');"><%= t("label.toggle_editor") %></a>
</div> 
<b><%= text_area 'video', 'content', :style => "width:100%;height:500px", :class => "mceEditor", :id => "form_content_box_#{video.id}",  :onfocus => "focus_input('form_content_box_#{video.id}')", :onblur => "blur_input('form_content_box_#{video.id}')" %></b></p>



													