<% if item.is_editable_for_user?(@logged_in_user) %>
	<% videos = PluginVideo.item(item) %>
<% else %>
	<% videos = PluginVideo.item(item).approved %>
<% end %>

	<div class="plugin_box">
		<a name="<%= plugin.model_name.human(:count => :other) %>"></a>		
			<div class="header title">
				<table style="width:100%" cellpadding=0 cellspacing=0>
					<tr>
						<td align=left>
							<h2 class="title"><%= videos.size %> <%= plugin.model_name.human(:count => videos.size) %> </h2>										
						</td>
						<td align=right>
							<% if @logged_in_user.group.plugin_permissions[plugin.plugin_class.name].can_create? || item.is_editable_for_user?(@logged_in_user) %>
								<%= link_to icon("new") + " " + t("label.item_new", :item => plugin.model_name.human), {:action => "new", :controller => "plugin_videos", :id => item.id }, :class => "plugin_title_link" %>
							<% end %>							
						</td>
					</tr>
				</table>				
			</div>	
		<% if videos.size > 0  %>			
			<% if @setting[:plugin_video][:video_display_mode] == "List" %>
				<div class="videos">
					<% for video in videos %>				
						<div id="video_box_<%= video.id %>" class="video box_2">	
							<table style="width:100%" cellpadding=0 cellspacing=0>
								<tr>
									<td align=left>
										<%= content_tag(:h3, link_to_function((video.title.blank? ? video.description.blank? ? video.id : video.description : video.title), "toggle_box('video_#{video.id}_content')", :id => "video_#{video.id}_link", :title => video.description)) %></h3>																												
									</td>
									<td align=right>
										<%= render :partial => "plugins/plugin_item_controls", :locals => {:record => video} %>
									</td>
								</tr>
							</table>
							<div style="display:none;" id="video_<%= video.id %>_content">								
								<%= raw video.code %>						
							</div>																										
						</div>														
					<% end %>					
				</div >			
			<% else %>	
				<div class="videos">
					<% for video in videos %>					
						<div id="video_box_<%= video.id %>" class="video">							
							<table style="width:100%" cellpadding=0 cellspacing=0>
								<tr>
									<td align=left>
										<h3 class="title"><%= video.title %></h3>																
									</td>
									<td align=right>
										<%= render :partial => "plugins/plugin_item_controls", :locals => {:record => video} %>
									</td>
								</tr>
							</table>
							<%= content_tag(:div, video.description, :class => "description") unless video.description.blank? %>
							<br />
							<%= content_tag(:div, raw(video.code), :class => "code")  %>													
						</div>														
					<% end %>
				</div>
			<% end %>		
		<% else %>
			<%= t("label.items_none_added", :items => plugin.model_name.human(:count => :other)) %>
		<% end %>
	</div>