<div class="item">
	<%= render :partial => "items/item_header", :locals => {:item => @item, :options => {:show_item_info => true, :show_item_title => true}} %>
	
	
	<div id="side">	
			<div class="box_1">
				<%= render :partial => "shared/html_allowed" %>
			</div>	
	</div>
	<div id="main">
			<div class="box_2" style="margin-bottom:5px">
				<h2 class="title"><%= t("label.item_edit", :item => @plugin.model_name.human) %></h2>
				<hr />
                <% form_for(@video, :url => { :action => "update", :controller => "plugin_videos", :id => @item.id, :video_id => @video.id}) do |f| %>
					<%= render :partial => "form", :locals => {:f => f} %>
					<br>
					<div align=center><%= submit_tag t("label.item_save", :item => @plugin.model_name.human), :class => "button_1" %></div>
				<% end %>
			</div>
	</div>		
	
	<div align=center><img src="/themes/<%= @setting[:theme] %>/images/icons/arrow_left.png" class="icon" title="Back"> <%= link_to t("single.back"), { :action => 'view', :controller => "items", :id => @item.id, :anchor => "#{@plugin.name}s"}  %></div>
	
</div>