<div class="item">
	<%= record_header(@record) %>
	
	<div id="side">
			<div class="box_1">
				<%= render :partial => "html_allowed" %>
			</div>				
	</div>
	<div id="main">
			<div class="box_2">
				<h2 class="title"><%= t("label.item_new", :item => @plugin.model_name.human) %></h2>
				<hr />
                <%= form_for(@video, :url => { :action => "create", :controller => "plugin_videos"}) do |f| %>
					<%= remember_record @record %>
					<%= render :partial => "form", :locals => {:f => f} %>
					<br>
					<div align=center><%= submit_tag t("label.item_create", :item => @plugin.model_name.human), :class => "button_1" %></div>
				<% end %>
				
			</div>
	</div>				
	
	<div align=center><img src="/themes/<%= @setting[:theme] %>/images/icons/arrow_left.png" class="icon" title=""> <%= link_to t("single.back"), { :action => 'view', :controller => "items", :id => @item.id, :anchor => "#{@plugin.name}s"}  %></div>
</div>