<%= error_messages_for :plugin_comment %>


<%= f.hidden_field :parent_id %>

<% if @logged_in_user.anonymous? || (params[:action] == "edit" || params[:action] == "update") && f.object.user_id.blank? %>
	<div class="field">
		<%= f.label :anonymous_name %>
		<%= f.text_field :anonymous_name %>	
	</div>
	<div class="field">
		<%= f.label :anonymous_email %>
		<%= f.text_field :anonymous_email %>	
	</div>	
<% end %>

<div class="field">
	<%#= f.label :comment %>
	<%= f.text_area :comment %>	
</div>

<% if @logged_in_user.anonymous?  %>
	<div class="field">
		<%= label_tag :humanizer_answer, controller.humanizer_question %>
		<%= text_field_tag :humanizer_answer %>
		<%= hidden_field_tag :humanizer_question_id, controller.humanizer_question_id %>
	</div>		
<% end %>
