<% if item.is_editable_for_user?(@logged_in_user) %>
	<% comments = PluginComment.item(item).roots.most_votes_first.newest_first %>
<% else %>
	<% comments = PluginComment.item(item).roots.most_votes_first.newest_first.approved %>
<% end %>
<div class="plugin_box">
	<div class="header title">
		<table style="width:100%" cellpadding=0 cellspacing=0>
			<tr>
				<td align=left>
					<a name="<%= plugin.model_name.human(:count => :other) %>"></a>
					<h2 class="title"><%= comments.size %> <%= plugin.model_name.human(:count => comments.size) %></h2>										
				</td>
				<td align=right>
					<% if @logged_in_user.group.plugin_permissions[plugin.plugin_class.name].can_create? || item.is_user_owner?(@logged_in_user) || @logged_in_user.is_admin? %>
						<%= link_to icon("new") + " " + t("label.item_new", :item => PluginComment.model_name.human), {:action => "new", :controller => "plugin_comments", :id => @item.id}, :remote => true, :id => "new_plugin_comment_link" %>
					<% end %>						
				</td>
			</tr>
		</table>				
	</div>	
	<script type="text/javascript">
		$(function(){
			$("#new_plugin_comment_link").bind({			
				'ajax:beforeSend': function(){
					$("#new_plugin_comment").html('<%= content_tag(:div, loading, :style => "text-align:center") %>')				
				},	
				'ajax:success': function(event, data, status, xhr){
					$("#new_plugin_comment").html(data)
				},			
			});				
		});			
	</script>	
	<div id="new_plugin_comment">
	</div>	
	<% if comments.size > 0 %>
		<div class="comments">
			<% for comment in comments %>
				<%= render comment %>
			<% end %>
		</div>
	<% else %>	
		<%= t("label.items_none_added", :items => plugin.model_name.human(:count => :other)) %>
	<% end %>
</div>
