<script type="text/javascript">
	function extra_details()
	{
		feature_types = document.getElementById('feature_types'); // get selected option
		//selected_feature_type = feature_types.options[feature_types.selectedIndex].text; // get option text
		selected_feature_type = feature_types.options[feature_types.selectedIndex].value; // get option value
		//alert(selected_feature_type)
		if(selected_feature_type == "slider" || selected_feature_type == "number")
		{
			//alert("You selected a slider or number.")
			show_box('minmax_box')
		}
		else
		{
			hide_box('minmax_box')
		}
	}
</script>
		<%= f.error_messages %>	
		<table style="width:100%" cellpadding=0 cellspacing=0 class="">
			<tr>
				<td  align=left>
					<div class=" form_box" style="margin-bottom:5px">	
						<h3><%= f.label :name, t("single.name") %></h3>
						<!--<i>The name of this  <%= @plugin.human_name.downcase %>. Example: <b>Price</b>.</i>-->
						<%= f.text_field :name, :style => "width:100%" %>
						<h3><%= f.label :description, t("single.description") %></h3>
						<!--<i>A short message describing this  <%= @plugin.human_name.downcase %>. Example: <b>How much this costs</b>.</i>-->
						<%= f.text_field :description, :style => "width:100%" %>
						
						<h3><%= f.label :feature_type %></h3>
						<!--<i>This is the type of information that a <%= @plugin.human_name.downcase %> will contain. </i>-->						
						<select name="plugin_feature[feature_type]" id="feature_types" onchange="extra_details();">
							<option value="text" <%= "SELECTED" if feature.feature_type == "text" %>><%= t("single.text") %></option>
							<option value="option" <%= "SELECTED" if feature.feature_type == "option" %>><%= PluginFeatureValueOption.human_name %></option>
							<option value="yesno" <%= "SELECTED" if feature.feature_type == "yesno" %>><%= t("single.affirmative") %>/<%= t("single.negative") %></option>
							<option value="slider" <%= "SELECTED" if feature.feature_type == "slider" %>><%= t("single.slider")%></option>															
							<option value="date" <%= "SELECTED" if feature.feature_type == "date" %>><%= t("single.date") %></option>										
							<option value="number" <%= "SELECTED" if feature.feature_type == "number" %>><%= t("single.number")%></option>
						</select>		

						<div class="box_style_2a" style="<%= "display:none;" if feature.feature_type != "slider" && feature.feature_type != "number" %>" id="minmax_box">		
								<h3><%= f.label :min %></h3>																						
								<!--<i>The entered value must be greater than or equal to this number.</i>-->
								<%= f.text_field :min, :style => "width:100%" %>
								
								<h3><%= f.label :max %></h3>																						
								<!--<i>The entered value must be less than or equal to this number.</i>	-->
								<%= f.text_field :max, :style => "width:100%" %>
						</div>

						
						<h3><%= f.label :required, t("single.required") %></h3>
						<!--<i>If checked, every <%= @setting[:item_name] %> must have a value for this <%= @plugin.human_name.downcase %>. </i>-->
						<%= f.radio_button :is_required, true %> <%= t("single.affirmative") %>
						<%= f.radio_button :is_required, false %> <%= t("single.negative") %>
						<%#= check_box "feature", "is_required" %>							 
						
						<h3><%= f.label :listed %></h3>
						<!--<i>If checked, this <%= @plugin.human_name.downcase %> will be shown on <b><%= @setting[:item_name] %> lists</b>. </i>-->
						<%= f.radio_button :listed, true %> <%= t("single.affirmative") %>
						<%= f.radio_button :listed, false %> <%= t("single.negative") %>
						
						<h3><%= feature_icon feature %> <%= f.label :icon_url %></h3>
						<!--<i>If you have a specific icon in mind for this <%= @plugin.human_name.downcase %>, enter its URL here. Not Sure? Leave this blank.</i> --> 
						<%= f.text_field :icon_url, :style => "width:100%" %>

						<h3><%= f.label :search_type %></h3>
						<!--<i>This is the type of information that a <%= @plugin.human_name.downcase %> will contain. </i>-->						
						<select name="plugin_feature[search_type]" id="search_types">
							<option value="Grouped" <%= "SELECTED" if feature.search_type == "Grouped" %>><%= t("single.grouped")%></option>
							<option value="Keyword" <%= "SELECTED" if feature.search_type == "Keyword" %>><%= t("single.keyword")%></option>
							<option value="Number" <%= "SELECTED" if feature.search_type == "Number" %>><%= t("single.number")%></option>
							<option value="None" <%= "SELECTED" if feature.search_type == "None" %>><%= t("single.none") %></option>															
						</select>	
																													
					</div>	
				</td>		
			</tr>	
		</table>																					

			

