<% 
	options  ||= Hash.new 
	options[:show_title] = true if options[:show_title].nil?
%>
<% 
	features = PluginFeature.find(:all, :order => "order_number ASC") 
	if item.can?(@logged_in_user, :edit)
		feature_values = PluginFeatureValue.record(item) # show all values  
	else 
		feature_values = PluginFeatureValue.record(item).approved # show all values  
	end  
%> 
<div class="plugin_box">
	<a name="<%= plugin.model_name.human(:count => :other) %>"></a>
	<% if options[:show_title] || PluginFeatureValue.can?(@logged_in_user, :edit) %>
		<div class="header title">
			<table style="width:100%" cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>
						<h2 class="title"><%= plugin.model_name.human(:count => :other) %></h2>										
					</td>
					<td align=right>
						<% if PluginFeatureValue.can?(@logged_in_user, :edit) %>
							<%= icon("edit") %>
							<%= link_to "#{t("label.item_edit", :item => plugin.model_name.human(:count => :other))}", {:action => "edit_values", :controller => "plugin_features", :id => item.id} %>
						<% end %>					
					</td>
				</tr>
			</table>				
		</div>				
	<% end %>
	<% if feature_values.size > 0  %>		
			<div class="features">
				<%= render :partial => "plugin_features/list_values", :locals => {:feature_values => feature_values, :plugin => plugin, :item => item} %>
			</div>	
	<% else %>
		<%= t("label.items_none_added", :items => PluginFeatureValue.model_name.human(:count => :other)) %>
	<% end %>
</div>