<div class="item">	
	<%= record_header(@record) %>
	<div align=left class="box_2">
		<% features_plugin = Plugin.find_by_name("Feature") %>
		<% if features_plugin.is_enabled? || @logged_in_user.is_admin?  %>
			<a name="<%= PluginFeature.model_name.human(:count => :other) %>"></a>
			<table style="width:100%" cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>
						<h3><%= features_plugin.model_name.human(:count => :other) %></h3>	
					</td>
					<td align=right>
						<%= icon("edit") %>
						<%= link_to t("label.item_edit", :item => PluginFeature.model_name.human(:count => :other)), {:action => "index", :controller => "plugin_features"} if @logged_in_user.is_admin?  %>
					</td>
				</tr>
			</table>
		
			<div class="spacer"></div>
			<%= form_tag :action => 'update_values', :controller => "plugin_features", :id => @item.id, :record_id => @record.id, :record_type => @record.class.name  %>
				<%= render :partial => "plugin_features/form_for_item", :locals => {:item => @item} %>
				<div align=center><%= submit_tag t("single.save"), :class => "button_1" %></div>
			</form>									
		<% end %>
		<div style="height:10px"></div>
	</div>
</div>	
<div align=center style="margin-top:10px;">
	<%= link_to icon("arrow_left") + " " + t("single.back"), {:action => "view", :controller => "items", :id => @item}  %>
</div>