<div class="section">
	<% features = PluginFeature.find(:all, :order => "order_number ASC") %>
	<div id="side">
				<%= render :partial => "/items/menu" %>
	
	</div>
	<div id="main">
				
					<div class="header">					
						<table style="width:100%;" cellpadding=0 cellspacing=0>
							<tr>
								<td align=left>
									<h2 class="title">
										<%=  PluginFeature.model_name.human(:count => :other)  %>
									</h2>						
								</td>
								<td align=right >
										<%= link_to icon("new") + " " + t("label.item_new", :item => PluginFeature.model_name.human), {:action => "new"} %>						
								</td>
							</tr>
						</table>
					</div>
		
	
				<div >
					<table style="width:100%" cellpadding=0 cellspacing=0>
						<tr>
							<td  valign=top>
				 
							</td>
		  					<td style="width:5px;"></td>						
							<td  valign=top>				
								<div class="box_2">	
									<% if features.size > 0 %>															
										 	<% for feature in features %>
											   <div>
													<table style="width:100%">
														<tr>
															<td align=left>
																<h3>
																	<%= feature_icon feature %>
																	<%= feature.name %>
																	<% if feature.is_required %>
																		<img src="/themes/<%= @setting[:theme] %>/images/icons/required.png" class="icon"  alt="" title="<%= t("single.required") %>">
																	<% end %>												
																</h3>											
															</td>
															<td align=right>													
																<% if feature.feature_type == "option" %>
																	<%= link_to "#{feature.plugin_feature_value_options.size} #{PluginFeatureValueOption.model_name.human(:count => :other)}", { :action => 'options', :controller => "plugin_features", :id => feature.id} %>																									
																	<%= link_to icon("new") + " " + t("label.item_new", :item =>  PluginFeatureValueOption.model_name.human), { :action => 'options', :controller => "plugin_features", :id => feature.id} %>
																<% end %>
																<%  if feature.description && feature.description != "" %>
																	<%= icon("help", "#{feature.description}", "help") %>
																<% end %>																																								
																<%= link_to icon("edit"), { :action => 'edit', :controller => "plugin_features", :id => feature.id} %>										
																<%= link_to icon("delete"), { :action => 'delete', :controller => "plugin_features", :id => feature.id}, :confirm => t("confirm.item_delete", :item => PluginFeatureValueOption.model_name.human)  %>
																			
															</td>
														</tr>
											   		</table>
					
													<div class="spacer" style="margin:5px 0px 5px 0px"></div>
					
												</div>
											<% end %>
									<% else %>
										<div align=center>
											<%= t("label.items_none_added", :items => PluginFeature.model_name.human(:count => :other)) %>
										</div>
									<% end %>											
	
								</div>					 
							</td>
						</tr>
					</table>
				</div>
		
				<div align=center style="margin-top:10px;">
					<%= link_to icon("arrow_left") + " " + t("single.back"), { :action => 'index', :controller => "plugins"}  %>	
				</div>
	</div>
</div>