<% @feature = PluginFeature.new %>
<table align=center style="width:100%" cellpadding=0 cellspacing=0>
	 <tr>
	  <td align=left class="sidebar_column" valign=top style="padding:0px;text-align:center">
			<%= render :partial => "/settings/menu" %>

	  </td>
	  <td style="width:5px;"></td>
	  <td align=left valign=top>
			<div class="box_style_2a">
			  <div class="plugin_box">	
				<div class="title">
					Add A New <%= @plugin.human_name %>
				</div>
			  </div>
			  This will add a new shared <%= @plugin.human_name.downcase %> attribute for every item. For Example, if you wanted users to add a <b>Price</b> value to a <%= @setting[:item_name] %>, you could add <b>"Price"</b> here(without the quotes).
			  <br><br>			  

			   <div>
						<%= form_tag  :action => 'create', :controller => "plugin_features" %>
							<%= render :partial => "plugin_features/form", :locals => {:feature => @feature} %>
							 
							<br><div align=center><input type="submit" value="Add <%= @plugin.human_name %>"></div>
						</form>
				 </div>
			</div>	
			
			<div align=center style="margin-top:10px;">
				<img src="/themes/<%= @setting[:theme] %>/images/icons/arrow_left.png" class="icon" title="Back">
				<%= link_to "Back", { :action => 'index', :controller => "plugin_features"}  %>	
			</div>
	  </td> 
	 </tr>
</table>			