<%= error_messages_for :review %>

<div class="plugin_box">
	<div class="reviews">
		<div class="review_box">
			<table style="width:100%">
				<tr>
					<td class="user_column">
						<div class="user_box" align=center >				 
							 <%= link_to user_avatar(@review.user, :class => "small"), {:action => "user", :id => @review.user, :controller => "browse"}   %>
							 <%= link_to content_tag(:span, @review.user.to_s, :itemprop => "reviewer"), {:action => "user", :id => @review.user, :controller => "browse"}   %>		   	 
				    	</div>
					</td>
					<td class="review_column">	
						<div class="review_box">
							<div class="review">
							<div align=left>
								<table style="width:100%" cellpadding=0 cellspacing=0>
									<tr>
										<td align=left style="vertical-align:middle">
											 <table>
											     <tr>
											     	<td align=left style="vertical-align:middle">
											     		<h3><%= label "review", "review_score", PluginReview.human_attribute_name(:score) %></h3>	
											     	</td>
											     	<td align=left style="vertical-align:middle">
														 <% if @setting[:plugin_review][:review_type] == "Stars"  %>							
															<%= star_field_tag("review", "review_score", :value => review.review_score, :max => @setting[:plugin_review][:score_max].to_i) %>
														 <% elsif @setting[:plugin_review][:review_type] == "Slider"  %>
														 	<table cellpadding=0 cellspacing=0>
														 		<tr>
														 			<td style="vertical-align:middle">						 				
																		<%= slider_field_tag("review", "review_score", :value => review.review_score, :min => @setting[:plugin_review][:score_min].to_i, :max => @setting[:plugin_review][:score_max].to_i) %>
														 			</td>
																	<td style="padding-left:5px;vertical-align:middle">
																		<span><%= t("label.out_of") %> <b><%= @setting[:plugin_review][:score_max] %></b></span>																							
																	</td>
														 		</tr>
															</table>						 		 
														 <% elsif @setting[:plugin_review][:review_type] == "Number" %>
															<input name="review[review_score]" type="text" id="review_score" value="<%= review.review_score.to_i %>" style="width:50px;text-align:center" />
															<span><%= t("label.out_of") %> <b><%= @setting[:plugin_review][:score_max] %></b></span>
														 <% else %>
														 	Unknown Review type: <b><%= t("label.item_unknown", :item => t("plugin_settings.review_type"), :name => @setting[:plugin_review][:review_type]) %></b>										 
														 <% end %>				     		
											     	</td>					
												</tr>
											</table>											
										</td>
										<td align=right style="vertical-align:middle">
											<%= link_to_function(icon("details") + " " + t("label.additional_info"), "toggle_box('additional_info')")  %>	
											<a href="javascript:toggleEditor('<%= "form_review_box_#{review.id}" %>');"><%= icon("cycle") %> <%= t("label.toggle_editor") %></a>											
										</td>
									</tr>
								</table>
							</div>
							<%= content_tag(:div, :id => "additional_info", :style => "display:none") do %>
								<%= content_tag(:div, render(:partial => "html_allowed"), :class => "box_1") %>
							<% end %>	
																		
							<div style="margin:5px 0px">
								<%= text_area 'review', 'review', :style => "width:100%;height:500px", :class => "mceEditor", :id => "form_review_box_#{review.id}" %>								
							</div>
												
						</div>
					</td>
				</tr>
			</table>			
		</div>
	</div>
</div>
	



