 <%
 	# Set Defaults
	options  					||= Hash.new
	options[:rich_snippets] 	= false if options[:rich_snippets].nil?
 %>				 
 <div id="review_box_<%= review.id %>" <%= raw "itemscope itemtype=\"http://data-vocabulary.org/Review\"" if options[:rich_snippets] %>>
 	<%= raw "<meta itemprop=\"itemreviewed\" content=\"#{item.name}\" />" if options[:rich_snippets] %>
	
	<table style="width:100%">
		<tr>
			<td style="vertical-align:top;"  class="user_column">
				  <div class="user_box" align=center >
				 <% review_user = User.find(review.user_id)  %>
				 <%= link_to user_avatar(review_user, :size => "small"), {:action => "user", :id => review_user, :controller => "browse"}   %>
				 <br>
				 <%= link_to content_tag(:span, review_user.username, :itemprop => "reviewer"), {:action => "user", :id => review_user, :controller => "browse"}   %>
					 
		      </div>
			</td>
			<td style="vertical-align:top" class="review_column">
				<div class="review_box">
					<div class="review">	
						<table style="width:100%" cellpadding=0 cellspacing=0>
							<tr>
								<td style="vertical-align:middle;text-align:left">		
									<span <%= raw "itemprop=\"rating\" itemscope itemtype=\"http://data-vocabulary.org/Rating\"" if options[:rich_snippets] %>>					
									
										 <%= raw "<meta itemprop=\"worst\" content=\"#{@setting[:plugin_review][:score_min].to_i}\" />" if options[:rich_snippets] %>
										 <%= raw "<meta itemprop=\"best\" content=\"#{@setting[:plugin_review][:score_max].to_i}\" />" if options[:rich_snippets] %>																 						
										 <%= raw "<meta itemprop=\"value\" content=\"#{review.review_score.to_i}\" />" if options[:rich_snippets] %>

									 	<%= link_to score(:type => @setting[:plugin_review][:review_type], :min => @setting[:plugin_review][:score_min].to_i, :max => @setting[:plugin_review][:score_max], :value => review.review_score.to_i), {:action => "show", :controller => "plugin_reviews", :id => item.id, :review_id => review.id} %>										
								</td>
								<td style="vertical-align:middle;text-align:right">																									 																							
    								<time itemprop="dtreviewed" datetime="<%= review.created_at.strftime("%Y-%m-%d") %>">
    									<b><%= friendly_date review.created_at %></b>
									</time>	

									<%= render :partial => "plugins/plugin_item_controls", :locals => {:record => review, :options => {:votes => true, :user => false, :date => false}} %>
								</td>											
							</tr>
						</table>		
							
						<div style="height:10px;"></div>
						
						<meta itemprop="summary" content="<%= truncate(review.review, :length => 80) %>" /> <!-- Short Description --> 
						
						<div class="review_content" itemprop="description">
							<%= raw review.review %>
						</div>
						
					</div>							
				</div>
			</td>
		</tr>
	</table>
 </div>	