<% if item.can?(@logged_in_user, :edit) %>
	<% reviews = PluginReview.record(item).most_votes_first.newest_first %>
<% else %>
	<% reviews = PluginReview.record(item).most_votes_first.newest_first.approved %>
<% end %>

<div class="plugin_box" >
	<a name="<%= plugin.model_name.human(:count => :other) %>"></a> 
	<div class="header title">
		<table style="width:100%" cellpadding=0 cellspacing=0>
			<tr>
				<td align=left>
					<h2 class="title">
						<%= reviews.size %> <%= plugin.model_name.human(:count => reviews.size) %>										
					</h2>
				</td>
				<td align=right>
					<!-- Rich Snippet for Aggregate Review -->
					<div itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
							<meta itemprop="itemreviewed" content="<%= item.name %>" /> 
 							<meta itemprop="reviewer" content="<%= @setting[:title] %>" /> 						
							<meta itemprop="count" content="<%= reviews.size %>" /> 													
						<% review_score = reviews.approved.average(:review_score) %>
						<% review_score ||= 0 %>										
						<span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating">					
							<meta itemprop="worst" content="<%= @setting[:plugin_review][:score_min]  %>" /> 
							<meta itemprop="best" content="<%= @setting[:plugin_review][:score_max] %>" /> 
							<meta itemprop="average" content="<%= review_score %>" /> 	
												
							<%= PluginReview.human_attribute_name(:average) %>: 							
							<span title="<%= PluginReview.human_attribute_name(:average)%>"><%= score(:type => @setting[:plugin_review][:review_type], :min => @setting[:plugin_review][:score_min].to_i, :max => @setting[:plugin_review][:score_max].to_i, :value => review_score) %></span>
						</span>
						
						<% if PluginReview.can?(@logged_in_user, :create, :record => @record) %>
							<%= icon("new") %>
							<%= link_to t("label.item_new", :item => plugin.model_name.human), {:action => "new", :controller => "plugin_reviews", :id => item, :record_id => @record.id, :record_type => @record.class.name}%>
						<% end %>												
					</div>								
				</td>
			</tr>
		</table>				
	</div>		
	<% if reviews.size > 0 %>
		<div class="reviews">					
			<% for review in reviews  %>
		      <%= render review  %>			
			<% end %>
		</div>
	<% else %>
		<%= t("label.items_none_added", :items => plugin.model_name.human(:count => :other)) %>
	<% end %>
</div>