<div class="item">
	<%= record_header(@record) %>
	<div class="header">					
		<h2 class="title">
			<%= PluginReview.model_name.human %> 
			<%= t("single.from").downcase %>
			<%= @review.user.username %>
		</h2>						
	</div>
	<div class="plugin_box">
		<div class="reviews">	
	    	<%= render :partial => "plugin_reviews/show", :locals => {:review => @review, :item => @item, :plugin => @plugin} if @item.can?(@logged_in_user, :edit) || @review.is_approved? %>
		</div>			
	</div>										
	<%= back %>	
</div>
