<div id="side">
	<div class="box_1 menu">
		<div >
			<%= link_to image_tag("opal.png"), "http://www.hulihanapplications.com/projects/opal", :class => "transparent", :target => "_blank" %>
		</div>
		<div>
			<%= t("name") %> <%= t("single.version") %>: <b><%= Opal::VERSION %></b>
			<br>
			<%= link_to icon("update") + " #{t("label.check_for_updates")}", "http://www.hulihanapplications.com/projects/opal", :target => "_blank" %>			
		</div>
		<hr>
		<%= t("single.system") %> <%= t("single.mode") %>: <b class="highlight_1"><%= Rails.env.capitalize %></b>
	</div>	
	<%= render :partial => "users/currently_logged_in" %>

		
</div>
<div id="main">
	<div align=left>
	   <div class="box_2">
		   <h2 class="title"><%= t("label.user_greeting", :name => h(@logged_in_user.first_name)) %></h2> 
		   <div class="welcome_message">
				<%= t("label.user_welcome_to_admin", :name => h(@logged_in_user.first_name)) %>
		   </div>
	   </div>
	</div>
	
	<div class="box_2">
		<table style="width:100%" cellpadding=0 cellspacing=0>
			<tr>
				<td align=left>
					<h2 class='title'>
						<%= t("label.items_latest", :items => Log.model_name.human(:count => :other)) %>
					</h2>									
				</td>
				<td align=right>
					<%= link_to icon("logs") + " " + t("single.all") + " " + Log.model_name.human(:count => :other), logs_path %>														
				</td>
			</tr>
		</table>	
		<hr>		
		<%= render :partial => "logs/list_logs", :locals => {:logs => @latest_logs} %>
	</div>
	

	<br>			
</div>