<div class="section greeting box_2" id="admin-greeting">
	<table class="cell">
		<tr>
			<td class="half left">
				<div class="header">
					<div class="title">
						<h2 class="title">
							<%= t("label.user_greeting", :name => h(@logged_in_user.first_name)) %>
						</h2> 
						<div class="description">
							<%= t("label.user_welcome_to_admin", :name => h(@logged_in_user.first_name)) %>
						</div>
					</div>
				</div>
			</td>
			<td class="half border right">
				<%= render :partial => "admin/environment" %>								
			</td>			
		</tr>
	</table>
</div>
<div class="section box_2" id="admin-latest-logs">
	<table class="cell">
		<tr>
			<td class="half left">
				<div class="header">
					<div class="title">
						<h2 class='title'>
							<%= t("label.items_latest", :items => Log.model_name.human(:count => :other)) %>
						</h2>			
					</div>
					<div class="menu">
						<%= content_tag :ul, :class => :menu do %>				
							<%= content_tag(:li, link_to(icon("logs") + " " + t("single.all") + " " + Log.model_name.human(:count => :other), logs_path)) %>									
						<% end %>
					</div>
				</div>
				<%= render :partial => "logs/list_logs", :locals => {:logs => @latest_logs} %>
			</td>
			<td class="half border right">
				<%= render :partial => "users/currently_logged_in" %>
			</td>			
		</tr>
	</table>																
</div>						