<%
	record  ||= nil
	options ||= Hash.new
	options[:preview] = true if options[:preview].nil?
	options[:edit] = true if options[:edit].nil?
	options[:delete] = true if options[:delete].nil?
	options[:user] = true if options[:user].nil?
	options[:byline] = true if options[:byline].nil?
	options[:approval] = true if options[:approval].nil?
	options[:votes] = false if options[:votes].nil?
	options[:date] = false if options[:date].nil?
%>
<span class="plugin_item_controls">
	<%= content_tag :span, :class => "plugin_item_control_box" do %>	
		<% if options[:date] %>
			<%= friendly_date record.created_at %>
		<% end %>
		
		<% if options[:user] && record.respond_to?(:user_id) && record.user_id != @logged_in_user.id? && record.user_id != @item.user_id %>
			<%= options[:byline] ? I18n.t("single.by").downcase : nil %>
			<%= link_to_user(record.user, :avatar => true, :name => options[:byline]) %>
		<% end %>
	<% end if options[:date] || options[:user] %>
	
	<% if options[:votes] && !@logged_in_user.anonymous?  %>
		 <% if @logged_in_user.group.plugin_permissions[record.class.name].can_create? || @item.is_editable_for_user?(@logged_in_user) %>												 	
	 		<%= content_tag :span, :class => "vote_box plugin_item_control_box" do %>
		 		<% up_voted, down_voted = @logged_in_user.up_voted?(record), @logged_in_user.down_voted?(record)  %>
				<%= link_to_function icon("vote#{up_voted ? "d" : ""}_up", t("label.item_upvote", :item => record.class.model_name.human)), "vote('#{record.class.name.underscore}', #{@item.id}, #{record.id}, 'up')", :class => "transparent", :disabled => down_voted, :id => "up_vote_#{record.class.name.underscore}_#{record.id}" %>
				<%= content_tag(:span, record.votes, :id => "votes_#{record.class.name.underscore}_#{record.id}", :class => "votes") %>
				<%= link_to_function icon("vote#{down_voted ? "d" : ""}_down", t("label.item_downvote", :item => record.class.model_name.human)), "vote('#{record.class.name.underscore}', #{@item.id}, #{record.id}, 'down')", :class => "transparent", :disabled => up_voted, :id => "down_vote_#{record.class.name.underscore}_#{record.id}" %>
				<%= icon("spacer") if options[:approval] && @item.is_editable_for_user?(@logged_in_user) %>							
			<% end %>
		 <% end %>
	<% end %>	
	
	<% if options[:approval] %>
		<% if record.respond_to?(:is_approved?) && @item.is_editable_for_user?(@logged_in_user) %>
			<span class="approval_box plugin_item_control_box">
				<%= icon("approved", t("single.approved"), "icon help") if record.is_approved? %> 		
				<%= icon("unapproved", "#{t("single.not")} #{t("single.approved")}", "icon help") if !record.is_approved? %> 																				
				<%= link_to icon("cycle", t("label.item_change", :item => t("single.approval"))), {:action => "change_approval", :id => record.item_id, :record_type => record.class.name, :record_id => record.id,  "#{record.class.system_name.downcase}_id".to_sym => record.id, :controller => record.class.name.pluralize.underscore}, :confirm => t("confirm.general"), :class => "transparent" %>
				<%= icon("spacer") %>
			</span>
		<% end %>		
	<% end %>
	
	
	<%
		options[:preview] 	= options[:preview] && @item.is_editable_for_user?(@logged_in_user) 
		options[:edit] 		= options[:edit] && (@logged_in_user.group.plugin_permissions[record.class.name].can_update? || @item.is_editable_for_user?(@logged_in_user))
		options[:delete]	= options[:delete] && (@logged_in_user.group.plugin_permissions[record.class.name].can_delete? || @item.is_editable_for_user?(@logged_in_user))
	%>
	
	<% if options[:preview] || options[:edit] || options[:delete] %>
		<span class="plugin_item_control_box">
			<% if options[:preview] %>
				<% if @item.is_record_preview?(record) %>
					<%= icon("star_selected", t("single.preview"), "help") %>
				<% else %>
					<%= link_to icon("star_empty", t("label.item_mark_as", :item => record.class.model_name.human, :name => Item.model_name.human + " " + t("single.preview"))), {:controller => "items", :action => "set_preview", :id => record.item.id, :preview_id => record.id, :preview_type => record.class.name}, :method => :post, :class => "transparent"  %>	
				<% end %>
			<% end %>
			
			<% if options[:edit] %>
				<%= link_to icon("edit"), {:action => "edit", :controller => record.class.name.pluralize.underscore, :id => @item.id, "#{record.class.system_name.underscore}_id".to_sym => record.id}, :class => "transparent" %>
			<% end %>
			
			<% if options[:delete] %>
			    <%= link_to icon("delete"), { :action => 'delete', :controller => record.class.name.pluralize.underscore, :id => @item.id, "#{record.class.system_name.underscore}_id".to_sym => record.id}, :confirm => t("confirm.item_delete", :item => record.class.model_name.human), :class => "transparent" %>																
			<% end %>
		</span>
	<% end %>
</span>
