<script type="text/javascript">
	function toggle_plugin(plugin_id){
		//alert("toggling...")
		$("#event_box").html('<%= theme_image_tag("loading.gif", :class => "loading") %>')
		

		$.ajax({
		  type: "POST",	
		  url: '<%= url_for :action => "toggle_plugin", :controller => "plugins" %>',
		  data: "id="+plugin_id,
		  success: function(data) {
		    $("#event_box").html(data);
		    //alert('Load was performed.');
		  },
	        error:function (xhr, ajaxOptions, thrownError){
	            alert(xhr.status);
	            alert(thrownError);
	        }  		  
		});		
	}	
</script>
<div class="section">
	<div id="side">
		<%= render :partial => "/items/menu" %>
	</div>

	<div id="main">


			<div class="header">					
				<table style="width:100%;" cellpadding=0 cellspacing=0>
					<tr>
						<td align=left>
							<h2 class="title">
								<%= Plugin.model_name.human(:count => :other) %>
							</h2>						
						</td>
						<td align=right >
							<%= link_to icon("new") + " " + t("label.item_install", :item => Plugin.model_name.human), {:action => "new_install", :controller => "plugins"} %>
						</td>
					</tr>
				</table>
			</div>




	  		<div>
				<!--
				<h2 class="title">Plugin Order &amp; Settings</h2>
				<div class="spacer"></div>
				Here you can turn plugins off and on, change plugin settings, or change the order of how plugins are seen on each <%= Item.model_name.human %>'s page.  To change the order, just drag each item object around and rearrange them as you please.
				-->
				
				<div id="event_box" style=";margin:5px 0px 5px 0px" align=center>
				</div> 

				<%= sortable_list("sortable_list", url_for(:action => "update_order", :controller => "plugins"), "event_box") %>

				<div id="items" class="plugins">
					<ul id="sortable_list" class="sortable">
					<% @plugins.each do |plugin| %>
					  <%# With a sortable_list, plugin_12, the 12 is sent to the action, it is serialized with regexp. %>
					  <li id="<%= plugin.id %>" class="hoverable">
					  	<div class="box_2">
							<table width="100%" cellpadding=0 cellspacing=0>
						  		<tr> 
						  			<td align=left>
						  				<div id="plugin_title_<%= plugin.id %>">
						  			  		<h2>
						  			  			<%= plugin.model_name.human(:count => :other) %> 											
											</h2>
						  				</div>
										<div style="">
											<%= raw t("activerecord.records.plugin.#{plugin.name.underscore.downcase}.description", :default => "") %>
										</div>				
						  			</td>
									<td valign=middle align=center style="text-align:left;width:125px;padding-left:10px">
									  	<div class="box_2">
											<div>
												<input type="checkbox" name="enable_<%= plugin.model_name.human %>" value="1" <% if plugin.is_enabled? %>CHECKED<% end %> onchange="javascript:toggle_plugin('<%= plugin.id %>')">
												<%= t("single.enabled") %>
											</div>																														
											
											<% if plugin.name == "Feature" %>
												<div>
								  			  		<%= link_to icon("edit") + " #{t("label.item_edit", :item => plugin.model_name.human(:count => :other))}", {:action => "index", :controller => "plugin_features"} %>																							
												</div>
											<% end %>
											<div>
												<%= link_to icon("settings") + raw(" #{PluginSetting.model_name.human(:count => :other)}<br>"), {:action => "settings", :controller => "plugins", :id => plugin.id} if plugin.plugin_settings.size > 0 %>																							
											</div>
											<div>
												<%= link_to icon("delete") + " #{t("label.item_uninstall", :item => "")}", {:action => "uninstall", :controller => "plugins", :id => plugin.id}, :confirm => t("confirm.item_delete", :item => Plugin.model_name.human )  if !plugin.is_builtin? %>																
											</div>						  			  																																									
									  	</div>
									</td>
								</tr>
						  	</table>				  		
					  	</div>				
					  </li>
					<% end %>
					</ul>
				</div>
		
		</div>
	</div>

		
		
		
		
</div>	
