<div id="side">
			<div>
								
				<div class="box_1" align=left style="margin-bottom:5px;">
					<h2 class="title"><%= t("label.additional_info") %></h2>
					<%= Group.human_attribute_name(:updated_at) %>: <b><%= friendly_date @group.updated_at %></b>		<br>					
					<%= Group.human_attribute_name(:created_at) %>: <b><%= friendly_date @group.created_at %></b>		<br>
				</div>	
				
					<div class="box_1" align=left style="margin-bottom:5px;">
						<h3><%= t("single.delete", :item => Group.model_name.human) %></h3>
						<div align=center>
							<% if !@group.is_deletable? %>							
								<img src="/themes/<%= @setting[:theme] %>/images/icons/failure.png" class="icon">
								<%= t("notice.invalid_permissions") %>	
							<% else %>
								<%= link_to icon("delete") + " " + t("label.item_delete",  :item => Group.model_name.human), { :action => 'delete', :controller => "groups", :id => @group.id, :group_id => @group.id}, :confirm => t("confirm.delete") if @group.is_deletable? %>
							<% end %>													
						</div>
 
					</div>
										
			</div>	
	

	</div>
	<div id="main">
			<div id="edit_group_box_<%= @group.id %>" class="box_2" style="margin-bottom:5px;" align=center>
    			<h2 class="title"><%= t("label.item_edit", :item => Group.model_name.human) %></h2><br>
				
			    <%= form_for(@group, :url => { :action => 'update', :controller => "groups", :id => @group.id }, :method => "post") do |f| %>
					<%= render :partial => "form", :locals => {:group => @group, :f => f } %>
					<br>
					<div align=center>	
						<input type="submit" value="<%= t("single.save") %>" class="button_1">
					</div>
			   <% end %>
			</div>
			<% if params[:action] == "edit" %>
				<div class="box_2" style="margin-bottom:5px;" align=center>
					<h2 class="title">
						<img src="/themes/<%= @setting[:theme] %>/images/icons/plugins.png" class="icon">
						<%= GroupPluginPermission.model_name.human(:count => :other) %></b>
						<a href="javascript:toggle_expanding_box('plugin_permissions_box','plugin_permissions_expand_link')" id="plugin_permissions_expand_link">
							<%= icon("open") %>
						</a>
					</h2>
					<div id="plugin_permissions_box" style="display:none">
						<!--
						<div class="box_1" align=center style="margin-bottom:5px;">
								<img src="/themes/<%= @setting[:theme] %>/images/icons/warning.png" class="icon">
								These permissions affect <u>every <%= Item.model_name.human %></u> in <%= @setting[:title] %>.
						</div>					
						<div class="box_1" align=center style="margin-bottom:5px;">
								<img src="/themes/<%= @setting[:theme] %>/images/icons/info.png" class="icon">
								These permissions will only affect users besides the <%= Item.model_name.human %> owner and Admins, since <%= Item.model_name.human %> owners always have full permissions for their own <%= Item.model_name.human %>'s plugins.  
						</div>
						-->
						<%= form_tag( {:action => 'update_plugin_permissions', :controller => "/groups", :id => @group.id } , :id => "plugin_permissions_form") %>
						 	<% if !@group.is_admin_group? %>						
								<div align=right style="margin:5px 7px 0px 0px" class="plugin_unselected" > <%= t("label.check_all") %> <input type='checkbox' name='checkall' onclick="toggle_all_checkboxes('plugin_permissions_form');"> </div>
							<% end %>							
	
	
							<% for plugin in @plugins %>
								<div class="hoverable">
							   		<div id="plugin_<%= plugin.id %>"  class="box_2"  align=left>
										<table cellpadding=0 cellspacing=0 style="width:100%;">
									  		<tr> 
									  			<td align=left>
									  				<h2><%= plugin.model_name.human(:count => :other) %></h2>
												</td>
												<td align=right>
													
														<%= GroupPluginPermission.human_attribute_name(:can_read) %>
														<input type="checkbox" name="plugin_permission[<%= plugin.id %>][can_read]" value="1" <%= "CHECKED" if  @group.has_plugin_permission?(:plugin => plugin, :permission_type => :read) %> <%= "DISABLED" if @group.is_admin_group? %>>												
													
													
													
														<%= GroupPluginPermission.human_attribute_name(:can_create) %>
														<input type="checkbox" name="plugin_permission[<%= plugin.id %>][can_create]" value="1" <%= "CHECKED" if @group.has_plugin_permission?(:plugin => plugin, :permission_type => :create) %> <%= "DISABLED" if @group.is_admin_group? %>> 
													
													
														
														<%= GroupPluginPermission.human_attribute_name(:can_update) %>
														<input type="checkbox" name="plugin_permission[<%= plugin.id %>][can_update]" value="1" <%= "CHECKED" if  @group.has_plugin_permission?(:plugin => plugin, :permission_type => :update) %> <%= "DISABLED" if @group.is_admin_group? || @group == Group.public %>> 
													
													
													
														<%= GroupPluginPermission.human_attribute_name(:can_delete) %>
														<input type="checkbox" name="plugin_permission[<%= plugin.id %>][can_delete]" value="1" <%= "CHECKED" if  @group.has_plugin_permission?(:plugin => plugin, :permission_type => :delete) %> <%= "DISABLED" if @group.is_admin_group? || @group == Group.public %>>
														<hr />
													
														<%= GroupPluginPermission.human_attribute_name(:requires_approval) %>
														<input type="checkbox" name="plugin_permission[<%= plugin.id %>][requires_approval]" value="1" <%= "CHECKED" if  @group.has_plugin_permission?(:plugin => plugin, :permission_type => :requires_approval) %> <%= "DISABLED" if @group.is_admin_group? %>> 
																																																	 											
												</td>														
											</tr>
										</table>
									</div>
								</div>	  				
							<% end %>
	
							
	
							<br>
							
							<%= submit_tag t("label.item_save", :item => GroupPluginPermission.model_name.human(:count => :other)), :class => "button_1" %>
						</form>
						
					</div>
				</div>	
			<% end %>		
	</div>
<br>


<br>
<div align="center">	
	<%= link_to icon("arrow_left") + " " + t("single.back"), :back %>
</div>










