<div class="box_2" align=center>
    <h2><%= t("label.item_new", :item => Group.model_name.human) %></h2><br>
    <%= form_for(@group, :url => { :action => 'create', :controller => "groups" }, :method => "post") do |f| %>
		<%= render :partial => "form", :locals => {:group => @group, :f => f } %>
		<br>
		<div align=center>	
				<%= f.submit t("label.item_create", :item => Group.model_name.human), :class => "button_1" %>
		</div>
   <% end %>
   <br>
</div>
<br>
<div align="center">	
	<%= link_to icon("arrow_left") + " " + t("single.back"), :back %>
</div>
