
<%= f.error_messages %>
<table style="width:100%">
    <tr>
        <td align=left>
            <%= f.label :email %>
        </td>
        <td align=right>
			<%= f.text_field :email %>
        </td>
    </tr>    
    <tr>
        <td align=left>
            <%= f.label :username %>
        </td>
        <td align=right>
			<%= f.text_field :username %>     	
        </td>
    </tr>
    <% if params[:action] == "new" || params[:action] == "create" %>
    <tr>
        <td align=left>
            <%= f.label :password %>
        </td>
        <td align=right>
            <%= f.password_field :password %>
        </td>
    </tr>
    <tr>
        <td align=left>
            <%= f.label :password_confirmation %>
        </td>
        <td align=right>
            <%= f.password_field :password_confirmation %>
        </td>
    </tr>
    <% end %>
    <tr>
        <td align=left>
            <%= f.label :first_name %>
        </td>
        <td align=right>
            <b><%= f.text_field :first_name %></b>
        </td>
    </tr>
    <tr>
        <td align=left>
            <%= f.label :last_name %>
        </td>
        <td align=right>
            <b><%= f.text_field :last_name %></b>
        </td>
    </tr>
    <tr>
        <td align=left>
            <%= f.label :locale %>
        </td>
        <td align=right>
            <%= render :partial => "select_locale", :locals => {:options => {:input_name => "user[locale]", :select => user.locale}} %>
        </td>
    </tr>
    <tr>
        <td align=left>
            <%= f.label :group %>
        </td>
        <td align=right>
        	<% if @logged_in_user.is_admin? %>
               <%= render :partial => "/groups/select_group", :locals => {:groups => Group.find(:all), :options => {:id_to_select => user.group_id} } %>
			<% else %>
				<b><%= user.group.name %></b>
			<% end %>
        </td>
    </tr>    
    <tr>
        <td align=left>
            <%= f.label :created_at %>
        </td>
        <td align=right>
        	<% if @logged_in_user.is_admin? %>
         	   <%= f.datetime_select 'created_at' %>
			<% else %>
            	<b><%= friendly_date user.created_at %></b>
			<% end %>          	
        </td>
    </tr>    
    <% if @logged_in_user.is_admin? %>
    <tr>
        <td align=left>
            <%= icon("admin") %>
			<%= f.label :is_admin %>
        </td>
        <td align=right>
            <input type="checkbox" name="user[is_admin]" value="1"<% if user.is_admin? %>CHECKED<% end %>>
        </td>
    </tr><% end %>
</table>