<div class="menu">
	<ul class="menu">		
		<li class="<%= params[:controller] == "groups" ? :selected : nil %>" >
			<%= link_to  icon("groups") + " " + Group.model_name.human(:count => :other), {:action => "index", :controller => "groups"}, :class => params[:controller] == "groups" ? :selected : nil %>	
		</li>			
		<li class="<%= params[:controller] == "messages" ? :selected : nil %>" >
			<%= link_to  icon("mail") + " " + UserMessage.model_name.human(:count => :other), {:action => "index", :controller => "messages"}, :class => params[:controller] == "messages" ? :selected : nil %>			
		</li>				
		<li class="<%= params[:controller] == "logs" ? :selected : nil %> last" >
			<%= link_to  icon("logs") + " " + Log.model_name.human(:count => :other), {:action => "index", :controller => "logs"}, :class => params[:controller] == "logs" ? :selected : nil %>
		</li>			
	</ul>
</div>
