
<div align=center>
	<a href="http://www.hulihanapplications.com/projects/opal"><b><%= t("label.app_name") %></b></a> &copy; <%= Time.now.strftime("%Y")%> - <a href="http://www.hulihanapplications.com">Hulihan Applications</a>
	<% if mobile_device? %>
		<%= icon("spacer") %>		 
		  <% if mobile_mode? %>
		    <%= link_to t("single.full") + " " + t("single.website"), :mobile => 0 %>
		  <% else %>
		    <%= link_to t("single.mobile") + " " + t("single.website"), :mobile => 1 %>
		  <% end %>
	<% end %>	
	<br>
	<a href="http://www.hulihanapplications.com/projects/opal" class="transparent" target="_blank"><img src="/images/opal_powered_small.png" border=0 alt="" title=""></a>			
</div>

