<% 
	plugin ||= Plugin.find_by_name("Image")
%>
<table style="width:100%">
	<tr>
		<td valign=top>
			<table>
				<tr>
					<td><img src="/themes/<%= @setting[:theme] %>/images/icons/computer.png" class="icon"> <%= t("label.from_local") %></td>
				<td><input name="file" id="image_file" type="file" onfocus = "focus_input('image_file')" onblur = "blur_input('image_file')"></td>
				</tr>
				<tr>
					<td colspan=2 align=center><%= t("single.or").downcase %></td>
				</tr>
				<tr>
					<td><img src="/themes/<%= @setting[:theme] %>/images/icons/web.png" class="icon"> <%= t("label.from_web") %></td>
				<td><input name="url" id="image_url" type="text" onfocus = "focus_input('image_url')" onblur = "blur_input('image_url')"></td>
				</tr>
				<tr>
					<td colspan=2>
						<div class="spacer"></div>			
					</td>
				</tr>	
				<tr>
					<td><%= t("single.description") %></td>
					<td>
						<input name="description" id="image_description" type="text" onfocus = "focus_input('image_description')" onblur = "blur_input('image_description')">											
					</td>
				</tr>							
			</table>

		</td>								
	<td valign=top> 
		<div class="box_2">				
			<h3 class="title"><%= t("single.effects") %></h3>
			<div>
		      <input type="checkbox" name="[effects][monochrome]" value="yes"> <%= raw t("label.image_effect_bw") %><br> 
		      <input type="checkbox" name="[effects][sepia]" value="yes"> <%= raw t("label.image_effect_sepia") %><br>
		      <input type="checkbox" name="[effects][rotate_90_cw]" value="yes">	<%= raw t("label.image_effect_rotate_90_cw") %><br>
		      <input type="checkbox" name="[effects][rotate_90_ccw]" value="yes"> <%= raw t("label.image_effect_rotate_90_ccw") %> <br>
		      <input type="checkbox" name="[effects][rotate_180]" value="yes"> <%= raw t("label.image_effect_rotate_180") %><br>
		      <input type="checkbox" name="[effects][resize_image]" value="yes"> <%= raw t("label.image_effect_resize", :width => plugin.get_setting("item_image_width"), :height => plugin.get_setting("item_image_height")) %><br>			  
		      <input type="checkbox" name="[effects][watermark]" value="yes"> <%= raw t("single.watermark") %><br>
			  <input type="checkbox" name="[effects][stamp]" value="yes"> <%= raw t("single.stamp") %><br>
		      <input type="checkbox" name="[effects][gaussian_blur]" value="yes"> <%= raw t("label.image_effect_gaussian_blur") %><br>
		      <input type="checkbox" name="[effects][polaroid]" value="yes"> <%= raw t("label.image_effect_polaroid") %><br>
		      <input type="checkbox" name="[effects][negate]" value="yes"> <%= raw t("label.image_effect_negate") %><br>
			</div>
		</div>
	</td>
	</tr>
</table>