<% if item.can?(@logged_in_user, :edit) %>
	<% links = PluginLink.record(item).newest_first  %>
<% else %>
	<% links = PluginLink.record(item).newest_first.approved %>
<% end %>

	<div class="plugin_box">
		<a name="<%= plugin.model_name.human(:count => links.size) %>"></a>
		<div class="header title">
			<table style="width:100%" cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>
						<h2 class="title"><%= links.size %> <%= plugin.model_name.human(:count => links.size) %></h2>										
					</td>
					<td align=right>
						<% if PluginLink.can?(@logged_in_user, :create, :record => @record) %>
							<a href="javascript:toggle_box('new_link_box')" class="plugin_title_link">
								<%= icon("new") %>
								<%=  t("label.item_new", :item => plugin.model_name.human) %>
							</a>
						<% end%>			
					</td>
				</tr>
			</table>				
		</div>			

		<% if PluginLink.can?(@logged_in_user, :create, :record => @record) %>
			<div style="display:none" id="new_link_box" class="box_1">
			      <h2><%=  t("label.item_new", :item => plugin.model_name.human) %></h2>
				   <div>
   					   <%= form_tag  :action => 'create', :controller => "plugin_links", :id => item.id, :record_id => @record.id, :record_type => @record.class.name %>
						<%= icon("link") %>
						<%= t("single.title") %>
						<input name="link_title" type="text" id="new_link_title_input" onfocus = "focus_input('new_link_title_input')" onblur = "blur_input('new_link_title_input')">
						&nbsp;
						<%= t("single.url") %>
						<input name="link_url" type="text" id="new_link_url_input" onfocus="focus_input('new_link_url_input')" onblur="blur_input('new_link_url_input')">
						<%= submit_tag  t("label.item_create", :item => plugin.model_name.human, :class => "button_1") %>
					   </form>
					 </div>
					 <br>
					 <div align="center">
	   						<a href="javascript:toggle_box('new_link_box')">
								<%= icon("cancel") %>
							</a>
				     </div>
			</div> 
		<% end %>
		<% if links.size > 0 %>				
				<div class="links" align=left>
					<% for link in links %>
						<%= render link %>
					<% end %>
				</div>
		
		<% else %>
			<%= t("label.items_none_added", :items => plugin.model_name.human(:count => :other)) %>
		<% end %>
	</div>