<div class="section">
	<div class="header">		
		<div class="title">
			<h2 class="title">
				<%= @setting[:title] %> <%= Setting.model_name.human(:count => :other) %>
			</h2>						
		</div>		
	</div>
				
	<%= form_tag({:action => "update_settings"}) do %>
			<ul class="panes"> 
				    <li><a href="#<%= t("single.public") %>"><%= t("single.public") %></a></li>
				    <li><a href="#<%= t("single.system") %>"><%= t("single.system") %></a></li> 
				    <li><a href="#<%= User.model_name.human(:count => :other) %>"><%= User.model_name.human(:count => :other) %></a></li> 	
					<li><a href="#<%= t("activerecord.records.setting.main_logo.title") %>"><%= t("activerecord.records.setting.main_logo.title") %></a></li>
			</ul>			
			<div class="panes"> 					
			    <div>	
					 <%= render :partial => "/settings/list_settings", :locals => {:settings => public_settings = Setting.find(:all, :conditions => ["setting_type = ?", "Public"]) , :title => t("single.public")}%>
				</div>			
			    <div>	
					 <%= render :partial => "/settings/list_settings", :locals => {:settings => Setting.find(:all, :conditions => ["setting_type = ?", "System"]), :title => t("single.system")}%>
				</div>
			    <div>	
					 <%= render :partial => "/settings/list_settings", :locals => {:settings => Setting.find(:all, :conditions => ["setting_type = ?", "User"]), :title => User.model_name.human}%>
				</div>			
				<div>
					<div class="section">
						<div class="header">	
							<div class="title">
								<%= content_tag :h2, t("activerecord.records.setting.main_logo.title"), :class => :title %>			
							</div>
							<div class="menu">	
								<%= content_tag :ul, :class => :menu do %>
									<%= content_tag :li do %>
										<%= link_to icon(:delete) + " #{t("single.delete")} #{t("single.logo")}", delete_logo_settings_path, :confirm => t("confirm.general") %>
									<% end if @logo_image_exists %>								
									<%= content_tag :li do %>
										<%= link_to(icon("upload") + " " + "#{t("single.upload")} #{t("single.logo")}", new_change_logo_settings_path) %>	
									<% end %>
								<% end %>
							</div>
						</div>
					
						<div align=center>
							<%= theme_image_tag("logo.png") if @logo_image_exists %>
						</div>

						<div align="center" class="box_1" style="margin:5px 0px;">													
							<% if @logo_image_exists %>
									<%= icon(:info) %>
									<%= t("info.delete_main_logo", :name => @setting[:title] ) %>						
							<% else %>
								<%= t("notice.item_not_found", :item => t("single.logo")) %>
							<% end %>
						</div>												
					</div>				
				</div>						
			</div>	
		 <div class="actions">
		 	<%= submit_tag t("single.save"), :class => "button_1" %>
		 </div>	
	<% end %>
</div>	
