<div class="header">	
	<div class="title">
		<%= content_tag :h2, "#{t("single.upload")} #{t("single.logo")}", :class => :title %>			
	</div>
	<div class="menu">	
		<%= content_tag :ul, :class => :menu do %>
			<%= content_tag :li do %>
				<%= link_to icon(:delete) + " #{t("single.delete")} #{t("single.logo")}", delete_logo_settings_path, :confirm => t("confirm.general") %>
			<% end if @logo_image_exists %>								
		<% end %>
	</div>
</div>	  		
<div class="box_1" id="upload_logo_box">
	<%= form_tag(change_logo_settings_path, :multipart => true)  %>
		<%= render :partial => "upload_form" %>
		<div class="actions">
			<%= submit_tag t("single.upload"), :class => "button_1" %>
		</div>
	</form>			
</div>	

<%= back %>
