<table align=center style="width:100%" cellpadding=0 cellspacing=0>
	 <tr>
	  <td align=left class="sidebar_column" valign=top style="padding:0px;text-align:center">
			<%= render :partial => "/settings/menu" %>

	  </td>
	  <td style="width:5px;">
	  	
	  </td>
	  <td align=left valign=top >			
			<h1 class="title">Change the Main Logo</h1>
			<div class="spacer"></div>
			<br>
							<table width="100%" cellpadding=0 cellspacing=0>
								<tr>
									<td>
										<div class="box_style_2" align=center> 
											<h2 class="title">Current Logo</h2>
			
											<br>
											<% if @logo_image_exists %>
												<img src="/themes/<%= @setting[:theme] %>/images/logo.png" border=0 alt="<%= @setting[:title] %>" title="<%= @setting[:title] %>">														
											<% else %>
												Currently, no logo image has been uploaded, so the following text is displayed instead:<br>
												<h1><%= @setting[:title] %></h1> 	
											<% end %>		
											<br><br>
										</div>
										<br>
										<div class="box_style_1" align=center> 
											<h2 class="title"><img src="/themes/<%= @setting[:theme] %>/images/icons/upload.png" class="icon"> Upload New Logo</h2>
											
					  					   <%= form_tag ({:action => 'change_logo', :controller => "settings"} , :multipart => true) %>
										   <table>
										   	<tr>
										   		<td valign=top>
										   			<div class="box_style_2a">
											   			<table>
											   				<tr>
											   					<td><img src="/themes/<%= @setting[:theme] %>/images/icons/computer.png" class="icon"> From Your Computer</td>
																<td><input name="file" id="image_file" type ="file" onfocus = "focus_input('image_file')" onblur = "blur_input('image_file')"></td>
											   				</tr>
											   				<tr>
											   					<td colspan=2 align=center>or</td>
											   				</tr>
											   				<tr>
											   					<td><img src="/themes/<%= @setting[:theme] %>/images/icons/web.png" class="icon"> From The Web(URL)</td>
																<td><input name="url" id="image_url" type="text" onfocus = "focus_input('image_url')" onblur = "blur_input('image_url')"></td>
											   				</tr>
															<% if  @logo_image_exists %>
															<tr>
								   								<td colspan=2><div class="spacer"></div></td>
								   							</tr>												
											   				<tr>
											   					<td>Keep Current Logo's Dimensions</td>
																<td><input name="keep_dimensions" type="checkbox" CHECKED></td>
											   				</tr>	
															<tr>
																<td colspan=2><i>If checked, the new logo will become the same size as the current logo above.</i></td>
															</tr>
															<% end %>									
											   			</table>
													</div>
										   		</td>
										   	</tr>
											<% if @logo_image_exists %>
											<tr>
										   		<td>
										   			<div class="box_style_2" align=center>
										   				<img src="/themes/<%= @setting[:theme] %>/images/icons/warning.png" class="icon"> This will overwrite your current logo.
										   			</div>
												</div>
											</tr>
										   <% end %>								
										   </table>
										   <br>
										   <div align=center>
												<input type="submit" value="Upload Image">
										   </div>
					
										   </form>								
											
										</div>							
										
									</td>
								</tr>
							</table>	
			<br>
			<div align=center><img src="/themes/<%= @setting[:theme] %>/images/icons/arrow_left.png" class="icon" title="Back"> <%= link_to "Back", { :action => 'index', :anchor => "Logo"}  %></div>
	  </td> 
	 </tr>
</table>							