<div id="side">
	<%= render :partial => "/settings/menu" %>
</div>
<div id="main">
	<div class="header">
		<table style="width:100%;" cellpadding=0 cellspacing=0>
			<tr>
				<td align=left>
					<h2 class="title">
						<h2 class="title"><%= "#{t("label.item_install", :item =>  t("single.theme"))}" %></h2>
					</h2>						
				</td>
			</tr>
		</table>												
	</div>		
	<div>
		
		<div class="box_2" align=center>
			<%= form_tag({:action => "install_theme"}, :multipart => true) do %>
			   <table>
				   	<tr>
				   		<td valign=top>
				   			<div class="box_2a">
								<%= render :partial => "upload_form" %>
							</div>
				   		</td>
				   	</tr>							
				   </table>
				   <br>
				   <input type="submit" value="<%= t("single.install") %>" class="button_1">					
			<% end %>									
		</div>
	</div>
</div>
<div align=center>
	<%= link_to icon("arrow_left") + " " + t("single.back"), {:action => "themes"}  %>
</div>														