<div id="side">
	<%= render :partial => "/settings/menu" %>
</div>
<div id="main">	
			<div class="header">					
				<table style="width:100%;" cellpadding=0 cellspacing=0>
					<tr>
						<td align=left>
							<h2 class="title">
								<%= "#{t("single.upload")} #{t("single.logo")}" %>
							</h2>						
						</td>
						<td align=right >
							<% if @logo_image_exists %>
								<img src="/themes/<%= @setting[:theme] %>/images/icons/delete.png" class="icon">
								<%= link_to "#{t("single.delete")} #{t("single.logo")}", {:action => "delete_logo", :controller => "settings"}, :confirm => t("confirm.general")   %>
							<% else %>
								<!--No Logo has been uploaded.-->
							<% end %>	
							<%= icon("upload") %>													
							<%= link_to "#{t("single.upload")} #{t("single.logo")}", {:action => "new_change_logo", :controller => "settings"}%>
						</td>
					</tr>
				</table>
			</div>	  		
			<div align="center" class="box_1" style="margin-bottom:5px;" id="upload_logo_box">
				<%= form_tag({:action => 'change_logo', :controller => "settings"}, :multipart => true)  %>
					<%= render :partial => "upload_form" %>
					<br>
					<%= submit_tag t("single.upload"), :class => "button_1" %>
					<br>
				</form>			
			</div>	
	<div align=center><img src="/themes/<%= @setting[:theme] %>/images/icons/arrow_left.png" class="icon" title="Back"> <%= link_to "Back", { :action => 'index', :anchor => "Logo"}  %></div>
</div>						