<div id="side">
	<%= render :partial => "/settings/menu" %>
</div>
<div id="main">
	<div class="header">
		<table style="width:100%;" cellpadding=0 cellspacing=0>
			<tr>
				<td align=left>
					<h2 class="title">
						<%= t("single.theme", :count => :other) %>
					</h2>						
				</td>
				<td align=right >
					<%= link_to icon("new") + " " + t("label.item_install", :item => t("single.theme")), {:action => "new_theme_install", :controller => "settings"} %>
				</td>
			</tr>
		</table>												
	</div>		
	<div>
		<%= form_tag({:action => "update_settings"}) do %>
	
			<table width="100%" cellpadding=0 cellspacing=0  class="setting_table row_table">	
			 <% for theme in @themes %>
				 <% @class = cycle("row_a", "row_b") %>
				 <tr class="<%= @class %>">
				  <td style="width:100px;height:100px;vertical-align:middle" align=center>
				  	<% screenshot = "/themes/#{theme}/screenshot.png" %>
				  	<% screenshot_thumbnail = "/themes/#{theme}/screenshot_thumbnail.png" %>
				  	<% if File.exists?(Rails.root.to_s + "/public" + screenshot)%>
				 			    <a href="<%= screenshot %>" rel="colorbox" title="<%= t("single.theme") %> <%= t("single.preview") %> ">
								    <img alt="<%= theme %>" class="thumbnail" src="<%= screenshot_thumbnail %>" />
								</a>
					<% else %>
						<%= t("single.negative") %> <%= t("single.preview") %>
					<% end %>
				  </td>
				  <td align=left style="padding-left:10px;vertical-align:middle">
				  	
				  		<% theme_config_file  = Rails.root.to_s + "/public" + "/themes/#{theme}/theme.yml" %>
				  		<% if File.exists?(theme_config_file)%>
							
							<% theme_file = YAML::load(File.open(theme_config_file)) %>
							<%#= theme_file.inspect %>
							<h2 class="title"><%= h theme_file["theme"]["name"] %></h2>
							<i><%= h theme_file["theme"]["description"] %></i><br>
							<div class="spacer"></div>							
							<%= t("single.by") %>  <a href="<%= h theme_file["theme"]["author_website"] %>" target="_blank"><b><%= h theme_file["theme"]["author"] %></b></a><br>
								<%= t("single.version") %> : <b><%= h theme_file["theme"]["version"] %></b> 
	
							<img src="/themes/<%= @setting[:theme] %>/images/icons/link.png" class="icon" alt="" >							
							<a href="<%= h theme_file["theme"]["theme_website"] %>" target="_blank"><b><%= t("single.theme")%> <%= t("single.website")%></b></a>
							<%= icon("public") %>
							<%= link_to t("single.preview"), {:action => params[:action], :theme => theme}, :target => "_blank"  %>
							
							<img src="/themes/<%= @setting[:theme] %>/images/icons/delete.png" class="icon" alt="" title="delete" >
							<%= link_to t("single.delete"), {:action => "delete_theme", :controller => "settings", :theme_name => theme}, :confirm => t("confirm.general") %>							
			
							
				  		<% else %>
				  			<h2 class="title"><%= theme %></h2>
						<% end %>
				  	
				  </td>
				  <td align=right style="padding-right:20px;vertical-align:middle">
					<input type="radio" name="setting[theme]" value="<%= theme %>" <% if theme == @setting[:theme] %>CHECKED<% end %>>
				  </td>
				 </tr>
			 <% end %>
			</table>
			<div align=center style="margin-top:5px;"><%= submit_tag t("single.save"), :class => "button_1" %></div>																																								
		<% end %>	
	
	</div>

</div>
