<%= error_messages_for :page %>

<div class="box_2">
	<table style="width:100%;" cellpadding=0 cellspacing=0>
		<tr>
			<td align=left class="left">
				<div class="field">
					<% if page.is_system_page? %>
						<h3><%= page.title %></h3>
						<%= content_tag(:div, page.description, :class => "description") %>
					<% else %>
						<h3><%= label "page", "title" %></h3>							
						<%= text_field 'page', 'title', :id => "form_title_box_#{page.id}", :disabled => !page.title_editable  %>
					<% end %>				
				</div>
			</td>
			<td align=left class="right">
				<% if page.is_blog_post? %>	
					<div class="field">		
						<h3><%= label "page", "created_at" %></h3>		
						<%= datetime_select 'page', 'created_at'  %>
					</div>								
				<% end %>							
			</td>
		</tr>
	</table>
	
	<div align=right>
		<%= link_to_function(t("label.toggle_editor"), "toggleEditor('form_content_box_#{page.id}')") %>
	</div> 
	
	<div id="editor_wrapper">
		<%= text_area 'page', 'content', :style => "width:100%;height:500px", :class => "mceEditor", :id => "form_content_box_#{page.id}", :disabled => !page.content_editable %>
	</div>

	<%= content_tag(:h3, link_to_function(icon("dropdown") + " " + t("single.advanced"), "$('#advanced_options').toggle()", :class => "extra_options")) %>	
	<div id="advanced_options"  class="extra_options_box" style="display:none;" >
		<table cellpadding=0 cellspacing=0>
			<tr>
				<td class="">
					<% if page.is_public_page? %>
						<div class="side">				
							<div class="box_1" style="margin-bottom:0px">
								<h3 class="title"><%= Page.human_attribute_name(:page_id) %></h3>
								<div class="indent">
									<table style="width:100%" cellpadding=0 cellspacing=0>
										<tr>
											<td align=left>
												<%= t("single.none") %>
											</td>
											<td align=right>
												<input type="radio" value="0" name="page[page_id]" <%= "CHECKED" if @page.page_id == 0 %>> 
											</td>	
										</tr>
									</table>						
								</div>
								<div class="spacer"></div>				
								<% for page in Page.find(:all, :conditions => ["page_type = ? and page_id = 0", "public"], :order => "title ASC") %>
									<%= descend_page(page, :make_radio_button => true, :id_to_ignore => @page.id, :id_to_check => @page.page_id) %>
								<% end %>
							</div>	
						</div>						
					<% end %>								
	
							
			
				</td>
				<td>
						<div class="field">
							<% if !page.is_system_page? %>
								<h3><%= label "page", "description" %></h3>								
								<%= text_field 'page', 'description', :id => "form_description_box_#{page.id}", :disabled => !page.description_editable  %>
							<% end %>									
						</div>			
																														
						<% if !page.is_system_page? %>
							<div class="field">
								<h3>
									<%= check_box "page", "published" %>
									<%= icon("public") %>
									<%= label "page", "published" %>
								</h3>	
								<%= content_tag(:div, Page.human_attribute_name(:published_description), :class => "description")%>																										
							</div>	
							<div class="field">
								<h3>
									<%= check_box "page", "locked" %>
									<%= icon("locked") %>
									<%= label "page", "locked" %>
								</h3>	
								<%= content_tag(:div, Page.human_attribute_name(:locked_description), :class => "description") %>																										
							</div>	
							<% if !page.is_blog_post?  %>						
							<div class="field">
								<h3>
									<%= check_box "page", "display_in_menu" %>
									<%= icon("menu") %>
									<%= label "page", "display_in_menu" %>
								</h3>	
							</div>	
							<% end %>
							<div class="field">
								<h3>
									<%= check_box "page", "redirect" %>
									<%= icon("redirect") %>
									<%= label "page", "redirect" %>
									<%= content_tag(:div, text_field("page", "redirect_url"), :class => "description") %>																										
								</h3>	
							</div>			
					<% end %>																		
				</td>					
			</tr>
		</table>	
	</div>
	<%= content_tag(:h3, link_to_function(icon("dropdown") + " " + t("label.additional_info"), "$('#additional_info').toggle()", :class => "extra_options")) %>
	<div id="additional_info" class="extra_options_box" style="display:none;">
		<table cellpadding=0 cellspacing=0>
			<tr>
				<td>
					<% if params[:action] == "edit" || params[:action] == "update" %>
						<div class="side">									
							<div class="box_1" style="margin-bottom:0px">
								<h3 class="title"><%= icon("details") %> <%= t("label.additional_info") %></h3>
								<%= Page.human_attribute_name(:updated_at) %>: <b><%= friendly_date @page.updated_at %></b>		<br>					
								<%= Page.human_attribute_name(:created_at) %>:  <b><%= friendly_date @page.created_at %></b>		<br>
								<% if @page.user %>
									<%= Page.human_attribute_name(:user_id) %> 			
									<b><%= link_to  "#{h @page.user.username}", {:action => "user", :controller => "browse", :id => @page.user}, :title => "#{@page.user.username}"  %></b>
									<%= user_avatar(@page.user, :class => "tiny") %>
								<% end %>	
							</div>	
						</div>						
					<% end %>							
				</td>
				<td>
					<%= render :partial => "html_allowed" %>												
				</td>
			</tr>
		</table>
	</div>															
</div>
	




													