<% if @logged_in_user.is_admin? %>
	<div class="box_style_1" style="margin-bottom:5px" id="page_header_box">
		<table style="width:100%" cellpadding=0 cellspacing=0>
			<tr>
				<td align=left>		
             		<%= "<img src=\"/themes/#{@setting[:theme]}/images/icons/private.png\" class=\"icon help\" title=\"#{Page.human_attribute_name(:published_description)}">" if !page.published %>                        																		
				</td>
				<td align=right>
						<% if page.is_public_page? %>						
							<%= link_to icon("new") + " " + t("label.item_new_child", :item => Page.human_name), {:action => "new", :controller => "pages", :id => page} %>
						<% end %>								
						<%= link_to icon("edit") + " " + t("single.edit"), {:action => "edit", :controller => "pages", :id => page} %>
						<% if page.is_public_page? %>						
							<%= link_to icon("delete") + " " + t("single.delete"), {:action => "delete", :controller => "pages", :id => page}, :confirm => t("confirm.item_delete", :item => Page.human_name) %>
						<% end %>						
				</td>
			</tr>
		</table>		
	</div>
<% end %>
<%= nav_link_page page %>