<div class="page_comments">
	<a name="comments"></a>
	<div class="comments">
	<% for comment in comments %>
		<% comment_user = (comment.user_id.blank? || comment.user_id == 0) ? nil : User.find(comment.user_id) %>
		<a name="comment_<%= comment.id %>"></a>
		<div class="comment">
			<table>
				<tr> 
					<td align=left class="user_column">
						<div class="user_box">
						   <% if comment_user %>
							 <%= user_avatar(comment_user, :size => "small") %>
							 <br>
							 <%= link_to comment_user.username, {:action => "user", :id => comment_user, :controller => "browse" }, :style => "font-weight:bold"   %>
							 <br>
						   <% else %><%# an anonymous comment %>
						   	 <% if !comment.anonymous_email.nil? %>
									 <%= gravatar_image(comment.anonymous_email, :size => "small") %>
							 <% else %>
					 	         <img src="/images/default_avatar.png" class="avatar_small">
							 <% end %>
							 <br>
							 <%= h comment.anonymous_name %>
							 <br>							   
						   <% end %>
						</div>
					</td>
					<td align=left class="comment_column">
						<% if comment_user && comment.user.is_admin? %>
						<div class="comment_box_from_owner">
						<% else %>
						<div class="comment_box">
						<% end %>
							<div align=left>
								<b class="highlight_1"><%= friendly_date comment.created_at %></b>
									<% if @logged_in_user.is_admin? %>
								    <%= link_to icon("delete"), { :action => 'delete_page_comment', :controller => "pages", :id => comment.id, :comment_id => comment.id},  :confirm => t("confirm.item_delete", :item => PageComment.model_name.human) %>						
								<% end %>
								<br>
								<%= simple_format comment.comment %>
							</div>
						</div>
					</td>
				</tr>
			</table>			
		</div>
	<% end %>	
	</div>	
</div>

