<div class="box_2" style="margin-bottom:5px;" align=center>
	<h3 class="title" align=left>Pages</h3>
	<div class="box_<%= params[:type].downcase == "public" ? "1" : "2" %>" style="margin-bottom:5px;">
		<img src="/themes/<%= @setting[:theme] %>/images/icons/pages.png" class="icon"> 				
		<%= link_to "#{t("activerecord.models.public_page").pluralize} (#{Page.public_pages.size})", {:action => "index", :controller => "pages", :type => "Public"} %>				
	</div>	

	<div class="box_<%= params[:type].downcase == "blog" ? "1" : "2" %>" style="margin-bottom:5px;">
		<img src="/themes/<%= @setting[:theme] %>/images/icons/pages.png" class="icon"> 				
		<%= link_to "#{t("activerecord.models.blog_page").pluralize} (#{Page.blog_pages.size})", {:action => "index", :controller => "pages", :type => "Blog"} %>				
	</div>	
	
	<div class="box_<%= params[:type].downcase == "system" ? "1" : "2" %>" style="margin-bottom:5px;">
		<img src="/themes/<%= @setting[:theme] %>/images/icons/pages.png" class="icon"> 				
		<%= link_to "#{t("activerecord.models.system_page").pluralize} (#{Page.system_pages.size})", {:action => "index", :controller => "pages", :type => "System"} %>			
	</div>
	

		
</div>
