<% 
	subpages ||= page.pages.published.display_in_menu.in_order
%>
<%= content_for :side do %>
	<%= content_tag :div, :class => "menu", :id => "page-menu" do %>
		<h2 class="title">
			<%= link_to_page page %>
		</h2>
		<%= content_tag :ul, :class => :menu do %>
			<% for subpage in subpages %>
				<%= content_tag(:li, link_to_page(subpage)) %>				
				<%#= descend_page(subpage) %>
			<% end %>	
		<% end %>
	<% end %>
<% end unless subpages.empty? %>
