 <% if @logged_in_user.anonymous? %>
	<div class="field">		
		<h3><%= label "comment", "anonymous_name", PageComment.human_attribute_name(:anonymous_name) %></h3>		
		<%= text_field 'comment', 'anonymous_name'  %>
	</div>		 
	<div class="field">		
		<h3><%= label "comment", "anonymous_email", PageComment.human_attribute_name(:anonymous_email)  %></h3>		
		<%= text_field 'comment', 'anonymous_email'  %>
	</div>	
	<div class="field">
		<%= label_tag :humanizer_answer, controller.humanizer_question %>
		<%= text_field_tag :humanizer_answer %>
		<%= hidden_field_tag :humanizer_question_id, controller.humanizer_question_id %>
	</div>	
 <% end %>
 <%= text_area_tag "comment[comment]" %> 		
 <div style="clear:both"></div>
