<%= form_tag  :action => 'update', :controller => "pages", :id => @page.id  %>
	<div id="side">
			  	<%= render :partial => "pages/menu" %>				
	</div>
	<div id="main">
		<input type="hidden" name="page[page_type]" value="<%= @page.page_type.downcase %>">
			<h2 class="title">
				<%= t("label.item_edit", :item => @page.model_name) %>
			</h2>
			<hr>
			<%= render :partial => "form", :locals => {:page => @page} %>
			<div align=center>
				<%= submit_tag t("single.save"), :class => "button_1" %>
			</div>						
	</div>	
</form>

<div align=center style="clear:both">						
	<%= link_to icon("arrow_left") + " " + t("single.back"), {:action => "index", :type => @page.page_type}  %>
</div>