<% content_for :side do %>
	<%= render :partial => "pages/menu" %>
<% end if false %>				

<%= form_for(@page, :url => { :action => 'update', :controller => "pages", :id => @page.id }, :method => "post") do |f| %>
	<div>
		<input type="hidden" name="page[page_type]" value="<%= @page.page_type.downcase %>">
			<div class="header">
				<div class="title">
					<h2 class="title">
						<%= t("label.item_edit", :item => @page.model_name) %>
					</h2>							
				</div>
				<div class="menu">
					<%= content_tag :ul, :class => "menu" do %>
						<%= content_tag(:li, link_to(t("single.view"), {:action => "view", :controller => "pages", :id => @page}, :target => "_blank")) %>														
					<% end unless @page.is_system_page? %>
				</div>
			</div>

			<%= render :partial => "form", :locals => {:page => @page, :f => f} %>
			<div align=center>
				<%= submit_tag t("single.save"), :class => "button_1" %>
			</div>						
	</div>	
<% end %>

<%= back %>
