<%= form_tag  :action => 'create', :controller => "pages" %>
<div id="side">
				<%= render :partial => "pages/menu" %>				
				<% if @page.is_public_page? %>
					<div align=left class="box_1" style="margin-bottom:5px;">
						<h3 class="title"><%= label "page", "page_id" %></h3>
						<div class="indent">
							<table style="width:100%" cellpadding=0 cellspacing=0>
								<tr>
									<td align=left>
										<%= t("single.none") %>		
									</td>
									<td align=right>
										<input type="radio" value="0" name="page[page_id]" <%= "CHECKED" if @page.page_id == 0 %>> 
									</td>	
								</tr>
							</table>						
						</div>
						<div class="spacer"></div>				
						<% for page in Page.find(:all, :conditions => ["page_type = ? and page_id = 0", "public"], :order => "title ASC") %>
							<%= descend_page(page, :make_radio_button => true, :id_to_ignore => @page.id, :id_to_check => @page.page_id) %>
						<% end %>
					</div>
				<% end %>	
				<%= render :partial => "shared/html_allowed" %>											  		  
</div>
</div id="main">
				<div class="box_2" style="margin-bottom:5px">
					<h2 class="title">
						<%= t("label.item_new", :item => @page.human_name) %>
					</h2>
					<hr>
					<div style="margin-bottom:10px"></div>
						<input type="hidden" name="page[page_type]" value="<%= params[:type].downcase %>">
						<%= render :partial => "form", :locals => {:page => @page}  %>
						<div align=center><%= submit_tag t("label.item_create", :item => @page.human_name), :class => "button_1" %></div>	
				</div>
</div>	
</form>
		
<div align=center>						
	<%= link_to icon("arrow_left") + " " + t("single.back"), :back %>
</div>
