<%= form_for(@page, :url => { :action => 'create', :controller => "pages", :id => @page.id }, :method => "post") do |f| %>
	<div>
		<div class="header">
			<div class="title">
				<h2 class="title">
					<%= t("label.item_new", :item => @page.model_name) %>
				</h2>							
			</div>
		</div>
		<input type="hidden" name="page[page_type]" value="<%= params[:type].downcase %>">
		<%= render :partial => "form", :locals => {:page => @page, :f => f}  %>
		<div align=center><%= submit_tag t("label.item_create", :item => @page.model_name), :class => "button_1" %></div>	
	</div>	
<% end %>	
	
<%= back %>
