<% content_for :side do %>
	<% if params[:controller] == "blog" %>
		<%= render :partial => "blog/menu" %>
	<% else %>
		<%= render :partial => "menu_for_page", :locals => {:page => @page} if @page.display_children %>				
	<% end %>
<% end %>
	
<%= render :partial => "navigation", :locals => {:page => @page} %>

<div class="page" id="page-<%= @page.to_param %>">
	<%= render @page %>
</div>
