<% if item.is_editable_for_user?(@logged_in_user) %>
	<% tags = PluginTag.find(:all, :conditions => ["item_id = ?", item.id], :order => "created_at DESC") %>
<% else %>
	<% tags = PluginTag.find(:all, :conditions => ["item_id = ? and is_approved = '1'", item.id], :order => "created_at DESC") %>
<% end %>

	<div class="plugin_box">
		<a name="<%= plugin.model_name.human(:count => :other) %>"></a>
		<div class="header title">
			<table style="width:100%" cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>
						<h2 class="title"><%= tags.size %> <%= plugin.model_name.human(:count => tags.size) %></h2>										
					</td>
					<td align=right>
						<% if @logged_in_user.group.plugin_permissions[plugin.plugin_class.name].can_create? || item.is_user_owner?(@logged_in_user) || @logged_in_user.is_admin? %>
							<a href="javascript:toggle_box('new_tag_box')" class="plugin_title_link">
								<%= icon("new") %>
								<%=  t("label.item_new", :item => plugin.model_name.human) %>
							</a>
						<% end %>			
					</td>
				</tr>
			</table>				
		</div>			
		<% if @logged_in_user.group.plugin_permissions[plugin.plugin_class.name].can_create? || item.is_user_owner?(@logged_in_user) || @logged_in_user.is_admin? %>
			<div style="display:none" id="new_tag_box" class="box_1">
			      <h2><%=  t("label.item_new", :item => plugin.model_name.human) %></h2>
				   <div>
   					   <%= form_tag  :action => 'create', :controller => "plugin_tags", :id => item.id %>
						<%= t("single.name") %> <input name="tag_name" type="text" id="new_tag_tag">
						<input name="plugin.title" value="<%= plugin.model_name.human %>" type="hidden">
						<%= submit_tag  t("label.item_create", :item => plugin.model_name.human), :class => "button_1" %>
					   </form>
					 </div>
					 <br>
					 <div align="center">
	   						<a href="javascript:toggle_box('new_tag_box')"><%= icon("cancel") %></a>
				     </div>
			</div>
		<% end %>
		<% if tags.size > 0 %>				
				<div class="tags" align=left>
		 		    <% counter = 1 %>
					<% for tag in tags %>
						<div id="tag_box_<%= tag.id %>">
							<%= icon("tag") %>
							<%= link_to_tag tag %>
							<%= render :partial => "plugins/plugin_item_controls", :locals => {:record => tag, :options => {:preview => false, :byline => false, :edit => false}} %>

						</div>
					<% end %>
				</div>
		
		<% else %>
			<%= t("label.items_none_added", :items => plugin.model_name.human(:count => :other)) %>
		<% end %>
	</div>