<% if item.can?(@logged_in_user, :edit) %>
	<% tags = PluginTag.record(item).newest_first %>
<% else %>
	<% tags = PluginTag.record(item).newest_first.approved %>
<% end %>

	<div class="plugin_box">
		<a name="<%= plugin.model_name.human(:count => :other) %>"></a>
		<div class="header title">
			<table style="width:100%" cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>
						<h2 class="title"><%= tags.size %> <%= plugin.model_name.human(:count => tags.size) %></h2>										
					</td>
					<td align=right>
						<% if PluginReview.can?(@logged_in_user, :create, :record => @record) %>
							<a href="javascript:toggle_box('new_tag_box')" class="plugin_title_link">
								<%= icon("new") %>
								<%=  t("label.item_new", :item => plugin.model_name.human) %>
							</a>
						<% end %>			
					</td>
				</tr>
			</table>				
		</div>			
		<% if PluginTag.can?(@logged_in_user, :create, :record => @record) %>
			<div style="display:none" id="new_tag_box" class="box_1">
			      <h2><%=  t("label.item_new", :item => plugin.model_name.human) %></h2>
				   <div>
   					   <%= form_tag  :action => 'create', :controller => "plugin_tags", :id => item.id, :record_id => @record.id, :record_type => @record.class.name %>
						<%= label(:plugin_tag, :name, t("single.name")) %>
						<%= text_field_tag "plugin_tag[name]" %>
						<input name="plugin.title" value="<%= plugin.model_name.human %>" type="hidden">
						<%= submit_tag t("label.item_create", :item => plugin.model_name.human), :class => "button_1" %>
					   </form>
					 </div>
					 <br>
					 <div align="center">
	   						<a href="javascript:toggle_box('new_tag_box')"><%= icon("cancel") %></a>
				     </div>
			</div>
		<% end %>
		<% if tags.size > 0 %>				
				<div class="tags" align=left>
		 		    <% counter = 1 %>
					<% for tag in tags %>
						<div class="box_1" id="tag_box_<%= tag.id %>">
							<%= render :partial => "plugins/record_menu", :locals => {:record => tag, :options => {:edit => false}} %>
							<%= icon("tag") %>
							<%= link_to_tag tag %>
						</div>
					<% end %>
				</div>
		
		<% else %>
			<%= t("label.items_none_added", :items => plugin.model_name.human(:count => :other)) %>
		<% end %>
	</div>