<div class="item">
	<%= record_header(@record) %>
	<h2>
		<%= icon("image") + " " + t("label.item_edit", :item => PluginImage.model_name.human) %> <%= t("single.for").downcase %> <%= h(@record.record.to_s) %>
	</h2>
	<br />	
	<%= form_for(@record, :url => { :action => "update", :controller => "plugin_images"}, :html => {:multipart => true}) do |f| %>
		<%= remember_record(@record) %>
		<%= render :partial => "plugin_images/form", :locals => {:f => f} %>		
		<br />
		<div align=center style="clear:both">
			<%= submit_tag  t("label.item_save", :item => PluginImage.model_name.human), :class => "button_1" %>
		</div>
	<% end %>		    			    			
</div>
<%= back %>
