<div id="tinymce_plugin_opal_image">
	<ul class="plugin_tabs_horizontal"> 
			<li><a href="#<%= t("single.upload") %>"><%= t("single.upload") %> <%= PluginImage.model_name.human %></a></li> 
		    <li><a href="#<%= Image.model_name.human(:count => :other) %>"><%= PluginImage.model_name.human(:count => :other) %></a></li>				
	</ul>			
	<div class="plugin_panes_horizontal"> 					
		<div id="Upload">								   
   			<%= form_for(@plugin_image, :url => {:action => 'create', :controller => "plugin_images", :tinymce => "true"}, :html => {:multipart => true}) do |f| %>	   					 		
			   <%= render :partial => "form", :locals => {:f => f} %>
			   <br>
			   <div align=center>
			   		<input type="submit" value="<%= t("single.upload") %>" class="button_1">
			   </div>
		   <% end %>	
		</div>
		<div class="plugin_box">		
		    <div id="Images">	
				<div class="images" align=left>			
					<% if @images.size > 0 %>
						<% for image in @images %>
							<div class="image">
							   <%= render :partial => "plugins/record_menu", :locals => {:record => image, :options => {:preview => false, :user => false, :date => false}} %> 									   																								   							
							   <a href="javascript:ImageDialog.insertOpalImage('<%= image.image.url %>', '<%= image.description %>')" title="<%= t("label.item_select", :item => Image.model_name.human) %>">
									<%= content_tag(:div, plugin_image_thumbnail(image, :preview => false)) %>														
							   </a>
							</div>							
						<% end %>
						<div class="clear"></div>
					<% else %>	
						<div class="not_found" align=center>												
							<%= t("notice.items_not_found", :items => PluginImage.model_name.human(:count => :other)) %>
						</div>
					<% end %>
				</div>
			</div>
		</div>			
	</div>		
</div>
