

<div style="width:500px;margin:0px auto" align=center>
<h2><%= t("label.log_in") %></h2>
<br>

	<div class="box_2" style="margin-bottom:5px;" align=center>
		 <% if session[:original_uri] %>
		
			<div class="success" style="margin:0px 0px 5px 0px">
					<%= icon("success") %>
					<%= t("label.log_in_redirect_message") %>
			</div>
		<% end %>
		 <%= form_tag :action => "login", :controller => "user"  %>
			 <table>
			  <tr>
			   <td><%= User.human_attribute_name(:username) %></td><td > <%= text_field 'user', 'username', :style => "width:200px;", :id => "login_username_2", :onfocus => "focus_input('login_username_2')", :onblur => "blur_input('login_username_2')" %></td>
			  </tr>
			  <tr>
			   <td><%= User.human_attribute_name(:password) %></td><td > <%= password_field 'user', 'password', :style => "width:200px;", :id => "login_password_2", :onfocus => "focus_input('login_password_2')", :onblur => "blur_input('login_password_2')" %></td>
			  </tr>
			  <tr>		   
			   <td colspan=2 align=center><%= submit_tag t("label.log_in"), :class => "button_1" %></td>	
			  </tr>
			 </table>
	     </form>
		 <div class="box_2" style=";margin-bottom:0px">
		 	<%= t("label.log_in_forgot_password") %>
			<img src="/themes/<%= @setting[:theme] %>/images/icons/cycle.png" class="icon">		
			<%= link_to_function "Recover", "toggle_box('forgot_password_box')" %>
			<div style="display:none" id="forgot_password_box" align=center>
				<div class="spacer"></div>
				<%= t("label.log_in_forgot_password_message") %>			
				<%= form_tag :action => "forgot_password", :controller => "user"  %>
					<%= text_field 'user', 'email', :id => "forgot_email", :onfocus => "focus_input('forgot_email')", :onblur => "blur_input('forgot_email')" %>	   
					<div style="height:5px"></div>
					<%= submit_tag t("label.log_in_recover_password"), :class => "button_2" %>				
				</form>			
				<div style="height:5px"></div>
		 	    <div align="center">
			   		<a href="javascript:toggle_box('forgot_password_box')"><%= icon("cancel", t("single.cancel")) %></a>
			    </div>			
			</div>
		 </div> 
	</div>
	<% if get_setting_bool("allow_user_registration") %>
		<div class="box_2" style="margin-bottom:5px">
			<%= t("label.register_message") %>	
		  	<%= link_to t("label.register"), {:action => "register", :controller => "user"}, :class => "signup_button" %>
		</div>
	<% end %>		
</div>



<br>