<%# Menu for Regular User %>
<div style="display: block;">
 <ul id="tabmenu">
   <li>				   	
		<%= link_to icon("home") + " " + t("section.title.my_account"), {:action => "index", :controller => "user"} , :class => (params[:action] == "index" && params[:controller] == "user" ? "active" : "") %>		
   </li>
   <% if Setting.get_setting_bool("let_users_create_items") || @logged_in_user.is_admin? %>
   <li>			
		<%= link_to icon("new") + " " + t("label.item_new", :item => @setting[:item_name]), {:action => "new", :controller => "items"}, :class => (params[:action] == "new" || params[:action] == "create" ? "active" : "") %>
   </li>
   <li>
		<%= link_to icon("items") + " " + t("label.item_my", :item => @setting[:item_name_plural]), {:action => "items", :controller => "user"}, :class => (params[:action] == "items" ? "active" : "") %>
   </li>
   <% end %>   
   <li>
		<%= link_to icon("mail") + " " + UserMessage.human_name.pluralize, {:action => "for_me", :controller => "messages"}, :class => ((params[:action] == "for_me" && params[:controller] == "messages") ? "active" : "") %>
   </li>
   <li>
		<%= link_to icon("settings") + " " + t("section.title.my_settings"), {:action => "edit", :controller => "users", :id => @logged_in_user}, :class => ((params[:action] == "edit" && params[:controller] == "users") || (params[:action] == "update" && params[:controller] == "users") || params[:action] == "change_password"  ? "active" : "") %>
   </li>
   <% if @logged_in_user.is_admin? %>
    <li>
		<%= link_to icon("admin") + " " + t("section.title.admin").capitalize, {:action => "index", :controller => "admin"} %>
	</li>
   <% end %>
 </ul>
 <div id="tabcontent">