	<div id="side">
			<div class="box_1" align=center>
				<% num_of_new_messages = UserMessage.count(:all, :select => "id", :conditions => ["user_id = ? and is_read = '0' and to_user_id = ?", @logged_in_user.id, @logged_in_user.id]) %>
				<%= icon("mail") %>
				<%= link_to "#{num_of_new_messages} #{t("single.new")} #{UserMessage.model_name.human(:count => num_of_new_messages)}", {:action => "for_me", :controller => "messages"} %>				
			</div>							
	</div>
	<div id="main">				
				<div class="box_2">
				   <h2 class="title"><%= t("label.user_greeting", :name => h(@logged_in_user.first_name)) %></h2> 
						<%= t("label.user_welcome_to_account", :items => Item.model_name.human(:count => :other)) %>

				</div>

				<div class="box_2">
						<table style="width:100%" cellpadding=0 cellspacing=0>
							<tr>
								<td align=left>
									<h2 class='title'>
										<%= t("label.item_my", :item => t("label.items_latest", :items => Log.model_name.human(:count => :other))) %>
									</h2>									
								</td>
								<td align=right>
									<%= link_to icon("logs") + " " + "#{t("single.all")} #{Log.model_name.human(:count => :other)}", {:controller => "logs", :action => "for_me"} %>									
									
								</td>
							</tr>
						</table>
						<hr>		
						<%= render :partial => "logs/list_logs", :locals => {:logs => @latest_logs} %>													
				</div>	
	</div
<br>							