<% content_for :side do %>
	<div align=center>
		<% num_of_new_messages = UserMessage.count(:all, :select => "id", :conditions => ["user_id = ? and is_read = '0' and to_user_id = ?", @logged_in_user.id, @logged_in_user.id]) %>
		<%= icon("mail") %>
		<%= link_to "#{num_of_new_messages} #{t("single.new")} #{UserMessage.model_name.human(:count => num_of_new_messages)}", {:action => "for_me", :controller => "messages"} %>				
	</div>							
<% end %>

<div class="header">
   <div class="title">
   	 <h2 class="title"><%= t("label.user_greeting", :name => h(@logged_in_user.first_name)) %></h2>
   </div> 
   <div class="description">
   		<%= t("label.user_welcome_to_account", :items => Item.model_name.human(:count => :other)) %>
   </div>
</div>

<div>
	<div class="header">
		<div class="title">
			<h2 class='title'>
				<%= t("label.item_my", :item => t("label.items_latest", :items => Log.model_name.human(:count => :other))) %>
			</h2>			
		</div>
		<div class="menu">
			<%= content_tag :ul, :class => :menu do %>				
				<%= content_tag(:li, link_to(icon("logs") + " " + "#{t("single.all")} #{Log.model_name.human(:count => :other)}", {:controller => "logs", :action => "for_me"})) %>									
			<% end %>
		</div>
	</div>
	<%= render :partial => "logs/list_logs", :locals => {:logs => @latest_logs} %>													
</div>	
						