<script type="text/javascript">
	$(document).ready(function() {		
		// Disabling Because something is settings omniauth's session to nil
		$('#user_username_off').blur(function() { 
			//alert($("#user_username").val())
			
			$.ajax({
			  type: "POST",	
			  url: '<%= url_for :action => "user_valid", :controller => "user" %>',
			  data: "username="+$("#user_username").val(),
			  beforeSend: function(){
			  	//$("#username_check_box").html('<%= loading %>')
			  },
			  success: function(data) {
			  	//alert(data)
			  	var json = JSON.parse(data);
				if(json['valid']) //available
				{
					$("#username_check_box").html('<%= icon("success") %>')
				}
				else // not available
				{
					$("#username_check_box").html('<%= icon("failure") %>' + ' ' + json['errors'])
				} 
			    //$("#username_check_box").html(data);
			    //alert('Load was performed.');
			  },
		        error:function (xhr, ajaxOptions, thrownError){
		            alert(xhr.status);
		            alert(thrownError);
		        }  		  
			});	
		});	
	});			
</script>
<div class="box_1" align=center>
	<table style="width:100%">
		<tr>
			<td class="left">
				<% unless Authentication.providers.empty? %>						
					<%= content_tag(:div, :class =>  "notice") do %>
						<%= content_tag(:div, :class => "info") do %>
							<%= t("notice.item_info_saved", :item => session[:omniauth]['provider']) %>
							<%= link_to(icon("delete", t("single.forget"), :class => "transparent"), forget_authentications_path) %>
						<% end %>
					<% end if session[:omniauth] && session[:omniauth]['provider'] %>
					<%= content_tag(:h2, t("label.use_authentication"), :class => "title")  %>
					<%= render :partial => "authentications/providers", :locals => {:options => {:select => session[:omniauth] ? session[:omniauth]['provider'] : nil}} %>			
				<% end %>					
			</td>
			<td class="right spacer_left">
			   <h2><%= t("label.create_account") %> </h2><br />
			   <%= form_for :user,  :url => { :action => "create_account", :controller => "user" } do |f| %>
			    <div align=center>
				    <%= f.error_messages %>
				    
				 	<table style="text-align:left">
			         <tr>
			             <td>
			                 <%= f.label :email %>
			             </td>
			             <td>
			                 <%= f.text_field :email %>
			             </td>
			         </tr>
			         <tr>
			             <td>
			                 <%= f.label :username %>
			             </td>
			             <td>
			                 <%= f.text_field :username %>
							 <span id="username_check_box">&nbsp;</span>
			             </td>
			         </tr>
			         <tr>
			             <td>
			                 <%= f.label :password %>
			             </td>
			             <td>
			                 <%= f.password_field :password %>
			             </td>
			         </tr>
			         <tr>
			             <td>
			                 <%= f.label :password_confirmation %>
			             </td>
			             <td>
			                 <%= f.password_field :password_confirmation %>
			             </td>
			         </tr>	 
					 <tr>
					 	<td colspan=2>
					 		<div style="height:20px"></div>
					 	</td>		
					 </tr>
			         <tr>
			             <td>
			                 <%= f.label :first_name %>
			             </td>
			             <td>
			                 <%= f.text_field :first_name %>
			             </td>
			         </tr>
			         <tr>
			             <td>
			                 <%= f.label :last_name %>
			             </td>
			             <td>
			                 <%= f.text_field :last_name %>
			             </td>
			         </tr>
			
			
			         <tr>
			             <td>
			                 <%= f.label :locale %>
			             </td>
			             <td>
			                 <%= render :partial => "select_locale", :locals => {:options => {:input_name => "user[locale]"}} %>
			             </td>
			         </tr>
			         <% unless session[:omniauth] %>
			         <tr>
			             <td>
							<%= label_tag :humanizer_answer, controller.humanizer_question %>
			             </td>
			             <td align=left>
							<%= text_field_tag :humanizer_answer %>
							<%= hidden_field_tag :humanizer_question_id, controller.humanizer_question_id %>
			             </td>
			         </tr>
			         <% end %>
					 <% page = Page.find_by_name("terms_of_service") %>
				     <tr><td colspan=2 align=center>
				     	<div style="height:20px"></div>	
							<%= t("label.agree_to_tos") %> <%= link_to_page(page) %>
						
						</td></tr>
				     <tr><td colspan=2 align=center><%= submit_tag t("label.create_account"), :class => "button_1" %></td></tr>
				 	</table>
				 </div>
			   <% end %>
			</td>				
		</tr>
	</table>				
</div>
