<div class="section">
		<div class="header">					
			<table style="width:100%;" >
				<tr>
					<td align=left>
						<h2 class="title"><%=  t("section.title.my_settings") %></h2>					
					</td>
					<td align=right >
					</td>
				</tr>
			</table>
		</div>
	
	
	
	
	
	
	<div align=center>
		<table width="100%" cellpadding=0 cellspacing=0>
			<tr>
				<td valign=top align=center style="padding-right:5px;width:50%">
		
					
					<div class="box_2"  align=left style="margin-bottom:10px">
						<h3 class="title"><%= t("label.item_my", :item => t("single.avatar")) %></h3>
						<% form_tag({:action => 'change_avatar'}, :multipart => true) do %>
							<table>
								<tr>
									<td colspan=2 align=center>
									   <div class="user_avatar" align=center>
											<%= user_avatar(@user) %>
									   </div>						
									</td>
								</tr>
								<tr>
									<td style="width:100px"><%= t("label.item_select", :item => Image.human_name) %></td>
									<td><input type=file name="file" <% if @user.use_gravatar? %>DISABLED<% end %>></td>
								</tr>
								<tr>
									<td colspan=2 align=center style="font-size:10px">
										<%= t("info.image_guidelines") %>
										<hr>
									</td>
								</tr>
								<tr>
									<td style="width:150px"><%= UserInfo.human_attribute_name(:use_gravatar) %></td>
									<td align=right>
										<%= t("single.positive") %> <input type="radio" name="use_gravatar" value="1"<% if @user.use_gravatar? %>CHECKED<% end %>>
										<%= t("single.negative") %> <input type="radio" name="use_gravatar" value="0"<% if !@user.use_gravatar? %>CHECKED<% end %>>
									</td>
								</tr>						
							</table>
						
						   <div align=center><%= submit_tag t("single.save"), :class => "button_1" %></div>
						<% end %>
					</div>
					<div class="box_2"  align=left style="margin-bottom:10px">
						<h3 class="title"><%= t("label.item_change", :item => User.human_attribute_name(:password)) %></h3>
						<% form_tag :action => 'change_password' do %>
							<table class="input_table">
								<tr>
									<td class="name"><%=  label :user, :password %></td>
									<td class="input"><%= password_field 'user', 'password'  %></td>
								</tr>
								<tr>
									<td class="name"><%=  label :user, :password_confirmation %></td>
									<td class="name"><%= password_field 'user', 'password_confirmation'  %></td>
								</tr>
							</table>
						  <div style="height:5px"></div>
						  <div align=center><%= submit_tag t("label.item_change", :item => User.human_attribute_name(:password)), :class => "button_1" %></div>
						<% end %>
					</div>
				</td>
				<td valign=top align=left style="padding-left:5px;width:50%">
				
					<%= error_messages_for :user %>
					<%= error_messages_for :user_info %>
					<% form_for(@user, :url => {:action => 'update_account'}, :method => "post") do |f| %>			
						<div class="box_2" align=left>
							<h3 class="title"><%=  t("single.details") %></h3>
							<table style="width:100%">
								<tr><td align=left><%= f.label :username %></td><td align=right><b><%= h @user.username %></b></td></tr>
								<tr><td align=left><%= f.label :group %></td><td align=right><b> <%= @user.group.name %></b></td></tr>	
								<tr><td align=left><%= f.label :email %></td><td align=right><b><%= h @user.email %></b></td></tr>										
								<tr><td align=left><%= f.label :first_name %></td><td align=right><b><%= f.text_field :first_name %></b></td></tr>
								<tr><td align=left><%= f.label :last_name %></td><td align=right><b><%= f.text_field :last_name %></b></td></tr>
		   				        <tr><td align=left><%=  f.label :locale %></td><td align=right> <%= render :partial => "shared/select_locale", :locals => {:options => {:input_name => "user[locale]", :select => @user.locale}}  %></td></tr>
							</table>
							<hr>
							<h3 class="title"><%=  UserInfo.human_name %></h3>
		                    <% @user_info = @user.user_info %>
		                    <table style="width:100%">
		                        <tr>
		                            <td align=left valign=top>
		                                <%= label :user_info, :location %>
		                            </td>
		                            <td align=right>
		                                <%= text_field :user_info, :location %>
		                            </td>
		                        </tr>
		                        <tr>
		                            <td align=left valign=top>
		                                <%= label :user_info, :description %>
		                            </td>
		                            <td align=right>
		                                <%= text_area :user_info, :description, :style => "height:75px;width:160px" %>
		                            </td>
		                        </tr>
		                        <tr>
		                            <td align=left valign=top>
		                                <%= label :user_info, :interests %>
		                            </td>
		                            <td align=right>
		                            <%= text_area :user_info, :interests, :style => "height:75px;width:160px" %>
		                            </textarea>
		                        </td>
		                        </tr>
		                    </table>
		                    <hr><h3 class="title"><%= t("single.notification").pluralize %></h3>
		                    <table style="width:100%">
		                        <tr>
		                            <td align=left>
		                                <%= label :user_info, :notify_of_new_messages %>
		                            </td>
		                            <td align=right>
		                                <%= check_box "user_info", "notify_of_new_messages" %>
		                            </td>
		                        </tr>
		                    </table>
		                    <br>
											  
							  <div align=center><%= submit_tag t("single.save").capitalize, :class => "button_1" %></div>
						</div>
					<% end %>				
				</td>
			</tr>
		</table>
	</div>
</div>		