<h2 class="title"><%= @setting[:item_name_plural] %> in <%= @setting[:title] %></h2>
<div class="spacer"></div>		
<%= link_to "#{Item.count(:all)} total #{@setting[:item_name_plural]}", {:action => "all_items", :controller => "items"} %><br>
<div class="indent">
	<%= link_to "#{Item.count(:all, :conditions => ["is_approved = '1' and is_public = '1'"] )} public, approved #{@setting[:item_name_plural]}", {:action => "all_items", :controller => "items", :type => "approved"} %><br>
	<%= link_to "#{Item.count(:all, :conditions => ["is_approved = '0' and is_public = '1'"] )} unapproved #{@setting[:item_name_plural]}", {:action => "all_items", :controller => "items", :type => "unapproved"} %><br>					
	<%= link_to "#{Item.count(:all, :conditions => ["is_public = '0'"] )} private #{@setting[:item_name_plural]}", {:action => "all_items", :controller => "items", :type => "private"} %><br>					
</div>
