<div>
	<h2 class="title">
		 <%= link_to Item.model_name.human(:count => :other), {:action => "all_items", :controller => "items"}  %>
	</h2>
	<ul class="menu">
		<%= content_tag :li do %>
			<%= link_to "#{Item.human_attribute_name(:is_public)}, #{Item.human_attribute_name(:is_approved)} #{Item.model_name.human(:count => :other)}", {:action => "all_items", :controller => "items", :type => "approved"} %>
			<%= content_tag :span, Item.public.approved.count, :class => :count %>			
		<% end %>
		<%= content_tag :li do %>
			<%= link_to "#{t("single.not")} #{Item.human_attribute_name(:is_approved).downcase} #{Item.model_name.human(:count => :other)}", {:action => "all_items", :controller => "items", :type => "unapproved"} %>					
			<%= content_tag :span, Item.unapproved.count, :class => :count %>			
		<% end %>
		<%= content_tag :li do %>
			<%= link_to "#{t("single.private")} #{Item.model_name.human(:count => :other)}", {:action => "all_items", :controller => "items", :type => "private"} %>					
			<%= content_tag :span, Item.private.count, :class => :count %>			
		<% end %>						
	</ul>
</div>
