<% 
	options ||= Hash.new
	options[:category] ||= nil # no category by default, show all
%>
<% if options[:category] %>
	<% @category = options[:category] %>

	<h2 class="title" title="<%= @category.description unless @category.description.blank? %>"><%= @category.name %></h2>
	<%#= @category.description unless @category.description.blank? %>		
	<% for category in @category.child_categories %>
		<%= descend_category(category, :include_children => @setting[:include_child_category_items], :show_item_count => true, :depth => 0)  %>
	<% end %>			
	<%=  t("notice.items_not_found", :items => Category.human_attribute_name(:categories)) if @category.child_categories.size == 0 %>
<% else %>
	<h2 class="title"><%= Item.model_name.human(:count => :other) %></h2>
	<% for category in Category.get_parent_categories %>
		<%= descend_category(category, :include_children => @setting[:include_child_category_items], :show_item_count => true, :depth => 0)  %>		
	<% end %>	
<% end %>




