<% 
	options ||= Hash.new
	options[:category] ||= nil # no category by default, show all
%>

<div class="menu">
	<% if options[:category] %>
		<% @category = options[:category] %>
		
		<h2 class="title" title="<%= @category.description %>">
			<%= @category.name %>
		</h2>
		<%= content_tag :ul, :class => :menu do %>
			<% for category in @category.child_categories %>
				<%= content_tag(:li, link_to_category(category)) %>
			<% end %>			
		<% end %>
		<div class="footer">
			<%= auto_discovery_link_tag(:rss, {:action => "category", :controller => "items", :id => @category,  :format => "xml"}, {:title => "#{t("label.rss_feed")} - #{@category.name}"}) %> 
	    	<%= link_to icon("rss", "#{t("label.rss_feed")} - #{@category.name}") + " #{t("label.rss_feed")} - #{@category.name}",  {:action => "category", :controller => "items", :id => @category,  :format => "xml"} %>
	    </div>	
	<% else %>
		<h2 class="title">
			<%= Item.model_name.human(:count => :other) %>
		</h2>
		<%= content_tag :ul, :class => :menu do %>	
			<% for category in Category.get_parent_categories %>
				<%= content_tag(:li, link_to_category(category)) %>
			<% end %>
		<% end %>	
	<% end %>
</div>

<%= show_page Page.system.find_by_name("category_column") %>




