<% 
	options ||= Hash.new
	options[:category] ||= nil # no category by default, show all
%>
<% if options[:category] %>
	<% @category = options[:category] %>
	<table cellpadding=0 cellspacing=0 style="width:100%">
		<tr>
			<td align=left  style="vertical-align:middle">
					<h2 class="title" title="<%= @category.description unless @category.description.blank? %>"><%= @category.name %></h2>
			</td>
			<% if !@logged_in_user.anonymous? %>				
				<td align=right style="width:105px;vertical-align:middle">
						<%= link_to icon("new") + " #{t("label.item_new", :item => Item.model_name.human)}", {:action => "new", :controller => "items"} %>						
				</td>	
			<% end %>											
		</tr>			
	</table>
	<%= @category.description unless @category.description.blank? %>		
	<% for category in @category.child_categories %>
		<%= descend_category(category, :include_children => @setting[:include_child_category_items], :show_item_count => true, :depth => 0)  %>
	<% end %>			
	<%=  t("notice.items_not_found", :items => Category.human_attribute_name(:categories)) if @category.child_categories.size == 0 %>
<% else %>
	<table cellpadding=0 cellspacing=0 style="width:100%">
		<tr>
			<td align=left  style="vertical-align:middle">
				<h2 class="title"><%= Item.model_name.human(:count => :other) %></h2>
			</td>
			<% if !@logged_in_user.anonymous? %>
				<td align=right style="width:105px;vertical-align:middle">							
						<%= link_to icon("new") + " #{t("label.item_new", :item => Item.model_name.human)}", {:action => "new", :controller => "items"} %>						
				</td>	
			<% end %>												
		</tr>			
	</table>	
	<% for category in Category.get_parent_categories %>
		<%= descend_category(category, :include_children => @setting[:include_child_category_items], :show_item_count => true, :depth => 0)  %>		
	<% end %>	
<% end %>




