<%= error_messages_for :item %>


<% if defined?(@feature_errors) %>
	<%= errors_for(@feature_errors) if @feature_errors.size > 0  %>
<% end %>

<div class="item">
	<div id="main">
		<div align=center>
				<table >
					<tr>
						<td>
							<%= f.label :name %>
						</td>
						<td><%= f.text_field :name, :class => "name", :id => "name" %></td>
					</tr>
					<tr>
						<td><%= f.label :description %></td>
						<td><%= f.text_area :description, :class => "description", :id => "description" %></td>
					</tr>
					<% if Plugin.plugins[:tag].is_enabled?   %>		
						<tr>
							<td>
								<%= icon("tag") %>
								<%= PluginTag.model_name.human(:count => :other) %>
							</td>
							<td>
								<%= tags_field_tag(item, :tags) %>
								<%= t("label.tag_example") %>
							</td>
						</tr>						

					<% end %>
					<tr>
						<td colspan=2>
							<div style="height:10px"></div>
							<% 	features = PluginFeature.find(:all, :order => "order_number ASC") %>
							<% if Plugin.plugins[:feature].is_enabled? && (features.size > 0|| @logged_in_user.is_admin?)  %>
								<table style="width:100%" cellpadding=0 cellspacing=0>
									<tr>
										<td align=left>
											<h3><%= Plugin.plugins[:feature].model_name.human(:count => :other) %></h3>	
										</td>
										<td align=right>
											<%= link_to raw("#{icon("edit")} #{t("label.item_edit", :item => Plugin.plugins[:feature].model_name.human(:count => :other))}"), {:action => "index", :controller => "plugin_features"} if @logged_in_user.is_admin?  %>
										</td>
									</tr>
								</table>
								<div class="spacer"></div>
								<% if features.size > 0 %>															
									<%= render :partial => "plugin_features/form_for_item", :locals => {:item => item} %>	
								<% else %>
									<%= t("notice.items_not_found", :items => feature_plugin.model_name.human(:count => :other)) %>
									<!--No <%= feature_plugin.model_name.human(:count => :other) %> have been created yet.-->
								<% end %>								
							<% end %>
							<div style="height:10px"></div>	
						</td>
					</tr>				
				</table>				
		</div>								

	</div>
	<div id="side">
				<div class="box_0" style="margin-bottom:5px" align=left>
					<h2 class="title">
						<img src="/themes/<%= @setting[:theme] %>/images/icons/options.png" class="icon" > 				
						<%= t("single.options") %>
					</h2>
					<div class="spacer"></div>
					<div style="padding-left:5px;">
						<%= render :partial => "items/form_item_options", :locals => {:item => item, :f => f} %>						
					</div>
				
				</div>		
				<div style="height:10px"></div>				
				<div class="box_0" align=left>
					<h2 class="title">
						<img src="/themes/<%= @setting[:theme] %>/images/icons/categories.png" class="icon" > 				
						<%= Category.model_name.human %>
					</h2>
					<div class="spacer"></div>
					<% for category in Category.get_parent_categories  %>
						<%= descend_category(category, :include_children => @setting[:include_child_category_items], :make_radio_button => true, :id_to_check => item.category_id, :truncate_length => 35)  %>
					<% end %>								
				</div>
	</div>	
	<div style="clear:both"></div>
</div>
