<%= error_messages_for :item %>


<% if defined?(@feature_errors) %>
	<%= errors_for(@feature_errors) if @feature_errors.size > 0  %>
<% end %>
<div class="side">
	<div class="box_2">
		<div class="field">
			<div class="label">
				<%= icon("categories") %>
				<%= Category.model_name.human %>
			</div>
			<%= category_select_tag("item[category_id]", item.category_id)%>							
		</div>
	</div>
</div>
<div class="main">
	<div class="box_2">
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %>				
		</div>

		<div class="field">
			<%= f.label :description %>
			<%= f.text_area :description %>				
		</div>				

		<% if Plugin.plugins[:tag].is_enabled?   %>	
			<div class="field">
				<div class="label">
					<%= icon("tag") %> <%= PluginTag.model_name.human(:count => :other) %>
				</div>
				<%= tags_field_tag(item, :tags) %>
				<%= content_tag(:span, t("label.tag_example"), :class => :description) %>								
			</div>					
		<% end %>

		<% 	features = PluginFeature.find(:all, :order => "order_number ASC") %>
		<% if Plugin.plugins[:feature].is_enabled? && (features.size > 0|| @logged_in_user.is_admin?)  %>
				<% if features.size > 0 %>															
					<%= render :partial => "plugin_features/form_for_item", :locals => {:item => item} %>	
				<% else %>
					<%= t("notice.items_not_found", :items => PluginFeature.model_name.human(:count => :other)) %>
				<% end %>					
		<% end %>

		<%= content_tag(:h3, link_to_function(icon("dropdown") + " " + t("single.advanced"), "$('#advanced_options').toggle()", :class => "extra_options")) %>	
		<div id="advanced_options" class="extra_options_box"  style="display:none;">
				<% if get_setting_bool("allow_private_items") %>
					<div class="field">
							<div class="label">
								<%= f.check_box :is_public %>
								<%= icon("public") %> 
								<%= Item.human_attribute_name(:is_public) %>
							</div>
							<%= content_tag(:span, Item.human_attribute_name(:is_public_description), :class => "description") %>			
					</div>																				
				<% end %>									
				<% if @logged_in_user.is_admin? %>	
					<div class="field">
							<div class="label">						
								<%= f.check_box :is_approved %>
								<%= icon("approved") %> 
								<%= Item.human_attribute_name(:is_approved) %>
							</div>					
							<%= content_tag(:span, Item.human_attribute_name(:is_approved_description), :class => "description") %>			
					</div>
					<div class="field">
							<div class="label">						
								<%= f.check_box :locked %>
								<%= icon("locked") %> 
								<%= Item.human_attribute_name(:locked) %>
							</div>
							<%= content_tag(:span, Item.human_attribute_name(:locked_description), :class => "description") %>			
					</div>
					<div class="field">
							<div class="label">						
								<%= f.check_box :featured %>
								<%= icon("featured") %> 
								<%= Item.human_attribute_name(:featured) %>
							</div>
							<%= content_tag(:span, Item.human_attribute_name(:featured_description), :class => "description") %>			
					</div>	
					<div class="field">
							<div class="label">						
								<%= icon("user") %> 
								<%= Item.human_attribute_name(:user_id) %>
							</div>															
							<%= f.collection_select 'user_id', User.all, :id, :to_s %>
					</div>		
				<% end %>	
		</div>
	</div>				
</div>
<div style="clear:both"></div>

