<div class="box_3" align=center>
	 <%= link_to user_avatar(item.user, :class => "small"), {:action => "user", :controller => "browse", :id => item.user } %>
	 <br>
	 <%= Item.human_attribute_name(:user_id) %>  <%= link_to item.user.username, {:action => "user", :controller => "browse", :id => item.user }, :style => "font-weight:bold"   %><br>
	<% if get_setting_bool("enable_item_date") %>
		<% if item.created_at != item.updated_at %>
			<%= Item.human_attribute_name(:updated_at) %>: <b><%= friendly_date item.updated_at %></b>
		<% else %>
			<%= Item.human_attribute_name(:created_at) %>:  <b><%= friendly_date item.created_at %></b>					 
		<% end %>
		<br>
	<% end %>
	<hr>
	<% items_from_user = Item.find(:all, :select => "id", :conditions => ["user_id = ? and id != ?", item.user.id, item.id] ) %>
	<%= link_to "#{t("label.items_from", :items => Item.model_name.human(:count => :other), :name => item.user.username)} (#{items_from_user.size})", {:action => "user", :controller => "browse", :id => item.user}, :style => "font-weight:bold"  %><br>
	<% if get_setting_bool("display_item_views") %>					
		<b><%= @item.views %></b> <%= Item.human_attribute_name(:views) %> <br>
	<% end %>								
</div>
