<%# Grab Plugins to Display %>	
<% for item in items %>
 <% if item.can?(@logged_in_user, :view) %>
	<div class="item_box_detailed">
		<div class="record item">				
			<%= render :partial => "items/record_menu", :locals => {:record => item} %>						
			<table cellpadding=0 cellspacing=0 style="width:100%">
				<tr>
					<td class="preview">
						<%= preview(item) %>
					</td>
					<td class="details">										
						<table style="width:100%" cellpadding=0 cellspacing=0>
							<tr>
								<td align=left>
									<div class="name">
										<%= link_to "#{h truncate(item.name,  :length => 35)}", {:action => "view", :controller => "items", :id => item }, :title => "#{h item.name}" %>
									</div>
								</td>
								<td align=right>
									<div class="new">
										<%= raw "<b class=\"highlight\"><sup title=\"#{t("label.item_recently_added", :item => Item.model_name.human)}\">#{t("single.new")}</sup></b>" if item.is_new? %>
									</div>
								</td>
							</tr>
						</table>	
						<% if get_setting_bool("enable_item_description") %>
							<div class="description">
								<span title="<%= h item.description %>">
									<%= h truncate(item.description, :length => 120) %>
								</span>
							</div>
						<% end %>	
						<div class="spacer"></div>
						<div>
							<% if get_setting_bool("enable_item_date") %>
								<div class="date">
									<table cellpadding=0 cellspacing=0 style="width:100%">
										<tr>
											<td align=left style="vertical-align:middle">										
												<% if item.created_at < item.updated_at %>
													<%= Item.human_attribute_name(:updated_at) %>: <%= friendly_date item.updated_at %>
												<% else %>
													<%= Item.human_attribute_name(:created_at) %>: <%= friendly_date item.created_at %>
												<% end %>
											</td>
											<td align=right style="vertical-align:middle">
												<%= raw(I18n.t("single.by") + " " + link_to_user(item.user, :avatar => true)) if item.user %>																													
											</td>
										</tr>
									</table>						
								</div>
							<% end %>						
						</div>
						<div class="spacer"></div>					
						<div>
							<table cellpadding=0 cellspacing=0 style="width:100%">
								<tr>
									<td align=left style="vertical-align:middle">										
										<% if Plugin.plugins[:review] && Plugin.plugins[:review].is_enabled? %>									
											<%= render :partial => Plugin.plugins[:review].partial_path(:type => "list"), :locals => {:plugin => Plugin.plugins[:review], :item => item} %>
										<% end %>
									</td>
									<td align=right style="vertical-align:middle">
										<span>
											<%= truncate("#{item.views} #{I18n.t("activerecord.attributes.item.views", :count => item.views)}", :length => 15) %>
										</span>	
										<% if Plugin.plugins[:comment] && Plugin.plugins[:comment].is_enabled? %>
											<%= render :partial => Plugin.plugins[:comment].partial_path(:type => "list"), :locals => {:plugin => Plugin.plugins[:comment], :item => item} %>
										<% end %>	
																													
									</td>
								</tr>
							</table>						
						</div>
						<div class="spacer"></div>										
						<div>
							<table cellpadding=0 cellspacing=0 style="width:100%">
								<tr>
									<td align=left style="width:50%">										
										<% if Plugin.plugins[:feature] && Plugin.plugins[:feature].is_enabled? %>
											<%= render :partial => Plugin.plugins[:feature].partial_path(:type => "list"), :locals => {:plugin => Plugin.plugins[:feature], :item => item} %>
										<% end %>									
									</td>
									<td align=left style="vertical-align:top;width:50%">
										<% if Plugin.plugins[:tag] && Plugin.plugins[:tag].is_enabled? %>
											<%= render :partial => Plugin.plugins[:tag].partial_path(:type => "list"), :locals => {:plugin => Plugin.plugins[:tag], :item => item} %>							
										<% end %>						
										<% if Plugin.plugins[:discussion] && Plugin.plugins[:discussion].is_enabled? %>
											<%= render :partial => Plugin.plugins[:discussion].partial_path(:type => "list"), :locals => {:plugin => Plugin.plugins[:discussion], :item => item} %>
										<% end %>									
										<% if Plugin.plugins[:link] && Plugin.plugins[:link].is_enabled? %>
											<%= render :partial => Plugin.plugins[:link].partial_path(:type => "list"), :locals => {:plugin => Plugin.plugins[:link], :item => item} %>
										<% end %>	
										<% if Plugin.plugins[:image] && Plugin.plugins[:image].is_enabled? %>
											<%= render :partial => Plugin.plugins[:image].partial_path(:type => "list"), :locals => {:plugin => Plugin.plugins[:image], :item => item} %>
										<% end %>
										<% if Plugin.plugins[:file] && Plugin.plugins[:file].is_enabled? %>
											<%= render :partial => Plugin.plugins[:file].partial_path(:type => "list"), :locals => {:plugin => Plugin.plugins[:file], :item => item} %>
										<% end %>	
										<% if Plugin.plugins[:video] && Plugin.plugins[:video].is_enabled? %>
											<%= render :partial => Plugin.plugins[:video].partial_path(:type => "list"), :locals => {:plugin => Plugin.plugins[:video], :item => item} %>							
										<% end %>												
										<% for plugin in Plugin.third_party_plugins %>
											<%= render :partial => plugin.partial_path(:type => "list"), :locals => {:plugin => plugin, :item => item} if plugin.is_enabled? %>
										<% end %>																																											
									</td>
								</tr>
							</table>										
						</div>
					</td>
				</tr>
			</table>
		</div>		
	</div>
 <% end %>
<% end %>

