<% if items.size > 0 %>
	<div class="box_2" style="padding:0px">
		<% for item in items %>
		 <% if item.can?(@logged_in_user, :view) %>
			 <div class="item_box_small">
			 	<div class="item">
					<div class="<%= cycle('row_a', 'row_b') %>">	
						<table style="width:100%" cellspacing=0 cellpadding=0>
							<tr>
								<td align=left>
									<%= preview(item, :size => "pinky") %>									
									<span class="name">
										<%= link_to truncate(item.name,  :length => 20), {:action => "view", :controller => "/items", :id => item }, :title => "#{h item.name}" %>
									</span>
									<% if get_setting_bool("enable_item_description") && item.description && item.description != "" %>
										-
										<span class="description">
											 <%= h truncate(item.description,  :length => 42) %>
										</span>
									<% end %>						
								</td>
	
								<td align=right > 
									<% if Plugin.plugins[:review] && Plugin.plugins[:review].is_enabled? %>
										<%= render :partial => Plugin.plugins[:review].partial_path(:type => "list"), :locals => {:plugin => Plugin.plugins[:review], :item => item} %>
									<% end %>	
																
									<% if Plugin.plugins[:comment] && Plugin.plugins[:comment].is_enabled? %>
										<%= render :partial => Plugin.plugins[:comment].partial_path(:type => "list"), :locals => {:plugin => Plugin.plugins[:comment], :item => item } %>
									<% end %>	
								</td>			
							</tr>
						</table>
					</div>			 		
			 	</div>
			 </div>
		 <% end %>
		<% end %>
	</div>
<% end %>
<br><br>
