<div class="box_2 menu">
	<h3 class="title" align=left><%= Item.model_name.human(:count => :other)  %></h3>

	<div class="box_<%= params[:action] == "all_items" ? "1" : "2" %>" >
		<%= link_to icon("items") + " " +  "#{Item.model_name.human(:count => :other)}", {:action => "all_items", :controller => "items"} %></a>				
	</div>
		
	<div class="box_<%= params[:controller] == "categories" ? "1" : "2" %>" >
		<%= link_to icon("categories") + " " + Category.model_name.human(:count => :other), {:action => "index", :controller => "categories"}  %>				
	</div>	
		
	<div class="box_<%= (params[:action] == "settings" && params[:controller] == "items") ? "1" : "2" %>" >
		<%= link_to icon("settings") + " " + Setting.model_name.human(:count => :other), {:action => "settings", :controller => "items"} %>				
	</div>	

	<div class="box_<%= (params[:controller] == "plugins" || params[:controller] == "plugin_features") ? "1" : "2" %>" >
		<%= link_to icon("plugins") + " " + Plugin.model_name.human(:count => :other), {:action => "index", :controller => "plugins"} %>				
	</div>
						
	<div class="box_<%= ( params[:action] == "change_item_name") ? "1" : "2" %>" >
		<%= link_to icon("cycle") + " " + t("label.item_change", :item => Item.model_name.human + " " + t("single.name")), {:action => "change_item_name", :controller => "items"} %></a>				
	</div>

	<div class="box_<%= ( params[:action] == "import") ? "1" : "2" %>" >
		<%= link_to icon("arrow_left") + " " + t("single.import") + " " + Item.model_name.human(:count => :other), {:action => "import", :controller => "tools"} %></a>				
	</div>

	<div class="box_<%= params[:action] == "export" ? "1" : "2" %> last">
		<%= link_to icon("arrow_right") + " " + t("single.export") + " " + Item.model_name.human(:count => :other), {:action => "export", :controller => "tools"} %></a>				
	</div>					
</div>