<% 
	tab_index = Hash.new # hash to store tab id for each plugin
 	tab_counter = 0
%>
<script type="text/javascript">
	function select_tab(index){ //index can be a 0-index integer or the name attribute for the anchor tab, ie: "Images" for name="#Images" 
		var api = $("ul.plugin_tabs_horizontal").data("tabs");
		api.click(index);											
	}

	function new_image(){
		select_tab("<%= Plugin.plugins[:image].human_name.pluralize  %>");
		timeoutID = window.setTimeout(show_new_image_box, 410);									
	}	
	
	function show_new_image_box()
	{
	  show_box("new_image_box")
	}
</script>

<div align=left id="page_summarized">	
	<div style="margin-bottom:10px;" id="top">		
				<% if Plugin.plugins[:image].is_enabled? %>
					<% images = PluginImage.find(:all, :conditions => ["item_id = ? and is_approved = '1'", item.id], :order => "created_at ASC") %>
					<div id="images">
						<div id="main_image">
							<%= item_thumbnail(item, :preview => true) %>
							<%#= item.main_image.to_html %>
						</div>												
						<div class="images">
							<% if item.is_editable_for_user?(@logged_in_user) %>
								<span >
									<%= link_to_function icon("new") + " " + t("label.item_new", :item => PluginImage.human_name), "new_image()"  %>
								</span>	
							<% end %>
							<% if images.size > 1 %>
							    <%= icon("spacer") if item.is_editable_for_user?(@logged_in_user) %>
								<span>
									<%= link_to_function icon("image") + " " + t("label.items_more", :items => PluginImage.human_name.pluralize), "select_tab(\"#{Plugin.plugins[:image].human_name.pluralize}\")"  %>
								</span>
							<% end %>																				
						</div>
					</div>				
				<% end %>							

				<div id="details">

					<div class="name">
						<%= h item.name %>		
					</div>								

					<div class="description">
						<%= h item.description%>	
					</div>
					
								
					<div style="width:300px;" id="features">
						<% if Plugin.plugins[:review].is_enabled? %>
							<% 
								features = PluginFeature.find(:all, :order => "order_number ASC") 
								if item.is_editable_for_user?(@logged_in_user)
									feature_values = PluginFeatureValue.find(:all, :conditions => ["item_id = ?", item.id]) # show all values  
								else 
									feature_values = PluginFeatureValue.find(:all, :conditions => ["item_id = ? and is_approved = '1'", item.id]) # show only approved values
								end  
							%> 		
							<div class="box_2a spacer_vert_left">
								<div class="features">
									<%= render :partial => "plugin_features/list_values", :locals => {:feature_values => feature_values, :plugin => Plugin.plugins[:feature], :item => @item} %>
								</div>	
							</div>
						<% end %>							
					</div>		

					<% if Plugin.plugins[:tag].is_enabled? %>
						<%= tags_links(item) %>
					<% end %>														
				</div>				
				<div id="side">
					<% if Plugin.plugins[:review].is_enabled? %>
						<% @setting[:review_type] = Plugin.plugins[:review].get_setting("review_type") %>
						<% @setting[:score_min] = Plugin.plugins[:review].get_setting("score_min") %>
						<% @setting[:score_max] = Plugin.plugins[:review].get_setting("score_max") %>

						<div class="box_2">
							<% review_score = PluginReview.average(:review_score, :conditions => ["item_id = ?", item.id]) %>
							<% review_score ||= 0 %>										
							<span>	
								<%= link_to_function score(:type => @setting[:review_type], :min => @setting[:score_min].to_i, :max => @setting[:score_max].to_i, :value => review_score),  "select_tab(\"#{Plugin.plugins[:review].human_name.pluralize}\")"  %>																			
							</span>							
						</div>
					<% end %>
					<% if Plugin.plugins[:comment].is_enabled? %>
						<div class="box_2">									
							<span>	
								<%= link_to_function raw("#{icon("comments")} #{item.plugin_comments.size} #{PluginComment.human_name.pluralize}"), "select_tab(\"#{Plugin.plugins[:comment].human_name.pluralize}\")" %>						
							</span>							
						</div>
					<% end %>	
					<% if item.user %>
						<div class="box_1">
							 <%= link_to user_avatar(item.user, :size => "tiny"), {:action => "user", :controller => "browse", :id => item.user } %>
							 <%= Item.human_attribute_name(:user_id) %>  <%= link_to item.user.username, {:action => "user", :controller => "browse", :id => item.user }, :style => "font-weight:bold"   %><br>
						</div>
					<% end %>										
				</div>
	</div>
	<div style="clear:both;"></div>

	<div class="plugins">
		<table style="width:100%">
			<tr>
				<td>
					<ul class="plugin_tabs_horizontal">
						<%  for plugin in plugins  %>
							<% if (my_group_plugin_permissions[plugin.id].can_read? || item.is_user_owner?(@logged_in_user) || @logged_in_user.is_admin?) && (plugin.name != "Feature" && plugin.name != "Tag") %>
						    	<li><a href="#<%= plugin.human_name.pluralize %>"><%= plugin.human_name.pluralize %></a></li>
							<% end %> 
						<% end %>	
					</ul>			
					<div class="plugin_panes_horizontal"> 					
						<%  for plugin in plugins  %>
							<% if (my_group_plugin_permissions[plugin.id].can_read? || item.is_user_owner?(@logged_in_user) || @logged_in_user.is_admin?) && (plugin.name != "Feature" && plugin.name != "Tag") %>
							    <div>	
									<%= render :partial => plugin.partial_path(:type => "view"), :locals => {:plugin => plugin, :item => item, :my_group_plugin_permissions => my_group_plugin_permissions } %>
								</div> 
							<% end %>
						<% end %>						
					</div>					
				</td>
			</tr>
		</table>	
	</div>					

</div>

