<% content_for :side do %>
	<%= render :partial => "items/popular_items" %>
<% end if false%>

<div class="header">					
	<div class="title">
		<h2 class="title">
			<%= params[:type].blank? ? nil : params[:type].downcase == "unapproved" ? "#{t("single.not")} #{t("single.approved")}" : params[:type].downcase == "private" ? t("single.private") : params[:type].downcase == "approved"  ? t("single.approved") : nil  %> 
			<%= Item.model_name.human(:count => :other) %>
		</h2>					
	</div>
	<div class="menu">
		<%= render :partial => "navigation" %>
	</div>
</div>	
<%= render :partial => "/items/list_items", :locals => {:items => @items } %>	

<div class="pagination">
	<%= page_entries_info @items, :entry_name => Item.model_name.human %>	
	<%= will_paginate @items %>
</div>


