<%= render :partial => "main_content_top_bar" %>

<div id="side">
  	<div class="box_1" id="category_menu">
   		<%= render :partial => "items/category_menu", :locals => {:options => {:category => @category}} %>
	</div>
  	<div class="box_1" align=center>
  		<%= auto_discovery_link_tag(:rss, {:action => "category", :controller => "items", :id => @category,  :format => "xml"}, {:title => "#{t("label.rss_feed")} - #{@category.name}"}) %> 
	    <%= link_to icon("rss", "#{t("label.rss_feed")} - #{@category.name}") + " #{t("label.rss_feed")} - #{@category.name}",  {:action => "category", :controller => "items", :id => @category,  :format => "xml"} %>
	</div>	
	<%= render :partial => "plugin_tags/side", :locals => {:category => @category} if Plugin.plugins[:tag].is_enabled? %>					
	<%= render Page.get_system_page(I18n.t('seeds.page.category_column.title')) %>
</div>
<div id="main">
		<%= render :partial => "/items/list_items", :locals => {:items => @items } %>
		<div class="pagination">
			<%= page_entries_info @items, :entry_name => Item.model_name.human %>	
			<%= will_paginate @items %>
		</div>		
</div>











