<%= render :partial => "browse/main_content_top_bar" %>
<div align=center>
	<h1 class="title">
		<%= @category.name %> <%#= @setting[:item_name_plural] %>
		<% if !@logged_in_user.anonymous? %>
			<%= link_to raw("#{icon("new")} #{t("label.item_new", :item => @setting[:item_name])}"), {:action => "new", :controller => "items", :id => @category} %>
		<% end %>
	</h1>
	<h3><%= @category.description %></h3><br>
		
</div>




<div id="side">
  	<div class="box_1" id="category_menu">
   		<%= render :partial => "items/category_menu", :locals => {:options => {:category => @category}} %>
	</div>
	<%= show_page Page.get_system_page(I18n.t('seeds.page.category_column.title')) %>
</div>
<div id="main">
		<%= render :partial => "/items/list_items", :locals => {:items => @items } %>
		<div align="center" class="will_paginate">
			<br>
			<%= page_entries_info @items, :entry_name => @setting[:item_name] %>	
			<%= will_paginate @items %>
			<br>
		</div>		
</div>




