<%= render :partial => "main_content_top_bar" %>

<% content_for :side do %>
   	<%= render :partial => "items/category_menu", :locals => {:options => {:category => @category}} %>
	<%= render :partial => "plugin_tags/side", :locals => {:category => @category} if Plugin.plugins[:tag].is_enabled? %>					
	<%= render Page.get_system_page(I18n.t('seeds.page.category_column.title')) %>
<% end %>

<%= render :partial => "/items/list_items", :locals => {:items => @items } %>
<div class="pagination">
	<%= page_entries_info @items, :entry_name => Item.model_name.human %>	
	<%= will_paginate @items %>
</div>		











