<% plugin_image = Plugin.find_by_name("Image") %>
<% plugin_feature = Plugin.find_by_name("Feature") %>
<div id="side">
	<%= render :partial => "/items/menu" %>
</div>
<div id="main">
	<div class="header">					
		<h2 class="title">
			<%= @setting[:item_name] %> <%= Setting.model_name.human(:count => :other) %>
		</h2>	
		<span class="description">
			<!--This section allows you to change different settings and options for your <%= @setting[:item_name_plural] %>.-->	
		</span> 					
	</div>		


	<% form_tag ({:action => "update_settings", :controller => "settings"}) do %>
			<ul class="plugin_tabs_horizontal"> 
				    <li><a href="#<%= Setting.model_name.human(:count => :other) %>"><%= Setting.model_name.human(:count => :other) %></a></li>				
				    <li><a href="#<%= t("setting.title.list_type") %>"><%= t("setting.title.list_type") %></a></li> 
				    <li><a href="#<%= t("setting.title.item_page_type") %>"><%= t("setting.title.item_page_type") %></a></li>
					<li><a href="#<%= t("setting.title.homepage_type") %>"><%= t("setting.title.homepage_type") %></a></li> 													
			</ul>			
			<div class="plugin_panes_horizontal"> 					

			    <div>	
					 <%= render :partial => "/settings/list_settings", :locals => {:settings => Setting.find(:all, :conditions => ["setting_type = ?", "Item"]), :title => "#{@setting[:item_name]}"}%>
				</div>
				<div>
					 <table cellpadding=0 cellspacing=0 style="width:100%" >
					 	<tr>
					 		<td>
								 <div class="section">
									<div class="header">
										<h2 class="title"><%= t("setting.title.list_type") %></h2>
										<div class="description"><%= t("setting.description.list_type", :items => @setting[:item_name_plural].downcase) %></div>
									</div>		
									<table width="100%" cellpadding=0 cellspacing=0 class="setting_table row_table">	
									 <tr class="row_a">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/item_list_simple.png" rel="colorbox" ><img alt="Simple" class="thumbnail" src="/images/examples/thumbnail_item_list_simple.png"  /></a></td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("setting.title.list_type_simple") %></h2><%= t("setting.description.list_type_simple", :items => @setting[:item_name_plural].downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[list_type]" value="simple" <% if get_setting("list_type") == "simple" %>CHECKED<% end %>></td>		  
									 </tr>
									 <tr class="row_b">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/item_list_detailed.png" rel="colorbox" ><img alt="Detailed" class="thumbnail" src="/images/examples/thumbnail_item_list_detailed.png"  /></a></td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("setting.title.list_type_detailed") %></h2><%= t("setting.description.list_type_detailed", :items => @setting[:item_name_plural].downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[list_type]" value="detailed" <% if get_setting("list_type") == "detailed" %>CHECKED<% end %>></td>		  
									 </tr>
									 <tr class="row_a">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/item_list_photo.png" rel="colorbox" ><img alt="Photo" class="thumbnail" src="/images/examples/thumbnail_item_list_photo.png"  /></a></td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("setting.title.list_type_photo") %></h2><%= t("setting.description.list_type_photo", :items => @setting[:item_name_plural].downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[list_type]" value="photo" <% if get_setting("list_type") == "photo" %>CHECKED<% end %>></td>		  
									 </tr>		 
									 <tr class="row_b">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/item_list_small.png" rel="colorbox" ><img alt="Small" class="thumbnail" src="/images/examples/thumbnail_item_list_small.png"  /></a></td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("setting.title.list_type_small") %></h2><%= t("setting.description.list_type_small", :items => @setting[:item_name_plural].downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[list_type]" value="small" <% if get_setting("list_type") == "small" %>CHECKED<% end %>></td>		  
									 </tr>											 	
									</table>
								 </div>	 			
							</td>
					 	</tr>
					 </table>
				</div>
				<div>
					<% @setting[:item_page_type] = get_setting("item_page_type") %>
					 <table cellpadding=0 cellspacing=0 style="width:100%" >
					 	<tr>							
							<td >
								 <div class="section">
									<div class="header">
										<h2 class="title"><%= t("setting.title.item_page_type") %></h2>
										<div class="description"><%= t("setting.description.item_page_type", :item => @setting[:item_name].downcase) %></div>
									</div>		
									<table width="100%" cellpadding=0 cellspacing=0  class="setting_table row_table">													 
									 <tr class="row_b">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/item_page_type_summarized.png" rel="colorbox" title="Summarized"><img alt="" class="thumbnail" src="/images/examples/thumbnail_item_page_type_summarized.png"  /></a></td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("setting.title.item_page_type_summarized") %></h2><%= t("setting.description.item_page_type_summarized", :item => @setting[:item_name].downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[item_page_type]" value="summarized" <% if @setting[:item_page_type] == "summarized" %>CHECKED<% end %>></td>		  
									 </tr>
									 <tr class="row_a">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/item_page_type_expanded.png" rel="colorbox" title="Expanded"><img alt="" class="thumbnail" src="/images/examples/thumbnail_item_page_type_expanded.png"  /></a></td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("setting.title.item_page_type_expanded") %></h2><%= t("setting.description.item_page_type_tabs_horizontal", :item => @setting[:item_name].downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[item_page_type]" value="expanded" <% if @setting[:item_page_type] == "expanded" %>CHECKED<% end %>></td>		  
									 </tr>
									 <tr class="row_b">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/item_page_type_tabs_horizontal.png" rel="colorbox" title="Tabs - Horizontal"><img alt="" class="thumbnail" src="/images/examples/thumbnail_item_page_type_tabs_horizontal.png"  /></a></td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("setting.title.item_page_type_tabs_horizontal") %></h2><%= t("setting.description.item_page_type_tabs_horizontal", :item => @setting[:item_name].downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[item_page_type]" value="tabs_horizontal" <% if @setting[:item_page_type] == "tabs_horizontal" %>CHECKED<% end %>></td>		  
									 </tr>		
									 <tr class="row_a">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/item_page_type_tabs_vertical.png" rel="colorbox" title="Tabs - Vertical"><img alt="" class="thumbnail" src="/images/examples/thumbnail_item_page_type_tabs_vertical.png"  /></a></td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("setting.title.item_page_type_tabs_vertical") %></h2><%= t("setting.description.item_page_type_tabs_vertical", :item => @setting[:item_name].downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[item_page_type]" value="tabs_vertical" <% if @setting[:item_page_type] == "tabs_vertical" %>CHECKED<% end %>></td>		  
									 </tr>		  
									 <tr class="row_b">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/item_page_type_accordion.png" rel="colorbox" title="Accordion"><img alt="" class="thumbnail" src="/images/examples/thumbnail_item_page_type_accordion.png"  /></a></td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("setting.title.item_page_type_accordion") %></h2><%= t("setting.description.item_page_type_accordion", :item => @setting[:item_name].downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[item_page_type]" value="accordion" <% if @setting[:item_page_type] == "accordion" %>CHECKED<% end %>></td>		  
									 </tr>
										 											 
									</table>
								 </div>					
							</td>
					 	</tr>
					 </table>				 
				</div>
				<div>
					<div class="section">
						<div class="header">															
								<h2 class="title"><%= t("setting.title.homepage_type") %></h2>
								<div class="description"><%= t("setting.description.homepage_type") %></div>				
						</div>		

						<% @setting[:homepage_type] = Setting.get_setting("homepage_type") %>							
						
						<table width="100%" cellpadding=0 cellspacing=0  class="setting_table row_table">	
						 <tr class="row_a">
						  <!--<td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/homepage_type_new_items.png" rel="colorbox" title="New Items"><img alt="" class="thumbnail" src="/images/examples/homepage_type_new_items.png"  /></a></td>-->
						  <td align=left style="padding-left:10px;vertical-align:middle">
							  <h2><%= t("single.new") %> <%= @setting[:item_name_plural] %></h2>
							  <!--Every <%= @setting[:item_name] %> in <%= @setting[:title] %> is shown on the homepage, starting with the newest first.-->
						  </td>
						  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[homepage_type]" value="new_items" <% if @setting[:homepage_type] == "new_items" %>CHECKED<% end %>></td>		  
						 </tr>
						 <tr class="row_b">
						  <!--<td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/homepage_type_categories.png" rel="colorbox" title="Categories"><img alt="" class="thumbnail" src="/images/examples/homepage_type_categories.png"  /></a></td>-->
						  <td align=left style="padding-left:10px;vertical-align:middle">
						  <h2><%= Category.model_name.human.pluralize %></h2>
						 	 <!-- Categories for <%= @setting[:item_name_plural] %> are shown on the homepage. -->
						  </td>
						  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[homepage_type]" value="categories" <% if @setting[:homepage_type] == "categories" %>CHECKED<% end %>></td>		  
						 </tr>
						 <tr class="row_a">
						  <!--<td style="width:100px;height:100px;vertical-align:middle" align=center><a href="/images/examples/homepage_type_none.png" rel="colorbox" title="New Items"><img alt="" class="thumbnail" src="/images/examples/homepage_type_none.png"  /></a></td>-->
						  <td align=left style="padding-left:10px;vertical-align:middle">
						  	<h2><%= t("single.none") %></h2>
						  	<!--Nothing special is shown on the homepage. This is a good option if you only want to show the <%= link_to "Main Home Page", {:action => "index", :controller => "pages", :type => "System"}, :class => "highlight"  %>. -->
					      </td>
						  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[homepage_type]" value="none" <% if @setting[:homepage_type] == "none" %>CHECKED<% end %>></td>		  
						 </tr>
						 							 	  											 	
						</table>		
					</div>																					
				</div>										
		</div>

		<div align=center><%= submit_tag t("single.save"), :class => "button_1" %></div>													
	<% end %>				
</div>	
