<% plugin_image = Plugin.find_by_name("Image") %>
<% plugin_feature = Plugin.find_by_name("Feature") %>
<div id="side">
	<%= render :partial => "/items/menu" %>
</div>
<div id="main">  
	<div class="header">					
		<h2 class="title">
			<%= Item.model_name.human %> <%= Setting.model_name.human(:count => :other) %>
		</h2>	
		<span class="description">
			<!--This section allows you to change different settings and options for your <%= Item.model_name.human(:count => :other) %>.-->	
		</span> 					
	</div>		


	<%= form_tag({:action => "update_settings", :controller => "settings"}) do %>
			<ul class="plugin_tabs_horizontal"> 
				    <li><a href="#<%= Setting.model_name.human(:count => :other) %>"><%= Setting.model_name.human(:count => :other) %></a></li>				
				    <li><a href="#<%= t("activerecord.records.setting.list_type.title") %>"><%= t("activerecord.records.setting.list_type.title") %></a></li> 
				    <li><a href="#<%= t("activerecord.records.setting.item_page_type.title") %>"><%= t("activerecord.records.setting.item_page_type.title") %></a></li>
					<li><a href="#<%= t("activerecord.records.setting.homepage_type.title") %>"><%= t("activerecord.records.setting.homepage_type.title") %></a></li> 													
					<li><a href="#<%= t("activerecord.records.setting.default_preview_type.title") %>"><%= t("activerecord.records.setting.default_preview_type.title") %></a></li> 													
			</ul>			
			<div class="plugin_panes_horizontal"> 					

			    <div>	
					 <%= render :partial => "/settings/list_settings", :locals => {:settings => Setting.find(:all, :conditions => ["setting_type = ?", "Item"]), :title => "#{Item.model_name.human}"}%>
				</div>
				<div>
					 <table cellpadding=0 cellspacing=0 style="width:100%" >
					 	<tr>
					 		<td>
								 <div class="section">
									<div class="header">
										<h2 class="title"><%= t("activerecord.records.setting.list_type.title") %></h2>
										<div class="description"><%= t("activerecord.records.setting.list_type.description", :items => Item.model_name.human(:count => :other).downcase) %></div>
									</div>		
									<table width="100%" cellpadding=0 cellspacing=0 class="setting_table row_table">	
									 <tr class="row_a">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center>
									  	<%= link_to(image_tag("examples/thumbnail_item_list_simple.png", :class => :preview), image_path("examples/item_list_simple.png"), :rel => "colorbox", :title => t("activerecord.records.setting.list_type_simple.title"))%>									  	
									  </td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("activerecord.records.setting.list_type_simple.title") %></h2><%= t("activerecord.records.setting.list_type_simple.description", :items => Item.model_name.human(:count => :other).downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[list_type]" value="simple" <% if get_setting("list_type") == "simple" %>CHECKED<% end %>></td>		  
									 </tr>
									 <tr class="row_b">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center>
									  	<%= link_to(image_tag("examples/thumbnail_item_list_detailed.png", :class => :preview), image_path("examples/item_list_detailed.png"), :rel => "colorbox", :title => t("activerecord.records.setting.list_type_detailed.title"))%>									  										  	
									  </td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("activerecord.records.setting.list_type_detailed.title") %></h2><%= t("activerecord.records.setting.list_type_detailed.description", :items => Item.model_name.human(:count => :other).downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[list_type]" value="detailed" <% if get_setting("list_type") == "detailed" %>CHECKED<% end %>></td>		  
									 </tr>
									 <tr class="row_a">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center>
									  	<%= link_to(image_tag("examples/thumbnail_item_list_photo.png", :class => :preview), image_path("examples/item_list_photo.png"), :rel => "colorbox", :title => t("activerecord.records.setting.list_type_photo.title"))%>									  										  	
									  </td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("activerecord.records.setting.list_type_photo.title") %></h2><%= t("activerecord.records.setting.list_type_photo.description", :items => Item.model_name.human(:count => :other).downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[list_type]" value="photo" <% if get_setting("list_type") == "photo" %>CHECKED<% end %>></td>		  
									 </tr>		 
									 <tr class="row_b">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center>
									  	<%= link_to(image_tag("examples/thumbnail_item_list_small.png", :class => :preview), image_path("examples/item_list_small.png"), :rel => "colorbox", :title => t("activerecord.records.setting.list_type_small.title"))%>									  										  	
									  </td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("activerecord.records.setting.list_type_small.title") %></h2><%= t("activerecord.records.setting.list_type_small.description", :items => Item.model_name.human(:count => :other).downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[list_type]" value="small" <% if get_setting("list_type") == "small" %>CHECKED<% end %>></td>		  
									 </tr>											 	
									</table>
								 </div>	 			
							</td>
					 	</tr>
					 </table>
				</div>
				<div>
					<% @setting[:item_page_type] = get_setting("item_page_type") %>
					 <table cellpadding=0 cellspacing=0 style="width:100%" >
					 	<tr>							
							<td >
								 <div class="section">
									<div class="header">
										<h2 class="title"><%= t("activerecord.records.setting.item_page_type.title") %></h2>
										<div class="description"><%= t("activerecord.records.setting.item_page_type.description", :item => Item.model_name.human.downcase) %></div>
									</div>		
									<table width="100%" cellpadding=0 cellspacing=0  class="setting_table row_table">													 
									 <tr class="row_b">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center>
									  	<%= link_to(image_tag("examples/thumbnail_item_page_type_summarized.png", :class => :preview), image_path("examples/item_page_type_summarized.png"), :rel => "colorbox", :title => t("activerecord.records.setting.item_page_type_summarized.title"))%>
									  </td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("activerecord.records.setting.item_page_type_summarized.title") %></h2><%= t("activerecord.records.setting.item_page_type_summarized.description", :item => Item.model_name.human.downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[item_page_type]" value="summarized" <% if @setting[:item_page_type] == "summarized" %>CHECKED<% end %>></td>		  
									 </tr>
									 <tr class="row_a">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center>
									  	<%= link_to(image_tag("examples/thumbnail_item_page_type_expanded.png", :class => :preview), image_path("examples/item_page_type_expanded.png"), :rel => "colorbox", :title => t("activerecord.records.setting.item_page_type_expanded.title"))%>
									  </td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("activerecord.records.setting.item_page_type_expanded.title") %></h2><%= t("activerecord.records.setting.item_page_type_expanded.description", :item => Item.model_name.human.downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[item_page_type]" value="expanded" <% if @setting[:item_page_type] == "expanded" %>CHECKED<% end %>></td>		  
									 </tr>
									 <tr class="row_b">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center>
									  	<%= link_to(image_tag("examples/thumbnail_item_page_type_tabs_horizontal.png", :class => :preview), image_path("examples/item_page_type_tabs_horizontal.png"), :rel => "colorbox", :title => t("activerecord.records.setting.item_page_type_tabs_horizontal.title"))%>									  
									  </td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("activerecord.records.setting.item_page_type_tabs_horizontal.title") %></h2><%= t("activerecord.records.setting.item_page_type_tabs_horizontal.description", :item => Item.model_name.human.downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[item_page_type]" value="tabs_horizontal" <% if @setting[:item_page_type] == "tabs_horizontal" %>CHECKED<% end %>></td>		  
									 </tr>		
									 <tr class="row_a">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center>
									  	<%= link_to(image_tag("examples/thumbnail_item_page_type_tabs_vertical.png", :class => :preview), image_path("examples/item_page_type_tabs_vertical.png"), :rel => "colorbox", :title => t("activerecord.records.setting.item_page_type_tabs_vertical.title"))%>									  
									  </td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("activerecord.records.setting.item_page_type_tabs_vertical.title") %></h2><%= t("activerecord.records.setting.item_page_type_tabs_vertical.description", :item => Item.model_name.human.downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[item_page_type]" value="tabs_vertical" <% if @setting[:item_page_type] == "tabs_vertical" %>CHECKED<% end %>></td>		  
									 </tr>		  
									 <tr class="row_b">
									  <td style="width:100px;height:100px;vertical-align:middle" align=center>
									  	<%= link_to(image_tag("examples/thumbnail_item_page_type_accordion.png", :class => :preview), image_path("examples/item_page_type_accordion.png"), :rel => "colorbox", :title => t("activerecord.records.setting.item_page_type_accordion.title"))%>									  
									  </td>
									  <td align=left style="padding-left:10px;vertical-align:middle"><h2><%= t("activerecord.records.setting.item_page_type_accordion.title") %></h2><%= t("activerecord.records.setting.item_page_type_accordion.description", :item => Item.model_name.human.downcase) %></td>
									  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[item_page_type]" value="accordion" <% if @setting[:item_page_type] == "accordion" %>CHECKED<% end %>></td>		  
									 </tr>
										 											 
									</table>
								 </div>					
							</td>
					 	</tr>
					 </table>				 
				</div>
				<div>
					<div class="section">
						<div class="header">															
								<h2 class="title"><%= t("activerecord.records.setting.homepage_type.title") %></h2>
								<div class="description"><%= t("activerecord.records.setting.homepage_type.description") %></div>				
						</div>		

						<% @setting[:homepage_type] = Setting.get_setting("homepage_type") %>							
						
						<table width="100%" cellpadding=0 cellspacing=0  class="setting_table row_table">	
						 <tr class="row_a">
						  <td align=left style="padding-left:10px;vertical-align:middle">
							  <h2><%= t("single.new") %> <%= Item.model_name.human(:count => :other) %></h2>
						  </td>
						  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[homepage_type]" value="new_items" <% if @setting[:homepage_type] == "new_items" %>CHECKED<% end %>></td>		  
						 </tr>
						 <tr class="row_b">
						  <td align=left style="padding-left:10px;vertical-align:middle">
						  <h2><%= Category.model_name.human(:count => :other) %></h2>
						  </td>
						  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[homepage_type]" value="categories" <% if @setting[:homepage_type] == "categories" %>CHECKED<% end %>></td>		  
						 </tr>
						 <tr class="row_a">
						  <td align=left style="padding-left:10px;vertical-align:middle">
						  	<h2><%= t("single.none") %></h2>
					      </td>
						  <td align=right style="padding-right:20px;vertical-align:middle"><input type="radio" name="setting[homepage_type]" value="none" <% if @setting[:homepage_type] == "none" %>CHECKED<% end %>></td>		  
						 </tr>
						 							 	  											 	
						</table>		
					</div>																					
				</div>	
				<div>
					<div class="section">
						<div class="header">															
							<h2 class="title"><%= t("activerecord.records.setting.default_preview_type.title") %></h2>
							<div class="description"><%= t("activerecord.records.setting.default_preview_type.description") %></div>				
						</div>		
						<%= select_tag "setting[default_preview_type]", options_from_collection_for_select(Plugin.all, :plugin_class, :name, @setting[:default_preview_type].name) %>
					</div>																					
				</div>														
		</div>

		<div align=center><%= submit_tag t("single.save"), :class => "button_1" %></div>													
	<% end %>				
</div>	
