<% if item.is_editable_for_user?(@logged_in_user) %>
	<% files = PluginFile.find(:all, :conditions => ["item_id = ?", item.id], :order => "created_at DESC") %>
<% else %>
	<% files = PluginFile.find(:all, :conditions => ["item_id = ? and is_approved = '1'", item.id], :order => "created_at DESC") %>
<% end %>

	<div class="plugin_box">
		<a name="<%= plugin.model_name.human(:count => :other) %>"></a>
		<div class="title header">		
			<table style="width:100%" cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>						
						<h2 class="title"><%= files.size %> <%= plugin.model_name.human(:count => files.size) %></h2>
					</td>
					<td align=right>
						<% if @logged_in_user.group.plugin_permissions[plugin.plugin_class.name].can_create? || item.is_user_owner?(@logged_in_user) || @logged_in_user.is_admin? %>
							<a href="javascript:toggle_box('new_file_box')" class="plugin_title_link">
								<%= icon("new") %>
								<%=  t("label.item_new", :item => plugin.model_name.human) %>
							</a>
						<% end %>				
					</td>
				</tr>
			</table>
		</div>		
		<% if @logged_in_user.group.plugin_permissions[plugin.plugin_class.name].can_create? || item.is_user_owner?(@logged_in_user) || @logged_in_user.is_admin? %>
			<div style="display:none" id="new_file_box" class="box_1">
		      <h2><%=  t("label.item_new", :item => plugin.model_name.human) %></h2>
			   <div>
					   <%= form_tag({:action => 'create', :controller => "plugin_files", :id => item.id} , :multipart => true) %>
					<img src="/themes/<%= @setting[:theme] %>/images/icons/file.png" class="icon"  title="" alt="">					   
					<%= PluginFile.human_attribute_name(:title) %>
					<input name="file_title" type="text" id="new_file_title" onfocus = "focus_input('new_file_title')" onblur = "blur_input('new_file_title')">
					<%= PluginFile.human_attribute_name(:file) %> <input name="file" type="file">
					<%= submit_tag  t("label.item_create", :item => plugin.model_name.human), :class => "button_1" %>
					</form>
				 </div> 
				 <br>
				 <div align="center">
   						<a href="javascript:toggle_box('new_file_box')"><%= icon("cancel") %></a>
			     </div>
			</div>
		<% end %>
		<% if files.size > 0  %>
				
				<div class="files" align=left>
					<% for file in files %>
						<div id="file_box_<%= file.id %>">
							<span id="file_<%= file.id %>">							
									<b>
											<%= link_to (h File.basename(file.get_title) ), {:action => "download", :controller => "plugin_files", :id => file } %>
									</b>
								</a>
								(<%= file.size %>)
								 <%= icon("bullet") %>
								<%= friendly_date file.created_at %>
								<img src="/themes/<%= @setting[:theme] %>/images/icons/file.png" class="icon"  title="<%= h file.title %>" alt="">
								<i><b><%= file.downloads %> <%= t("single.download", :count => :other) %></b></i>
		
							</span>
							<% if @logged_in_user.group.plugin_permissions[plugin.plugin_class.name].can_delete? || item.is_user_owner?(@logged_in_user) || @logged_in_user.is_admin? %>									
								<%= link_to icon("delete"), { :action => 'delete', :controller => "plugin_files", :id => item.id, :file_id => file.id}, :confirm => t("confirm.item_delete", :item => plugin.model_name.human) %>
							<% end %>
							<% if @item.is_editable_for_user?(@logged_in_user)  %>
								<span class="box_2" style="padding:2px;">									
						 			<%= raw "<img src=\"/themes/#{@setting[:theme]}/images/icons/approved.png\" title=\"#{t("single.approved")}\" class=\"icon\">" if file.is_approved? %> 										
						 			<%= raw "<img src=\"/themes/#{@setting[:theme]}/images/icons/unapproved.png\" title=\"#{t("single.not")} #{t("single.approved")}\" class=\"icon\">" if !file.is_approved? %> 																							
									<%= link_to raw("<img src=\"/themes/#{@setting[:theme]}/images/icons/cycle.png\" class=\"icon\">"), {:action => "change_approval", :id => item.id, :file_id => file.id, :controller => "plugin_files"}, :confirm => t("confirm.general"), :title => "#{t("label.item_change", :item => "")}", :class => "transparent" %>
								</span>												
							<% end %>						
						</div>
					<% end %>
				</div>

		<% else	%>
			<%= t("label.items_none_added", :items => plugin.model_name.human(:count => :other)) %>
		<% end %>
	</div>