<% if item.can?(@logged_in_user, :edit) %>
	<% files = PluginFile.record(item).newest_first  %>
<% else %>
	<% files = PluginFile.record(item).newest_first.approved  %>
<% end %>

	<div class="plugin_box">
		<a name="<%= plugin.model_name.human(:count => :other) %>"></a>
		<div class="title header">		
			<table style="width:100%" cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>						
						<h2 class="title"><%= files.size %> <%= plugin.model_name.human(:count => files.size) %></h2>
					</td>
					<td align=right>
						<% if PluginFile.can?(@logged_in_user, :create, :record => @record) %>
							<a href="javascript:toggle_box('new_file_box')" class="plugin_title_link">
								<%= icon("new") %>
								<%=  t("label.item_new", :item => plugin.model_name.human) %>
							</a>
						<% end %>				
					</td>
				</tr>
			</table>
		</div>		
		<% if PluginFile.can?(@logged_in_user, :create, :record => @record) %>
			<div style="display:none" id="new_file_box" class="box_1">
		      <h2><%=  t("label.item_new", :item => plugin.model_name.human) %></h2>
			   <div>
					<%= form_tag({:action => 'create', :controller => "plugin_files"}, :multipart => true) %>
						<%= icon("file") %>
						<%= remember_record(@record) %>
						<%= PluginFile.human_attribute_name(:title) %>
						<%= text_field_tag("plugin_file[title]") %>
						<%= PluginFile.human_attribute_name(:file) %> 
						<%= file_field_tag("plugin_file[file]") %>
						<%= submit_tag  t("label.item_create", :item => plugin.model_name.human), :class => "button_1" %>
					</form>
				 </div> 
				 <br>
				 <div align="center">
   						<a href="javascript:toggle_box('new_file_box')"><%= icon("cancel") %></a>
			     </div>
			</div>
		<% end %>
		<% if files.size > 0  %>
				
				<div class="files" align=left>
					<% for file in files %>
						<div id="file_box_<%= file.id %>" class="file box_2">
							<%= render :partial => "plugins/record_menu", :locals => {:record => file, :options => {:edit => false}} if file.can?(@logged_in_user, :edit) %>					
							<span id="file_<%= file.id %>">											
								<%= content_tag(:h3, link_to(icon("file") + " " + file.get_title, download_path(:record_type => file.class.name, :record_id => file))) %>								
								<hr />
								<%= number_to_human_size(file.file.size) %>
								<%= icon("spacer") %>
								<%= file.downloads %> <%= PluginFile.human_attribute_name(:downloads) %>
							</span>
						</div>
					<% end %>
				</div>

		<% else	%>
			<%= t("label.items_none_added", :items => plugin.model_name.human(:count => :other)) %>
		<% end %>
	</div>