<table cellpadding=0 cellspacing=0 style="width:100%">
	<tr>
		<td align=left style="text-align:left;vertical-align:bottom"> 
			<h1 class="title"> <%= link_to page.title, {:action => "page", :controller => "pages", :id => page} %></h1>							
		</td>
		<td align=right style="text-align:right;vertical-align:middle">
			<%= friendly_date page.created_at %>
			<% if page.user %>
				<%= t("single.by").downcase %>
				<b><%= link_to page.user.username, {:action => "user", :controller => "browse", :id => page.user}, :title => "#{page.user.username}"  %></b>
				<%= user_avatar(page.user, :class => "tiny") %>
			<% end %>																															
	 	</td>									
	</tr>
</table>

<div class="spacer"></div>

<div class="content">
	<%= raw page.content %>
</div>


