<table style="width:100%" cellpadding=0 cellspacing=0>
	<tr>
		<td align=left>
			<h2 class="title">Blog Archive</h2>
		</td>
		<td align=right>
			<% if @logged_in_user.is_admin? %>
				<img src="/themes/<%= @setting[:theme] %>/images/icons/new.png" alt="New" title="New" border=0 class="icon">
				<%= link_to "New Page", {:action => "new", :controller => "pages", :type => "Blog"} %>
			<% end %>
		</td>
	</tr>
</table>
<div class="spacer"></div>
<!--
<b><%= link_to "Home", :action => "index", :controller => "blog" %></b>
<div class="spacer"></div>
-->
<%# Dynamically Get number of months to search back in time for %>
<% oldest_post = Page.find(:first, :conditions => ["page_type = ?", "blog"], :order => "created_at ASC") %>
<% months_to_search =  (Time.now.month - oldest_post.created_at.month) + 12 * (Time.now.year - oldest_post.created_at.year) %>

<% for i in (0..months_to_search) %> 
	<%
	  start_time = Time.now.months_ago(i).beginning_of_month
	  end_time = Time.now.months_ago(i).end_of_month
	  archive_posts = Page.count(:all, :conditions => ["created_at > ? and created_at < ? and page_type = ? and published = true", start_time, end_time, "blog"])
	%>
	<% if archive_posts != 0 %>
		<div>
			<table style="width:100%" cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>
						<b><%= link_to "#{start_time.strftime("%B %Y")} ", {:controller => "blog", :action => "archive", :year => start_time.strftime("%Y"), :month => start_time.strftime("%m")} %></b>
					</td>
					<td align=right><%= archive_posts %></td>					
				</tr>
			</table>
		</div>
	<% end %> 
<% end %> 