<div id="side">
	<%= render :partial => "menu" %>
</div>
<div id="main">
	<div align=center>
		 <%= content_tag(:h2, l(@date.to_date, :format =>  !params[:day].blank? ? :long : !params[:month].blank? ? :month_year : "%Y"), :class => "title")  %>
	</div>
	<br>	
	<div>
		<%= render :partial => "blog/list_pages", :locals => {:pages => @pages} %>
	</div>
	<div align=center>
 		<%= page_entries_info @pages, :entry_name => t("activerecord.models.blog_page", :count => :other)  %>							
		<br>
		<%= will_paginate @pages %>	  	
	</div>
	   
</div>
