<% content_for :side do %>
	<%= render :partial => "menu" %>
<% end %>
<div class="section blog">
	<div class="header">
		<div class="title">
		 	<%= content_tag(:h2, l(@date.to_date, :format =>  !params[:day].blank? ? :long : !params[:month].blank? ? :month_year : "%Y"), :class => "title")  %>
		</div>
	</div>
	<div id="blog-posts">
		<% for page in @pages %>
			<%= render :partial => "blog/blog_post", :locals => {:page => page} %>
		<% end %>
	</div>
	<div class="pagination">
 		<%= page_entries_info @pages, :entry_name => t("activerecord.models.blog_page", :count => :other)  %>							
		<%= will_paginate @pages %>	  	
	</div>	   
</div>
