

<div id="side">
		<%= render :partial => "menu" %>
</div>
<div id="main">
	<div align=center>
		 <h2 class="title"><%= l(@date, :format => :month_year)  %></h2>
	</div>
	<br>	
   <div>
		<%= render :partial => "blog/list_pages", :locals => {:pages => @pages} %>
   </div>
   <div align=center>
 	 		<%= page_entries_info @pages, :entry_name => "Pages" %>							
			<br>
			<%= will_paginate @pages %>	  	
   </div>
	   
</div>
