<div id="side">
		<%= render :partial => "menu" %>
</div>
<div id="main">
   <%= show_page Page.find_by_name("blog") %>
   <div>
			<%= render :partial => "blog/list_pages", :locals => {:pages => @pages} %>

   </div>
   <div align=center>
 	 		<%= page_entries_info @pages, :entry_name => t("activerecord.models.blog_page", :count => @pages.size) %>							
			<br>
			<%= will_paginate @pages %>	  	
   </div>
	   
</div>
