<div class="box_style_2" align=center>
   <%= form_tag  :action => 'update', :controller => "categories", :id => @category.id %>
    <h2>Edit <%= @category.name %></h2>
	<br>
	<%= render :partial => "form", :locals => {:category => @category} %>
	<br>
	<div align=center>	<input type="submit" value="Save"></div>
   </form>
</div>

<div align=center style="margin-top:10px;">
	<img src="/themes/<%= @setting[:theme] %>/images/icons/arrow_left.png" class="icon" title="Back">
	<%= link_to "Back", { :action => 'index'}  %>	
</div>