<div class="section">
	<div class="header">		
		<div class="title">
			<h2 class="title">
				<%= @categories.size %> <%= Category.model_name.human(:count => @categories.size) %>
			</h2>						
		</div>		
		<div class="menu">	
			<%= content_tag :ul, :class => :menu do %>
				<%= content_tag(:li, link_to(icon("new") + " " + t("label.item_new", :item => Category.model_name.human), {:action => "new"})) %>
			<% end %>
		</div>
	</div>
	
	<div class="content box_2"> 
		<% @categories = Category.find(:all) %>
		<% @category = nil %>
		<div class="categories" align=left>
			<% for category in Category.get_parent_categories %>
				<%= descend_category(category, :include_children => @setting[:include_child_category_items], :admin_controls => true , :theme => @setting[:theme], :item_name_plural => Item.model_name.human(:count => :other), :truncate_length => 60, :show_spacer => true, :style => "font-size:16px")  %>		
			<% end %>
		</div>
	</div>
</div>
