<h3 class="title">Legend</h3>
<table>
	<tr><td><%= icon("new") %></td><td><%= t("single.created") %></td></tr>
	<tr><td><%= icon("edit") %></td><td><%= t("single.updated") %></td></tr>
	<tr><td><%= icon("delete") %></td><td><%= t("single.deleted") %></td></tr>
	<tr><td><%= icon("file") %></td><td><%= t("single.downloaded") %></td></tr>					
	<tr><td><%= icon("warning") %></td><td><%= t("single.warning") %></td></tr>										
	<tr><td><%= icon("success") %></td><td><%= t("single.system") + " " + Log.model_name.human(:count => :other) %></td></tr>
	<tr><td><%= icon("failure") %></td><td><%= t("label.not_found") %></td></tr>	
</table>