<h3 class="title">Legend</h3>
<table>
	<tr><td><img src="/themes/<%= @setting[:theme]%>/images/icons/new.png" class="icon"></td><td>Created</td></tr>
	<tr><td><img src="/themes/<%= @setting[:theme]%>/images/icons/edit.png" class="icon"></td><td>Updated</td></tr>
	<tr><td><img src="/themes/<%= @setting[:theme]%>/images/icons/delete.png" class="icon"></td><td>Deleted</td></tr>
	<tr><td><img src="/themes/<%= @setting[:theme]%>/images/icons/file.png" class="icon"></td><td>File Downloaded</td></tr>					
	<tr><td><img src="/themes/<%= @setting[:theme]%>/images/icons/warning.png" class="icon"></td><td>Warning</td></tr>										
	<tr><td><img src="/themes/<%= @setting[:theme]%>/images/icons/success.png" class="icon"></td><td>System Activity</td></tr>
	<tr><td><img src="/themes/<%= @setting[:theme]%>/images/icons/failure.png" class="icon"></td><td>Not Found</td></tr>	
</table>