<% if logs.size > 0 %>
	<table style="width:100%">
	<% for log in logs %>
		<tr>
			<td align=center style="width:20px;vertical-align:middle">
				<% if log.user_id %>	
					<% if log.user %>																					
						<%= link_to  user_avatar(log.user, :size => "tiny"), {:action => "user", :controller => "browse", :id => log.user}, :title => "#{log.user.username}"  %>
					<% else %>
     					<%= "<img src=\"/themes/#{@setting[:theme]}/images/icons/failure.png\" class=\"icon\" title=\"#{t("label.not_found")}\">" %>      						
					<% end %>	
				<% end %>					
			</td>
			<td align=center style="width:20px;vertical-align:middle">
				<% if log.item_id %>
					<% if log.item %>
						<%= link_to item_thumbnail(log.item, :class => "pinky"), {:action => "view", :controller => "items", :id => log.item}, :title => h(log.item.name) %>
					<% else %>
	     				<%= "<img src=\"/themes/#{@setting[:theme]}/images/icons/failure.png\" class=\"icon\" title=\"#{t("label.not_found")}\">" %>      											
					<% end %>		
				<% end %>			
			</td>			
			<td align=center style="width:20px;vertical-align:middle">
				<%= "<img src=\"/themes/#{@setting[:theme]}/images/icons/file.png\" class=\"icon\" title=\"#{t("single.downloaded")}\">" if (log.log_type == "download") %>
				<%= "<img src=\"/themes/#{@setting[:theme]}/images/icons/new.png\" class=\"icon\" title=\"#{t("single.created")}\">" if (log.log_type == "create" || log.log_type == "new") %>
				<%= "<img src=\"/themes/#{@setting[:theme]}/images/icons/edit.png\" class=\"icon\" title=\"#{t("single.updated")}\">" if (log.log_type == "update") %>			  
				<%= "<img src=\"/themes/#{@setting[:theme]}/images/icons/delete.png\" class=\"icon\" title=\"#{t("single.deleted")}\">" if (log.log_type == "delete") %> 
				<%= "<img src=\"/themes/#{@setting[:theme]}/images/icons/success.png\" class=\"icon\" title=\"#{t("label.system_activity")}\">" if (log.log_type == "system") %>
				<%= "<img src=\"/themes/#{@setting[:theme]}/images/icons/warning.png\" class=\"icon\" title=\"#{t("single.warning")}\">" if (log.log_type == "warning") %> 				 
			</td>
			<td align=left style="vertical-align:middle">
				<%= h log.log %>		
			</td>
			<td align=right style="vertical-align:middle;width:175px;">
				<%= friendly_date log.created_at %>
			</td>
		</tr>
	<% end %>
	</table>
<% else %>
	<%= t("notice.objects_not_found", :objects => Log.human_name.pluralize) %>
<% end%>