<% if logs.size > 0 %>
	<div class="logs">
		<% for log in logs %>
			<% log_item = log.item_id ? log.item : nil %>
			<% log_user = log.user_id ? log.user : nil %>			
			<div class="log" id="log_<%= log.id %>">
				<table style="width:100%">
					<tr>
						<% if log_user %>
							<%= content_tag(:td, link_to(user_avatar(log.user, :class => "medium"), {:action => "user", :controller => "browse", :id => log.user}, :title => "#{log.user.username}")) if log_user %>
						<% else %>
							<%= content_tag(:td, link_to(item_thumbnail(log.item, :class => "medium"), {:action => "view", :controller => "items", :id => log.item}, :title => h(log.item.name))) if log_item %>						
						<% end %>						
						<td style="width:100%">																							
							<%= log_message(log) %>
							<div class="sub">
								<%= friendly_date(log.created_at) %>
								<%= link_to_function(icon("dropdown") + " " + t("single.details"), "$('#log_details_#{log.id}').toggle()", :class => "") %>																					
							</div>
						</td>
						<td class="icon_column">
							<%= log_icon(log) %>
						</td>						
					</tr>
				
				</table>				
			</div>
			<div id="log_details_<%= log.id %>" class="extra_options_box"  style="display:none;">
				<%= Log.human_attribute_name(:ip) %>: <%= log.ip %>
			</div>				
			<hr>
		<% end %>		
	</div>
<% else %>
	<div align=center>		
		<%= t("notice.items_not_found", :items => Log.model_name.human.pluralize) %>
	</div>
<% end%>