<div class="box_1" align=center>
   <%= form_tag  :action => 'update', :controller => "logs", :id => @log.id %>
    <h2>Edit Log: <%= @log.name %></h2>
	<% if @log.parent_log %>
		This is a Child Log of <b><%= @log.parent_log.name %></b>
	<% end %>
	<br><br>
	<table cellpadding=0 cellspacing=0>
				<tr>
					<td>Name</td>
					<td><input name="log[name]" type="text" id="log_name_<%= @log.id %>" value="<%= @log.name %>" onfocus = "focus_input('log_name_<%= @log.id %>')" onblur = "blur_input('log_name_<%= @log.id %>')"></td>

					<td>Description</td>
					<td><input name="log[description]" type="text" id="log_description_<%= @log.id %>" onfocus = "focus_input('log_description_<%= @log.id %>')" onblur = "blur_input('log_description_<%= @log.id %>')" maxlength=255 value="<%= @log.description %>" size=50></td>
				</tr>
	</table>
	<br>
	<div align=center>	<input type="submit" value="Update"></div>
	</form>
	 <br>
	 <div align="center">
				<a href="/logs"><img src="/themes/<%= @setting[:theme] %>/images/icons/cancel.png" alt="Cancel" title="Cancel" border=0 class="icon" ></a>
     </div>
</div>