<%= render :partial => "main_content_top_bar", :locals => {:options => {:show_list_type_selector => false}}  %>
<div align=center>
	<h2 class="title">
		 <%= Log.model_name.human(:count => :other) %> -  <%= @item.name %>
	</h2>
</div>
<br>
<%= render :partial => "logs_page", :locals => {:logs => @logs} %>

<div align=center>
	<%= link_to icon("arrow_left") + " " + t("single.back"), :back %>
</div>
