<div class="section">
	<table align=center style="width:100%" cellpadding=0 cellspacing=0>
	    <tr>
	        <td align=left class="sidebar_column" valign=top style="padding:0px;">
	            <%= render :partial => "tools/menu" if (params[:controller] == "logs" && params[:action] == "index") %>
	            <div class="box_style_1" style="margin-bottom:5px;">
	                <%= render :partial => "logs/legend" %>
	            </div>
	        </td>
	        <td style="width:5px;">
	        </td>
	        <td align=left valign=top>
	            <div class="header">
	            	<h2 class="title"><%= t("single.system") + " " + Log.human_name.pluralize %></h2>
	            </div>
	            <div class="box_style_2" align=left>
	                <%= render :partial => "list_logs", :locals => {:logs => @logs} %>
	            </div>
	            <br>
	            <div align=center>
	                <%= page_entries_info @logs, :entry_name => Log.human_name %>
	                <%= will_paginate @logs %>
	            </div>
	        </td>
	    </tr>
	</table>
</div>
	<br>
