<div id="side">
	<%= render :partial => "users/menu" %>
    <div class="box_1" style="margin-bottom:5px;">
        <%= render :partial => "logs/legend" %>
    </div>
</div>
<div id="main">
    <div class="header">
    	<h2 class="title"><%= t("single.system") + " " +  Log.model_name.human(:count => :other) %></h2>
    </div>
    <div class="box_2" align=left>
        <%= render :partial => "list_logs", :locals => {:logs => @logs} %>
    </div>
    <br>
    <div align=center>
        <%= page_entries_info @logs, :entry_name => Log.model_name.human %>
        <%= will_paginate @logs %>
    </div>
</div>
<br>
