<% item ||= nil %>
<div class="main_content_top_bar">
	<table style="width:100%" cellpadding=0 cellspacing=0 >
		<tr>
			<td align=left>
				<% if get_setting_bool("enable_navlinks")  %>
					<% if @category %>
						<%= nav_link_category(@category) %>
					<% elsif item %>
						<%= nav_link_item(item) %>
					<% end %>
				<% end %>
			</td>
			<td align=right>
				<% if !item %>		
					<%= link_to(icon("new") + " #{t("label.item_new", :item => Item.model_name.human)}", {:action => "new", :controller => "items", :id => params[:id]}) if @logged_in_user.can_create_item? %>														
					<% if Setting.get_setting_bool("allow_item_list_type_changes")  && (params[:action] != "view") %>
						<%  session[:list_type] ?  @setting[:list_type] = session[:list_type] : @setting[:list_type] = Setting.get_setting("list_type") %>						
						<%= link_to raw("<img src=\"/themes/#{@setting[:theme]}/images/icons/list_type_simple.png\" class=\"icon #{"selected" if @setting[:list_type] == "simple"}\">"), { :action => 'set_list_type', :controller => "items", :list_type => "simple", :redirect_to => current_url}, :class => "transparent", :title => t("activerecord.records.setting.list_type_simple.description", :items => Item.model_name.human(:count => :other) ) %>						
						<%= link_to raw("<img src=\"/themes/#{@setting[:theme]}/images/icons/list_type_detailed.png\" class=\"icon #{"selected" if @setting[:list_type] == "detailed"}\">"), { :action => 'set_list_type', :controller => "items", :list_type => "detailed", :redirect_to => current_url}, :class => "transparent", :title => t("activerecord.records.setting.list_type_detailed.description", :items => Item.model_name.human(:count => :other))  %>
						<%= link_to raw("<img src=\"/themes/#{@setting[:theme]}/images/icons/list_type_photo.png\" class=\"icon #{"selected" if @setting[:list_type] == "photo"}\">"), { :action => 'set_list_type', :controller => "items", :list_type => "photo", :redirect_to => current_url}, :class => "transparent", :title => t("activerecord.records.setting.list_type_photo.description", :items => Item.model_name.human(:count => :other))   %>
						<%= link_to raw("<img src=\"/themes/#{@setting[:theme]}/images/icons/list_type_small.png\" class=\"icon #{"selected" if @setting[:list_type] == "small"}\">"), { :action => 'set_list_type', :controller => "items", :list_type => "small", :redirect_to => current_url}, :class => "transparent", :title => t("activerecord.records.setting.list_type_small.description", :items => Item.model_name.human(:count => :other))   %>
						<%= icon("bullet") if params[:sort] %>																		
					<% end %>
					<% if params[:sort] %>		
						<% 
							# initialize url_for variables that can be customized for various actions(searching, extra get/post variables, etc.)
							url = Hash.new
							url[:action] = params[:action]
							url[:controller] =  params[:controller]
							url[:id] = params[:id]
							url[:search_for] = params[:search_for] if params[:search_for] # add search query to links 
							url[:sort_by] ||= params[:sort][:by] 	
							url[:sort_direction] ||= params[:sort][:direction] 																													
						%>
														
						<span id="sort_by_box">	
							Sort By 
							<span class="box_1 pointer" id="sort_by" >
								<%# params[:sort] = Hash.new %>
								<%# params[:sort][:by] = "Date Added" %>
								<%# params[:sort][:direction] = "desc" %>						
									<% if params[:sort][:by] %>
										<b><%= h params[:sort][:by] %></b>
									<% end %>
								<%= icon("dropdown") %>
							</span>
							<span style="padding-left:2px">
								<% if params[:sort][:direction] %>
									<% if params[:sort][:direction] == "asc" %>
										<% url[:sort_direction] = "desc" %>
										<%= link_to icon("asc", t("label.sort_asc")), url  %>
									<% elsif params[:sort][:direction] == "desc" %>
										<% url[:sort_direction] = "asc" %>								
										<%= link_to icon("desc", t("label.sort_desc")), url %>
									<% end %>						
								<% end %>						
							</span>																								
						</span>		
						<div id="sort_tooltip" class="tooltip">
							<div class="box_1" style="font-weight:bold">							
								<%# Override url_for vars for particular sort cases %> 
								<% url[:sort_by] = Item.human_attribute_name(:name)  %>
								<% url[:sort_direction] = "asc" %>							
								<%= link_to url[:sort_by], url %><br>	
																																				
								<% url[:sort_by] = Item.human_attribute_name(:views) %>
								<% url[:sort_direction] = "desc" %>								
								<%= link_to url[:sort_by], url %><br>
																																					
								<% url[:sort_by] = Item.human_attribute_name(:created_at) %>
								<% url[:sort_direction] = "desc" %>								
								<%= link_to url[:sort_by], url %><br>																												
							</div>
						</div>		
						<script type="text/javascript">
							$(document).ready(function() {
							    $("#sort_by").tooltip({
							        tip: "#sort_tooltip",
							        position: "bottom right",
									//effect: 'slide',
									direction: 'down',
							        /* offset: [-8, -78] // with slide */ 								
							        offset: [2, -78] // without slide 
							    });
							});
						</script>	
					<% end %>					
				<% else %>		
					<%= link_to(icon("new") + " #{t("label.item_new", :item => Item.model_name.human)}", {:action => "new", :controller => "items", :id => item.category_id}) if @logged_in_user.can_create_item? %>														
					<% if Setting.get_setting_bool("allow_item_page_type_changes")  && (params[:action] == "view") %>		
						<%  session[:item_page_type] ?  @setting[:item_page_type] = session[:item_page_type] : @setting[:item_page_type] = Setting.get_setting("item_page_type") %>																			
						<%= link_to raw("<img src=\"/themes/#{@setting[:theme]}/images/icons/item_page_type_summarized.png\" class=\"icon #{"selected" if @setting[:item_page_type] == "summarized"}\">"), { :action => 'set_item_page_type', :controller => "items", :item_page_type => "summarized", :redirect_to => current_url}, :class => "transparent", :title => t("activerecord.records.setting.item_page_type_summarized.description", :item => Item.model_name.human ) %>						
						<%= link_to raw("<img src=\"/themes/#{@setting[:theme]}/images/icons/item_page_type_tabs_horizontal.png\" class=\"icon #{"selected" if @setting[:item_page_type] == "tabs_horizontal"}\">"), { :action => 'set_item_page_type', :controller => "items", :item_page_type => "tabs_horizontal", :redirect_to => current_url}, :class => "transparent", :title => t("activerecord.records.setting.item_page_type_tabs_horizontal.description", :item => Item.model_name.human ) %>						
						<%= link_to raw("<img src=\"/themes/#{@setting[:theme]}/images/icons/item_page_type_tabs_vertical.png\" class=\"icon #{"selected" if @setting[:item_page_type] == "tabs_vertical"}\">"), { :action => 'set_item_page_type', :controller => "items", :item_page_type => "tabs_vertical", :redirect_to => current_url}, :class => "transparent", :title => t("activerecord.records.setting.item_page_type_tabs_vertical.description", :item => Item.model_name.human ) %>						
						<%= link_to raw("<img src=\"/themes/#{@setting[:theme]}/images/icons/item_page_type_accordion.png\" class=\"icon #{"selected" if @setting[:item_page_type] == "accordion"}\">"), { :action => 'set_item_page_type', :controller => "items", :item_page_type => "accordion", :redirect_to => current_url}, :class => "transparent", :title => t("activerecord.records.setting.item_page_type_accordion.description", :item => Item.model_name.human ) %>						
						<%= link_to raw("<img src=\"/themes/#{@setting[:theme]}/images/icons/item_page_type_expanded.png\" class=\"icon #{"selected" if @setting[:item_page_type] == "expanded"}\">"), { :action => 'set_item_page_type', :controller => "items", :item_page_type => "expanded", :redirect_to => current_url}, :class => "transparent", :title => t("activerecord.records.setting.item_page_type_expanded.description", :item => Item.model_name.human ) %>						
					<% end %>
				  		<%= auto_discovery_link_tag(:rss, {:action => "view", :controller => "items", :id => item,  :format => "xml"}, :title => "#{t("label.rss_feed")} - #{item.name}") %> 
					    <%= link_to icon("rss", "#{t("label.rss_feed")} - #{item.name}"),  {:action => "view", :controller => "items", :id => item,  :format => "xml"}, :class => "transparent" %>					
				<% end %>
			</td>
		</tr>
	</table>	
</div>




<%#= request.env["REQUEST_URI"] %>