<div id="top_bar">
	<table width="100%" cellpadding=0 cellspacing=0>
		<tr>
			<td style="padding-left:0px;">
				<% if @setting[:section_items] %>
					<div class="search_box">
						<%#= form_remote_tag :update => "content", :url => { :action => 'search'} %>				
						<%= form_tag({:action => 'search', :controller => "items"},{:id => "search_form", :method => :get}) %>
						<table cellpadding=0 cellspacing=0>
							<tr>
								<td style="padding-left:0px;">
									<input name="search_for" type="text" id="search_box" value="<%= params[:search_for] %>" >							
								</td>
								<td >
									<%= submit_tag t("single.search"), :class => "button_1", :id => "search_button" %>
								    <%= link_to icon("rss", "#{t("label.rss_feed")} - #{t("single.new").capitalize} #{Item.model_name.human(:count => :other)}") ,  {:action => "rss", :controller => "items", :format => :xml}, :class => "transparent" %>
		
									<%= link_to "#{t("single.advanced")} #{t("single.search")}", {:action => "advanced_search", :controller => "items"} %>							
								</td>						
							</tr>
						</table>
						</form>						
					</div>
				<% end %>
			</td>
			<td>
				<div align=right class="login_box">
					<% if !@logged_in_user.anonymous? %>
					 <%= user_avatar(@logged_in_user, :class => "tiny") %>
					 <%= t("label.logged_in_as", :name => @logged_in_user.username) %> 
					 <%= icon("spacer") %>
					 <%= link_to t("section.title.my_account"), user_home_path %>
					 <% if @logged_in_user.is_admin? %>
					 	<%= icon("spacer") %>
					 	<%= link_to t("section.title.admin"), admin_path %>
					 <% end %>
					 <%= icon("spacer") %>
					 <%= link_to t("label.log_out"), logout_path %>
					 <%= render :partial => "help" if Setting.get_setting_bool("display_help_sections")  %>
		  			<% else %>
				   		<%= link_to(t("label.log_in"), login_path(:redirect_to => current_url)) if Setting.get_setting_bool("show_user_login") %>
				   		<% if @setting[:allow_user_registration] %>
					 	  	<%= icon("spacer") %>
							<%= link_to t("label.register"), {:action => "register", :controller => "user"} %>
						<% end %>		 
					<% end %>
				</div>
			</td>
		</tr>
	</table>
	
	
</div>
