<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<%= render :partial => "shared/head" %>
</head>

<body>

<div class="top">
	<%= show_page Page.get_system_page("Website Top") %>
</div>
<div class="middle">
	<table class="main_table" cellspacing=0 cellpadding=0 align=center>   
	 <tr>
	  <td align=center>
	   <div class="main_table_top">
	    <table align=center width="100%" cellpadding=0 cellspacing=0>
	     <tr>
	      <td align=left style="vertical-align:bottom;">
	      	<div class="main_logo">
	      		<% if File.exists?(RAILS_ROOT + "/public/themes/#{@setting[:theme]}/images/logo.png") %>
		      		<%= link_to "<img src=\"/themes/#{@setting[:theme]}/images/logo.png\" border=0 alt=\"#{@setting[:title]}\" title=\"#{@setting[:title]}\">", {:action => "index", :controller => "browse"} %>
				<% else %>
		      		<div class="title"><h1><%= link_to @setting[:title], {:action => "index", :controller => "browse"} %></h1></div>
					<div class="description"><%= @setting[:description] %> </div>					
				<% end %>
	      	</div>
		  </td>
	      <td align=right valign=bottom>
		      <%= render :partial => "browse/main_menu" %>
	      </td>
	     </tr>
	    </table>
	   </div>
	  </td>
	 </tr>
	
	 <tr>
	  <td valign=top align=center>
	   <div class="main_table_middle" align=center>
	
	    <div class="main_inner_top"> 
	     <div class="top_bar"><%= render :partial => "browse/top_bar" %></div>
	    </div> 
	
	    <div class="main_inner_middle">
	     <div id="main_content">
			 <%= render :partial => "shared/flash", :locals => {:flash => flash} %>
			 <%= render :partial => "/browse/banner_top" %>		 		 
			 <%= render :partial => "/user/menu" if @show_user_menu %>
			 <%= render :partial => "/admin/menu" if @show_admin_menu %>		 
		     <%= yield %>			
	 		 <% if @show_user_menu || @show_admin_menu %>
			  <%# Close Tab Div in Menu Partial %>
			  	</div>
			  </div>
			 <% end %>
	 		 <%= render :partial => "/browse/banner_bottom" %>
	     </div>
	    </div>
	    <div class="main_inner_bottom">
	    </div>
	
	   </div>
	  </td>
	 </tr>
	
	 <tr>
	  <td align=center>
	   <div class="main_table_bottom">
			<%= render :partial => "shared/footer" %>
	   </div>
	  </td>
	 </tr>
	</table>
</div>
<div class="bottom">
	<%= show_page Page.get_system_page("Website Bottom") %>
</div>

</body>

</html>
