<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<%= javascript_include_tag "/javascripts/tiny_mce/tiny_mce_popup" %>
	<%= javascript_include_tag "/javascripts/tiny_mce/plugins/opal/js/dialog" %>	
	<%= render :partial => "head" %>
</head>
<body>
	<div class="tinymce_popup wrapper">
		<%= render_flash %>
		<%= yield %>
	</div>
</body>
</html>
